<div>
    <div class="modal-header">
        <h3 class="modal-title">Wyszukaj i wybierz dostawę</h3>
    </div>
    <div class="modal-body text">
        <div>
            <a ng-click="find()" class="button button-search">szukaj</a>
        </div>
        <table class="table">
            <thead>
            <tr class="inputs">
                <th>
                    <input placeholder="ID dostawy" type="text"
                           ng-model="model.entity.id">
                </th>
                <th>
                    <select placeholder="Status dostawy"
                            ng-options="v.id as v.name for v in deliveryStatuses"
                            ng-model="model.entity.statusId"></select>
                </th>
                <th>
                    <input placeholder="ID Usługodawcy" type="text"
                           ng-model="model.entity.trainingInstitutionId">
                </th>
                <th>
                    <input placeholder="Nazwa Usługodawcy" type="text"
                           ng-model="model.entity.trainingInstitutionName">
                </th>
                <th>
                    <input placeholder="NIP" type="text"
                           ng-model="model.entity.trainingInstitutionVatRegNum">
                </th>
                <th>
                    <input placeholder="Adres dostawy" type="text"
                           ng-model="model.entity.deliveryAddress">
                </th>
                <th>
                    <input placeholder="Kod dostawy" type="text"
                           ng-model="model.entity.deliveryZipCode">
                </th>
                <th>
                    <input placeholder="Miasto dostawy" type="text"
                           ng-model="model.entity.deliveryCityName">
                </th>
                <th>
                    <div ng-click="getSortedBy('id')">Planowana data odbioru kuponów</div>
                    <input type="text"
                           placeholder="Data od"
                           ng-model="model.entity.plannedReceiptDateFrom"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.plannedReceiptDateFromOpened"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('plannedReceiptDateFromOpened')"/>
                    <input type="text"
                           placeholder="Data do"
                           ng-model="model.entity.plannedReceiptDateTo"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.plannedReceiptDateToOpened"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('plannedReceiptDateToOpened')"/>
                </th>
                <th>
                    <div ng-click="getSortedBy('id')">Data przyjęcia zgłoszenia</div>
                    <input type="text"
                           placeholder="Data od"
                           ng-model="model.entity.requestDateFrom"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.requestDateFromOpened"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('requestDateFromOpened')"/>
                    <input type="text"
                           placeholder="Data do"
                           ng-model="model.entity.requestDateTo"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.requestDateToOpened"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('requestDateToOpened')"/>
                </th>
                <th>
                    <div ng-click="getSortedBy('id')">Data otrzymania przesyłki</div>
                    <input type="text"
                           placeholder="Data od"
                           ng-model="model.entity.deliveryDateFrom"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.deliveryDateFromOpened"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('deliveryDateFromOpened')"/>
                    <input type="text"
                           placeholder="Data do"
                           ng-model="model.entity.deliveryDateTo"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.deliveryDateToOpened"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('deliveryDateToOpened')"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in list | limitTo: searchResultOptions.displayLimit" ng-click="$close(item)" class="mouseover">
                <td>{{::item.id}}</td>
                <td>{{::item.status.name}}</td>
                <td>{{::item.trainingInstitutionId}}</td>
                <td>{{::item.trainingInstitutionName}}</td>
                <td>{{::item.trainingInstitutionVatRegNum}}</td>
                <td>{{::item.deliveryAddress}}</td>
                <td>{{::item.deliveryZipCode}}</td>
                <td>{{::item.deliveryCity}}</td>
                <td>{{::item.plannedReceiptDate  | date:'yyyy-MM-dd'}}</td>
                <td>{{::item.requestDate  | date:'yyyy-MM-dd'}}</td>
                <td>{{::item.deliveryDate  | date:'yyyy-MM-dd'}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="searchResultOptions.overflow" class="centered-ul">
        <ul>
            <li><a href="" ng-click="loadMore()"
                   class="button button-infinity">wczytaj więcej wyników</a></li>
        </ul>
    </div>
    <div class="" ng-show="model.zipCodesArray.length===0">
        Brak wyników
    </div>
    <div class="msg msg-error" ng-show="searchResultOptions.badQuery">
        <p>Błąd kryteriów zapytania - niepoprawny format</p>
    </div>
    <div class="modal-footer">
        <div class="centered-ul">
            <ul>
                <li><button class="button button-cancel" ng-click="$dismiss()">Anuluj</button></li>
            </ul>
        </div>
    </div>
</div>