<div>
    <div class="modal-head green">
        <h3 class="modal-title">Wyszukaj i wybierz Usługodawcę</h3>
    </div>
    <div class="modal-body text">
        <div>
            <a ng-click="find()" class="button button-search">szukaj</a>
        </div>
        <table class="table">
            <thead>
            <tr class="inputs">
                <th>
                    <input placeholder="ID" type="text"
                           ng-model="model.entity.id">
                </th>
                <th>
                    <input placeholder="Nazwa firmy"
                           ng-model="model.entity.name">
                </th>
                <th>
                    <input placeholder="Numer NIP"
                           ng-model="model.entity.vatRegNum"
                           mask="9999999999">
                </th>
                <th>
                    <input placeholder="Adres do faktury"
                           ng-model="model.entity.addressInvoice">
                </th>
                <th>
                    <input placeholder="Kod pocztowy do faktury"
                           ng-model="model.entity.zipCodeInvoiceCode">
                </th>
                <th>
                    <input placeholder="Miasto do faktury"
                           ng-model="model.entity.zipCodeInvoiceCity">
                </th>
                <th>
                    <input placeholder="Adres do korespondencji"
                           ng-model="model.entity.addressCorr">

                </th>
                <th>
                    <input placeholder="Kod do korespondencji"
                           ng-model="model.entity.addressCorrCode">
                </th>
                <th>
                    <input placeholder="Miasto do korespondencji"
                           ng-model="model.entity.addressCorrCity">
                </th>
            </tr>
            </thead>
            <tr ng-repeat="item in list | limitTo: searchResultOptions.displayLimit" ng-click="$close(item)" class="mouseover">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.vatRegNum}}</td>
                <td>{{item.addressInvoice}}</td>
                <td>{{item.zipCodeInvoiceCode}}</td>
                <td>{{item.zipCodeInvoiceCity}}</td>
                <td>{{item.addressCorr}}</td>
                <td>{{item.addressCorrCode}}</td>
                <td>{{item.addressCorrCity}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="searchResultOptions.overflow" class="centered-ul">
        <ul>
            <li><a href="" ng-click="loadMore()"
                   class="button button-infinity">wczytaj więcej wyników</a></li>
        </ul>
    </div>
    <div class="" ng-show="model.searchResultList.length===0">
        Brak wyników
    </div>
    <div class="msg msg-error" ng-show="searchResultOptions.badQuery">
        <p>Błąd kryteriów zapytania - niepoprawny format</p>
    </div>
    <div class="modal-footer">
        <div class="centered-ul">
            <ul>
                <li><button class="button button-cancel" ng-click="$dismiss()">Anuluj</button></li>
            </ul>
        </div>
    </div>
</div>