<div>
    <div>
        <header id="header">
            <h1>Edycja kodu pocztowego</h1>
            <ul>
                <li>
                    <a ng-click="save()" class="button button-save">Zapisz</a>
                </li>
                <li>
                    <a ng-click="saveAndAdd()" class="button button-save">Zapisz i dodaj
                        następny</a>
                </li>
            </ul>
            <ol>
                <li>
                    <a ng-href="{{getPrevUrl()}}" class="button button-new"
                       target="_self">Anuluj </a>
                </li>
            </ol>
            <ol>
                <li>
                    <a ng-href="#" ng-click="newCode()" class="button button-new" target="_self">
                        Nowy kod
                    </a>
                </li>
            </ol>
        </header>

        <section>
            <div class="grid-50">
                <div class="grid-50">
                    <div class="field">
                        <strong class="label">Kod pocztowy</strong>
                        <input type="text" ng-model="model.entity.zipCode" maxlength="10">
                        <gryf-validation-msg path="zipCode"></gryf-validation-msg>
                    </div>
                    <div class="field">
                        <strong class="label">Miejscowość</strong>
                        <input type="text" ng-model="model.entity.cityName"
                               ng-class="cityName" class="uppercase" maxlength="100">
                        <gryf-validation-msg path="cityName"></gryf-validation-msg>
                    </div>
                    <div class="field">
                        <input id="activeCheckbox" type="checkbox" ng-model="model.entity.active"
                               ng-class="is_valid('active')" data-msg="{{model.violations.zipcode.active.message}}">
                        <label for="activeCheckbox"><strong>Aktywny</strong></label>
                        <gryf-validation-msg path="active"></gryf-validation-msg>
                    </div>
                    <div class="field">
                        <strong class="label">Województwo</strong>
                        <select ng-options="s as s.name for s in model.statesArray track by s.id "
                                ng-model="model.entity.state">
                        </select>
                        <gryf-validation-msg path="state"></gryf-validation-msg>
                    </div>
                    </div>
            </div>
        </section>


        <script type="text/html" id="modal-confirm">
            <div class="modal-header">
                <h3 class="modal-title">Czy na pewno?</h3>
            </div>
            <div class="modal-body text">
                <p>To ostatnia okazja, aby zrezygnować.</p>
            </div>
            <div class="modal-footer">
                <div class="centered-ul">
                    <ul>
                        <li><a class="button button-save" ng-click="$close(true)">OK</a></li>
                        <li><a class="button button-cancel button-gray" ng-click="$dismiss()">Cancel</a></li>
                    </ul>
                </div>
            </div>
        </script>

    </div>
</div>