<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
<div>
    <section>
        <header id="header">
            <h1>Panel Uczestnika</h1>
        </header>
        <h1>Dane z umowy</h1>
        <div class="grid-100">
            <div class="grid-30">
                <div>
                    <strong class="label">Imię i nazwisko</strong>
                    <input type="text" value="{{model.entity.firstName + ' ' + model.entity.lastName}}" disabled="disabled">
                </div>
                <div>
                    <strong class="label">Pesel</strong>
                    <input type="text" ng-model="model.entity.pesel" disabled="disabled">
                </div>
            </div>
            <div class="grid-70">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th class="sortable" ng-class="getSortingTypeClass('id')">
                            <div>Moje umowy</div>
                        </th>

                        <th class="sortable" ng-class="getSortingTypeClass('status.id')">
                            <div>Data podpisania umowy</div>
                        </th>
                        <th class="sortable" ng-class="getSortingTypeClass('enterprise.id')">
                            <div>Kategoria szkolenia</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="agr in model.entity.agreements">
                        <td>{{agr.id}}</td>
                        <td>{{agr.signingDate}}</td>
                        <td>{{agr.trainingCategoriesNames}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section>
        <h1>Liczba bonów</h1>
        <div class="grid-100">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="sortable" ng-class="getSortingTypeClass('id')">
                        <div>Data ważności</div>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('status.id')">
                        <div>Wszystkie</div>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('enterprise.id')">
                        <div>Zarezerwowane</div>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('basicData.vatRegNum')">
                        <div>Dostępne</div>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('basicData.enterpriseName')">
                        <div>Wykorzystane</div>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('basicData.zipCodeInvoice.zipCode')">
                        <div>Data zamówienia</div>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('basicData.addressInvoice')">
                        <div>ID zamówienia</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in model.entity.products">
                    <td>{{product.expirationDate}}</td>
                    <td>{{product.grantedProductsCount}}</td>
                    <td>{{product.reservedProductsCount}}</td>
                    <td>{{product.availableProductsCount}}</td>
                    <td>{{product.usedProductsCount}}</td>
                    <td>{{product.orderDate}}</td>
                    <td>{{product.orderId}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h1>Szkolenia</h1>
        <div class="grid-100">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="sortable" ng-class="getSortingTypeClass('enterprise.id')">
                        <div>Nazwa szkolenia</div>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('basicData.enterpriseName')">
                        <div>Nazwa Instytucji Szkoleniowej</div>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('basicData.vatRegNum')">
                        <div>Liczba bonów</div>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('basicData.addressInvoice')">
                        <div>Data zapisu</div>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('id')">
                        <div>Data rozpoczęcia</div>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('status.id')">
                        <div>Data zakończenia</div>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('status.id')">
                        <div>Status</div>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('basicData.zipCodeInvoice.zipCode')">
                        <div>
                            Akcje
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tra in model.entity.trainings">
                    <td>{{tra.name}}</td>
                    <td>{{tra.trainingInstitutionName}}</td>
                    <td>{{tra.productsCount}}</td>
                    <td>{{tra.signDate}}</td>
                    <td>{{tra.startDate}}</td>
                    <td>{{tra.endDate}}</td>
                    <td>{{tra.status}}</td>
                    <td>
                        <button ng-if="tra.status == 'Zarezerwowane'" data-ng-click="sendPIN()" type="submit" class="button">Wyślij PIN</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
