<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>

<div>
    <header id="header">
        <h1>Szczegóły rezerwacji usługi</h1>
        <ul ng-if="isInStatus('RES')">
            <li>
                <a ng-click="openConfirmModal()" class="button button-save"
                   gryf-privilege="GRF_PBE_TI_TRAINING_INSTANCES_MOD">Zatwierdź obecność</a>
            </li>
            <li>
                <a ng-click="cancelTrainingReservation()" class="button button-save"
                   gryf-privilege="GRF_PBE_TI_TRAINING_INSTANCES_MOD">Anuluj rezerwację</a>
            </li>
        </ul>
        <ul ng-if="isInStatus('REIMB')">
            <li>
                <a ng-click="cancelTrainingReimbursement()" class="button button-save"
                   gryf-privilege="GRF_PBE_TI_TRAINING_INSTANCES_STATUS_MOD">Anuluj rozliczenie</a>
            </li>
            <li>
                <a ng-click="rejectTrainingInstanceReimb()" class="button button-save"
                   gryf-privilege="GRF_PBE_TI_TRAINING_INSTANCES_STATUS_MOD">Odrzuć rozliczenie</a>
            </li>
        </ul>
        <ul ng-if="isInStatus('DONE')">
            <li>
                <a ng-click="openReduceModal()" class="button button-save"
                   gryf-privilege="GRF_PBE_TI_TRAINING_INSTANCES_STATUS_MOD">Zmniejsz liczbę bonów</a>
            </li>
            <li>
                <a ng-click="cancelTrainingInstanceDone()" class="button button-save"
                   gryf-privilege="GRF_PBE_TI_TRAINING_INSTANCES_STATUS_MOD">Anuluj szkolenie</a>
            </li>
        </ul>
        <ol>
            <li>
                <a ng-href="./" class="button" target="_self">Wstecz</a>
            </li>
        </ol>
    </header>

    <section>
        <div class="grid-100">
            <header>
                <h2>Dane rezerwacji</h2>
            </header>
        </div>
        <div class="grid-100">
            <div class="grid-10">
                <strong class="label">ID rezerwacji</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingInstanceId" disabled="disabled">
            </div>
            <div class="grid-15">
                <strong class="label">Program dofinansowania</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.grantProgramName" disabled="disabled">
            </div>
            <div class="grid-10">
                <strong class="label">Liczba bonów</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.productAssignedNum" disabled="disabled">
            </div>
            <div class="grid-10">
                <strong class="label">Status rezerwacji</strong>
                <select ng-options="v.id as v.name for v in statusesDictionary | orderBy:'ordinal'"
                        ng-model="trainingInstanceModel.entity.trainingInstanceStatusId" disabled="disabled"></select>
            </div>
            <div class="grid-20">
                <strong class="label">PIN do zatwierdzenia obecności</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.pinCode" disabled="disabled">
            </div>
        </div>
    </section>

    <section>
        <div class="grid-100">
            <header>
                <h2>Dane Usługodawcy</h2>
            </header>
        </div>
        <div class="grid-100">
            <div class="grid-10">
                <a ng-href="{{getUrlFor(MODULES.TrainingInstitution, trainingInstanceModel.entity.trainingInstitutionId)}}">
                    <strong class="label">ID usługodawcy &UpperRightArrow; </strong>
                </a>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingInstitutionId" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">Nazwa instutucji</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingInstitutionName" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">NIP usługodawcy</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingInstitutionVatRegNum" disabled="disabled">
            </div>
        </div>
    </section>

    <section>
        <div class="grid-100">
            <header>
                <h2>Dane uczestnika</h2>
            </header>
        </div>
        <div class="grid-100">
            <div class="grid-10">
                <a ng-href="{{getUrlFor(MODULES.Individual, trainingInstanceModel.entity.participantId)}}">
                    <strong class="label">ID uczestnika &UpperRightArrow; </strong>
                </a>
                <input type="text" ng-model="trainingInstanceModel.entity.participantId" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">PESEL uczestnika</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.participantPesel" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">Imię uczestnika</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.participantName" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">Nazwisko Uczestnika</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.participantSurname" disabled="disabled">
            </div>
        </div>
    </section>

    <section>
        <div class="grid-100">
            <header>
                <h2>Dane usługi</h2>
            </header>
        </div>
        <div class="grid-100">
            <div class="grid-10">
                <a ng-href="{{getUrlFor(MODULES.Training, trainingInstanceModel.entity.trainingId)}}">
                    <strong class="label">ID usługi &UpperRightArrow; </strong>
                </a>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingId" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">Nazwa usługi</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingName" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">Nr usługi</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingExternalId" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">Kategoria usługi</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingCategory" disabled="disabled">
            </div>
        </div>
        <div class="grid-100">
            <div class="grid-15">
                <strong class="label">Data rozpoczęcia</strong>
                <input type="text" value="{{trainingInstanceModel.entity.startDate | date:'yyyy-MM-dd'}}" disabled="disabled">
            </div>
            <div class="grid-15">
                <strong class="label">Data zakończenia</strong>
                <input type="text" value="{{trainingInstanceModel.entity.endDate | date:'yyyy-MM-dd'}}" disabled="disabled">
            </div>
            <div class="grid-15">
                <strong class="label">Maks. liczba bonów</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.maxProductsNumber" disabled="disabled">
            </div>
            <div class="grid-15">
                <strong class="label">Dokonano oceny</strong>
                <input type="text" value="{{trainingInstanceModel.entity.opinionDone ? 'Tak' : 'Nie'}}" maxlength="3" disabled="disabled">
            </div>
        </div>
    </section>
</div>