<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>

<div>
    <header id="header">
        <h1>Szczegóły rezerwacji szkolenia</h1>
        <ul ng-if="isInStatus('RES')">
            <li>
                <a ng-click="confirmReservationPIN()" class="button button-save">Zatwierdź obecność</a>
            </li>
            <li>
                <a ng-click="cancelTrainingReservation()" class="button button-save">Anuluj rezerwację</a>
            </li>
        </ul>
        <ol>
            <li>
                <a ng-href="{{getPrevUrl()}}" class="button" target="_self">Wstecz</a>
            </li>
        </ol>
    </header>

    <section>
        <div class="grid-100">
            <header>
                <h2>Dane rezerwacji</h2>
            </header>
        </div>
        <div class="grid-100">
            <div class="grid-10">
                <strong class="label">ID rezerwacji</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingInstanceId" disabled="disabled">
            </div>
            <div class="grid-15">
                <strong class="label">Program dofinansowania</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.grantProgramName" disabled="disabled">
            </div>
            <div class="grid-10">
                <strong class="label">Liczba bonów</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.prdValue" disabled="disabled">
            </div>
            <div class="grid-10">
                <strong class="label">Status rezerwacji</strong>
                <select ng-options="v.id as v.name for v in statusesDictionary | orderBy:'ordinal'"
                        ng-model="trainingInstanceModel.entity.trainingInstanceStatusId" disabled="disabled"></select>
            </div>
        </div>
        <div class="grid-100" ng-show="isInStatus('RES')">
            <div class="grid-20">
                <strong class="label">PIN do zatwierdzenia obecności</strong>
                <input type="text" ng-model="pinCode">
            </div>
        </div>
    </section>

    <section>
        <div class="grid-100">
            <header>
                <h2>Dane instytucji szkoleniowej</h2>
            </header>
        </div>
        <div class="grid-100">
            <div class="grid-10">
                <a ng-href="{{getUrlFor(MODULES.TrainingInstitution, trainingInstanceModel.entity.trainingInstitutionId)}}">
                    <strong class="label">ID instytucji &UpperRightArrow; </strong>
                </a>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingInstitutionId" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">Nazwa instutucji</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingInstitutionName" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">NIP instytucji</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingInstitutionVatRegNum" disabled="disabled">
            </div>
        </div>
    </section>

    <section>
        <div class="grid-100">
            <header>
                <h2>Dane uczestnika</h2>
            </header>
        </div>
        <div class="grid-100">
            <div class="grid-10">
                <a ng-href="{{getUrlFor(MODULES.Individual, trainingInstanceModel.entity.participantId)}}">
                    <strong class="label">ID uczestnika &UpperRightArrow; </strong>
                </a>
                <input type="text" ng-model="trainingInstanceModel.entity.participantId" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">PESEL uczestnika</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.participantPesel" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">Imię uczestnika</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.participantName" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">Nazwisko Uczestnika</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.participantSurname" disabled="disabled">
            </div>
        </div>
    </section>

    <section>
        <div class="grid-100">
            <header>
                <h2>Dane szkolenia</h2>
            </header>
        </div>
        <div class="grid-100">
            <div class="grid-10">
                <a ng-href="{{getUrlFor(MODULES.Training, trainingInstanceModel.entity.trainingId)}}">
                    <strong class="label">ID szkolenia &UpperRightArrow; </strong>
                </a>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingId" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">Nazwa szkolenia</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingName" disabled="disabled">
            </div>
            <div class="grid-20">
                <strong class="label">Kategoria szkolenia</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.trainingCategory" disabled="disabled">
            </div>
            <div class="grid-15">
                <strong class="label">Data rozpoczęcia</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.startDate" disabled="disabled">
            </div>
            <div class="grid-15">
                <strong class="label">Data zakończenia</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.endDate" disabled="disabled">
            </div>
            <div class="grid-15">
                <strong class="label">Maks. liczba bonów</strong>
                <input type="text" ng-model="trainingInstanceModel.entity.maxProductsNumber" disabled="disabled">
            </div>
        </div>
    </section>
</div>