<section>
    <table>
        <thead>
        <tr class="grid-100 tableHeader-names">
            <th class="sortable grid-10" ng-class="getSortingTypeClass('name')">
                <div >Projekt Dofinansowania</div>
            </th>
            <th class="sortable grid-15" ng-class="getSortingTypeClass('rmbsNumber')">
                <div ng-click="getSortedBy('rmbsNumber')">Numer rozliczenia</div>
            </th>
            <th class="sortable grid-15" ng-class="getSortingTypeClass('trainingName')">
                <div ng-click="getSortedBy('trainingName')">Nazwa usługi</div>
            </th>
            <th class="sortable grid-10" ng-class="getSortingTypeClass('trainingExternalId')">
                <div ng-click="getSortedBy('trainingExternalId')">Nr usługi</div>
            </th>
            <th class="sortable grid-15" ng-class="getSortingTypeClass('pesel')">
                <div ng-click="getSortedBy('pesel')">PESEL Uczestnika</div>
            </th>
            <th class="sortable grid-10" ng-class="getSortingTypeClass('participantName')">
                <div ng-click="getSortedBy('participantName')">Imię uczestnika</div>
            </th>
            <th class="sortable grid-15" ng-class="getSortingTypeClass('participantSurname')">
                <div ng-click="getSortedBy('participantSurname')">Nazwisko uczestnika</div>
            </th>
            <th class="sortable grid-15" ng-class="getSortingTypeClass('rmbsDate')">
                <div ng-click="getSortedBy('rmbsDate')">Data rozliczenia</div>
            </th>
            <th class="sortable grid-15" ng-class="getSortingTypeClass('rmbsStatus')">
                <div ng-click="getSortedBy('rmbsStatus')">Status rozliczenia</div>
            </th>
        </tr>
        <tr class="grid-100 tableHeader-options">
            <th class="grid-10">
                <select
                        ng-options="v.id as v.name for v in grantPrograms"
                        ng-model="elctRmbsCriteria.grantProgramId"></select>
            </th>
            <th class="grid-15">
                <input type="text" ng-model="elctRmbsCriteria.rmbsNumber">
            </th>
            <th class="grid-15">
                <input type="text" ng-model="elctRmbsCriteria.trainingName"/>
            </th>
            <th class="grid-10">
                <input type="text" ng-model="elctRmbsCriteria.trainingExternalId"/>
            </th>
            <th class="grid-15">
                <input type="text" ng-model="elctRmbsCriteria.pesel">
            </th>
            <th class="grid-10">
                <input ng-model="elctRmbsCriteria.participantName">
            </th>
            <th class="grid-15">
                <input ng-model="elctRmbsCriteria.participantSurname">
            </th>
            <th class="grid-15">
                <input type="text" placeholder="Data rozpoczęcia" ng-model="elctRmbsCriteria.rmbsDateFrom"
                       datepicker-popup="yyyy-MM-dd" is-open="datepicker.isRmbsDateFromOpened"
                       close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                       ng-click="openDatepicker('isRmbsDateFromOpened')"/>

                <input type="text" placeholder="Data zakończenia" ng-model="elctRmbsCriteria.rmbsDateTo"
                       datepicker-popup="yyyy-MM-dd" is-open="datepicker.isRmbsDateToOpened"
                       close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                       ng-click="openDatepicker('isRmbsDateToOpened')"/>
            </th>
            <th class="grid-15">
                <select ng-model="elctRmbsCriteria.rmbsStatus"
                        ng-options="v.name as v.name for v in elctRmbsModel.rmbsStatuses">
                    <option value="">Wszystkie</option>
                </select>
            </th>
            <th>
                <div>
                    <button class="button button-refresh" ng-click="clear()">Wyczyść</button>
                </div>
                <div>
                    <button class="standardButton" ng-click="find()">Wyszukaj</button>
                </div>
            </th>
        </tr>
        </thead>
        <tbody class="tableData">
        <tr ng-repeat="item in elctRmbsModel.foundRmbs | limitTo: searchResultOptions.displayLimit" ng-class="{'row-even': $even, 'row-odd': $odd}">
            <td>{{::item.grantProgramName}}</td>
            <td>{{::item.rmbsNumber}}</td>
            <td>{{::item.trainingName}}</td>
            <td>{{::item.trainingExternalId}}</td>
            <td>{{::item.pesel}}</td>
            <td>{{::item.participantName}}</td>
            <td>{{::item.participantSurname}}</td>
            <td>{{::item.rmbsDate  | date:'yyyy-MM-dd'}}</td>
            <td>{{::item.rmbsStatus}}</td>
            <td>
                <ul class="text-center no-margin-padding">
                    <li class="textButton green" ui-sref="reimburseDetails({reimbursementId: item.rmbsNumber})">SZCZEGÓŁY</li>
                    <li class="textButton green" data-ng-if="isInState(item, 'T_CRR')" ui-sref="correct({reimbursementId: item.rmbsNumber})">KORYGUJ</li>
                    <li class="textButton green" data-ng-if="isInState(item, 'NEW')" ui-sref="reimburse({trainingInstanceId: item.trainingInstanceId})">WYŚLIJ</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-show="searchResultOptions.overflow" class="text-center">
        <ul>
            <li>
                <button ng-click="loadMore()" class="standardButton">Wczytaj więcej wyników</button>
            </li>
        </ul>
    </div>
    <div class="emptyResult" ng-show="elctRmbsModel.foundRmbs.length == 0">
        Brak wyników
    </div>
</section>