<div class="modal-head green">
    <div class="modal-title">Rezerwacja usługi</div>
    <button class="close"ng-click="close(true)">&times;</button>
</div>
<form name="reservationForm" class="modal-body">
    <span class="alert-text">W celu rezerwacji usługi prosimy o wpisanie liczby rezerwowanych bonów i potwierdzenie operacji</span>
    <div class="row-30"></div>
    <div class="block">
        <div class="multiSection">
            <div class="grid-15">
                <strong class="label">Imię i nazwisko</strong>
                <div>{{userTrainingReservationData.data.firstName + " " + userTrainingReservationData.data.lastName}}</div>
            </div>
            <div class="grid-15">
                <strong class="label">PESEL</strong>
                <div>{{userTrainingReservationData.data.pesel}}</div>
            </div>
            <div class="grid-30">
                <table>
                    <thead class="text-left" style="vertical-align: top;">
                    <th class="grid-10">
                        <strong class="label">Liczba bonów</strong>
                    </th>
                    <th class="grid-10">
                        <strong class="label">Data ważności</strong>
                    </th>
                    </thead>
                    <tbody class="tableData">
                    <tr ng-repeat="pool in userTrainingReservationData.data.productInstancePools" ng-class="{'row-even': $even, 'row-odd': $odd}">
                        <td>{{::pool.availableNum}}</td>
                        <td>{{::pool.expiryDate  | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid-20">
                <strong class="label">Program dofinansowania</strong>
                <div ng-repeat="contract in userTrainingReservationData.data.contracts">{{contract.grantProgram.name}}</div>
            </div>
            <div class="grid-20 centered">
                <strong class="label">Liczba rezerwowanych bonów (minimum 1)</strong>
                <input name="toReservedNumInput" type="text" maxlength="5"
                       force-digits pattern-type="integer" ng-model="toReservedNum">
                <gryf-validation-msg path="toReservedNum"></gryf-validation-msg>
            </div>
        </div>
    </div>
    <div class="row-30"></div>
    <table>
        <thead>
        <tr class="grid-100 tableHeader-names">
            <th class="grid-20">Nazwa usługi</th>
            <th class="grid-10">Nr usługi</th>
            <th class="grid-10">Kategoria usługi</th>
            <th class="grid-15">Data rozpoczęcia</th>
            <th class="grid-15">Data zakończenia</th>
            <th class="grid-10">Maks. liczba bonów do zarezerwowania</th>
            <th class="grid-10">Mnożnik bonów dla kategorii</th>
        </tr>
        </thead>
        <tbody class="tableData">
        <tr>
            <td>{{training.data.name}}</td>
            <td>{{training.data.externalId}}</td>
            <td>{{training.data.category}}</td>
            <td>{{training.data.startDate  | date:'yyyy-MM-dd'}}</td>
            <td>{{training.data.endDate  | date:'yyyy-MM-dd'}}</td>
            <td>{{training.data.maxProductsNumber}}</td>
            <td>x{{training.data.productInstanceForHour}}</td>
        </tr>
        </tbody>
    </table>
    <div class="row-30"></div>
    <div class="grid-100 text-center">
        <button ng-disabled="!toReservedNum || toReservedNum == 0"
                class="row-10 standardButton" ng-click="reserveTraining()">Rezerwuję usługę</button>
    </div>
</form>