<div class="grid-100">
    <div class="grid-60" gryf-mandatory-flag="{{item.flags}}">
        <strong class="label">
            {{item.name}}
        </strong>

        <div ng-if="isInFormat(item, 'INTEGER')">
            <input type="text" ng-model="item.valueNumber" gryf-data-modification-flags="{{item.flags}}"
                   ui-number-mask="0" ui-hide-group-sep
                   gryf-privilege="{{item.privilege}}" >
        </div>

        <div ng-if="isInFormat(item, 'CURRENCY')">
            <input type="text" ng-model="item.valueNumber" gryf-data-modification-flags="{{item.flags}}"
                   ui-number-mask ui-hide-group-sep
                   gryf-privilege="{{item.privilege}}">
        </div>

        <div ng-if="!item.elementTypeParams">
            <input type="number" ng-model="item.valueNumber"
                   gryf-data-modification-flags="{{item.flags}}"
                   gryf-privilege="{{item.privilege}}">
        </div>
        <gryf-validation-msg path="{{item.orderFlowElementId}}"/>
    </div>

    <div class="grid-20">
        <strong class="label">
            Data wymagana danych
        </strong>
        {{item.requiredDate | date:'yyyy-MM-dd'}}
    </div>
    <div class="grid-20">
        <strong class="label">
            Data uzupełnienia danych
        </strong>
        {{item.completedDate | date:'yyyy-MM-dd HH:mm:ss'}}
    </div>
</div>    