<div class="grid-100">
    <div class="grid-60" gryf-mandatory-flag="{{item.flags}}">
        <strong class="label"> {{item.name}} </strong>


        <span ng-if="!isType(item, 'TEXTAREA')">
            <input type="text"
                   ng-model="item.valueVarchar"
                   maxlength="{{getMaxLength(item)}}"
                   gryf-data-modification-flags="{{item.flags}}"
                   gryf-privilege="{{item.privilege}}">
        </span>

        <span ng-if="isType(item, 'TEXTAREA')">
            <textarea cols="{{getTextAreaCols(item)}}"
                      rows="{{getTextAreaRows(item)}}"
                      maxlength="{{getMaxLength(item)}}"
                      ng-model="item.valueVarchar"
                      gryf-data-modification-flags="{{item.flags}}"
                      gryf-privilege="{{item.privilege}}">
            </textarea>
        </span>

        <gryf-validation-msg path="{{item.orderFlowElementId}}"/>
    </div>

    <div class="grid-20">
        <strong class="label"> Data wymagana danych </strong>
        {{item.requiredDate | date:'yyyy-MM-dd'}}
    </div>
    <div class="grid-20">
        <strong class="label"> Data uzupełnienia danych </strong>
        {{item.completedDate | date:'yyyy-MM-dd HH:mm:ss'}}
    </div>
</div>
