<div class="width-100">
    <div class="grid-100">    
        <header>
            <h2>{{item.name}}</h2>
        </header>
    </div>        
    <div class="grid-100">
        <div class="grid-30">
            <strong class="label">Przyznana liczba bonów</strong>
            <input type="text" ng-model="item.givenVouchersNumber"
                   readonly="readonly">
        </div>

        <div class="grid-30">
            <strong class="label">Kwota do wpłaty</strong>
            <input type="text"
                   ng-model="item.paymentAmount"
                   ui-number-mask
                   ui-hide-group-sep
                   readonly="readonly">

        </div>

        <div class="grid-40">
            <strong class="label">Numer subkonta do wpłaty</strong>
            <input type="text"
                   ng-model="item.paymentAccount"
                   readonly="readonly">
        </div>
    </div>
</div>
