<div ng-class="{fixedGrantAppView : isGrantAppFixed}">
    <div ng-if="orderStatus.loaded">
        <div class="grid-100">
            <header>
                <h2>{{item.name}}</h2>
            </header>
        </div>
        <div ng-controller="ComplexTypeGrantApplicationController" class="grid-100">
            <div class="nestedGrantApplication" ng-if="grantAppReady">
                <div ng-include="getApplicationLink()" gryf-disabled-form></div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Nazwa załącznika</th>
                        <th>Plik załącznika</th>
                        <th>Uwagi</th>
                        <th>Akcja</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="attachment in grantApplicationAttachments">
                        <td><input type="text" ng-model="attachment.name"
                                   disabled="disabled">
                        </td>
                        <td>
                            <div>
                                {{attachment.file[0].name ? attachment.file[0].name :
                                attachment.originalFileName }}
                            </div>

                        </td>
                        <td><input type="text"
                                   ng-model="attachment.remarks"
                                   disabled="disabled"></td>
                        <td>
                            <a ng-if="attachment.originalFileName" class="button button-add"
                               ng-href="{{getDownloadAttachmentLink(attachment)}}">Pobierz
                                załącznik</a>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="toggleGrantAppViewCheckbox">
                <label
                        for='toggleGrantAppView_{{item.id}}'>Przełącz widok </label>
                <input type='checkbox' id='toggleGrantAppView_{{item.id}}'
                       ng-click="toggleGrantAppView()">
            </div>
        </div>
    </div>
</div>