<div ng-controller="GrantApplicationV1Controller">
    <header class="haedline">
        <h1 class="uppercase">{{entityObject.grantProgram.name}}</h1>

        <h2>{{entityObject.applicationVersion.name}}</h2>
    </header>

    <section>

        <div class="grid-100">
            <div class="grid-20">
                <strong class="label">Pełna nazwa MŚP</strong>
                <input type="text" ng-model="entityVersionObject.enterpriseName"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                <gryf-validation-msg path="enterpriseName"/>
            </div>

            <div class="grid-20">
                <strong class="label">NIP</strong>
                <input type="text" ng-model="entityVersionObject.vatRegNum"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                <gryf-validation-msg path="vatRegNum"/>
            </div>
        </div>
        <div class="grid-100">
            <div class="grid-20">
                <strong class="label">REGON</strong>
                <input type="text" ng-model="entityVersionObject.regon"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                <gryf-validation-msg path="regon"/>
            </div>
        </div>
        <div class="grid-100">
            <div class="grid-20">
                <strong class="label">Forma prawna wykonywanej działalności
                    lub w przypadku osób fizycznych prowadzących działalność
                    gospodarczą imię i nazwisko, PESEL
                </strong>
                <select
                        ng-options="item as item.name for item in dictionaries.entityTypes track by item.id"
                        ng-model="entityVersionObject.entityType"
                        gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                        gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                </select>
                <gryf-validation-msg path="entityType"/>
            </div>
        </div>
        <div class="grid-100">
            <div class="grid-20">
                <strong class="label">Adres MŚP - ulica</strong>
                <input type="text" ng-model="entityVersionObject.addressInvoice"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                <gryf-validation-msg path="addressInvoice"/>
            </div>
            <div class="grid-20">
                <strong class="label">Adres MŚP - kod i miasto</strong>
                {{entityVersionObject.zipCodeInvoice.zipCode}}
                {{entityVersionObject.zipCodeInvoice.cityName}}
                <a ng-click="openInvoiceZipCodesLov()" class="button button-save"
                   gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                   gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">wybierz</a>
                <gryf-validation-msg path="zipCodeInvoice"/>
            </div>
        </div>
        <div class="grid-100">
            <div class="grid-40">
                <div>
                    <strong class="label">
                        Imię i nazwisko, nr telefonu oraz adres mailowy osoby do kontaktu
                        (uprawnionej do otrzymywania informacji na temat statusu
                        zamówienia bonów szkoleniowych i do kontaktów roboczych)
                    </strong>

                    <a class="button button-add" ng-click="addContact()"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">Dodaj kontakt</a>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Imię i nazwisko</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tr ng-repeat="contact in entityVersionObject.contacts">
                        <td><input type="text" ng-model="contact.name"
                                   gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                                   gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                            <gryf-validation-msg path="contacts[{{$index}}].name"/>
                        </td>
                        <td><input type="text" ng-model="contact.email"
                                   gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                                   gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                            <gryf-validation-msg path="contacts[{{$index}}].email"/>
                        </td>
                        <td><input type="text" ng-model="contact.phone"
                                   gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                                   gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                            <gryf-validation-msg path="contacts[{{$index}}].phone"/>
                        </td>
                        <td>
                            <a ng-click="removeContact(contact)"
                               class="button button-delete"
                               gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                               gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">Usuń</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="grid-100">
            <div class="grid-20">
                <strong class="label">
                    Branża – główny obszar działalności, klasa PKD, zgodnie z
                    rozp. Rady Ministrów z dn.24.12.2007 r. w sprawie Polskiej Klasyfikacji
                    Działalności
                    (Dz. U. Nr 251, poz. 1885)
                </strong>
            </div>

            <div class="grid-100">
                <a ng-click="addPkd()" class="button button-add"
                   gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                   gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">Dodaj...</a>
            </div>

            <div class="grid-100">
                <div class="grid-10 inline-block"
                     ng-repeat="pkd in entityVersionObject.pkdList">
                    <input type="text" ng-model="pkd.name"
                           gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                           gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                    <a ng-click="removePkd(pkd)" class="button button-delete"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC"></a>
                    <gryf-validation-msg path="pkdList[{{$index}}].name"/>
                </div>
            </div>
        </div>
        <div class="grid-100">
            <div class="grid-40">
                <strong class="label">
                    Wielkość przedsiębiorstwa
                </strong>
                <ul>
                    <li>
                        Mikro przedsiębiorstwa definiuje się jako przedsiębiorstwa, które:
                        <ul>
                            <li>zatrudniają mniej niż 10 pracowników, oraz
                                spełniają jeden z następujących warunków:
                            </li>
                            <li>
                                <ul>
                                    <li>roczne obroty nie przekraczają 2 milionów EURO, lub</li>
                                    <li>roczna suma bilansowa nie przekracza 2 milionów EURO,</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Małe przedsiębiorstwa definiuje się jako przedsiębiorstwa, które :
                        <ul>
                            <li>zatrudniają mniej niż 50 pracowników, oraz</li>
                            <li>spełniają jeden z następujących warunków:</li>
                            <li>
                                <ul>
                                    <li>roczne obroty nie przekraczają 10 milionów EURO, lub</li>
                                    <li>roczna suma bilansowa nie przekracza 10 milionów EURO,</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Średnie przedsiębiorstwa definiuje się jako przedsiębiorstwa, które :
                        <ul>
                            <li>zatrudniają mniej niż 250 pracowników, oraz</li>
                            <li>spełniają jeden z następujących warunków:</li>
                            <li>
                                <ul>
                                    <li>roczne obroty nie przekraczają 50 milionów EURO, lub</li>
                                    <li>roczna suma bilansowa nie przekracza 43 milionów EURO.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <select
                        ng-options="item as item.name for item in dictionaries.enterpriseSizes track by item.id"
                        ng-model="entityVersionObject.enterpriseSize"
                        gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                        gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                </select>
                <gryf-validation-msg path="enterpriseSize"/>
            </div>
        </div>
        <div class="grid-100">
            <div class="grid-20">
                <strong class="label">
                    Rok powstania MŚP
                </strong>
                <input type="text" ng-model="entityVersionObject.enterpriseEstablishedYear"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC"/>
                <gryf-validation-msg path="enterpriseEstablishedYear"/>
            </div>
        </div>
        <div class="grid-100">
            <div class="grid-20">
                <strong class="label">
                    Ilość zamawianych bonów
                </strong>
                <input type="text" ng-model="entityVersionObject.vouchersNumber"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC"/>
                <gryf-validation-msg path="vouchersNumber"/>
            </div>
        </div>
        <div class="grid-100">
            <div class="grid-20">
                <strong class="label">Dane teleadresowe podmiotu, do którego należy przesłać bony -
                    ulica </strong>
                <input type="text" ng-model="entityVersionObject.addressCorr"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                <gryf-validation-msg path="addressCorr"/>
            </div>
            <div class="grid-20">
                <strong class="label">Dane teleadresowe - kod i miasto</strong>
                {{entityVersionObject.zipCodeCorr.zipCode}}
                {{entityVersionObject.zipCodeCorr.cityName}}
                <a ng-click="openCorrZipCodesLov()" class="button button-save"
                   gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                   gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">wybierz</a>
                <gryf-validation-msg path="zipCodeCorr"/>
            </div>
        </div>
        <div class="grid-100">
            <div class="grid-40">
                <div>
                    <strong class="label">
                        Dane osób upoważnionych do odbior bonów
                    </strong>

                    <a class="button button-add" ng-click="addDeliveryContact()"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">Dodaj kontakt</a>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Imię i nazwisko</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tr ng-repeat="contact in entityVersionObject.deliveryContacts">
                        <td><input type="text" ng-model="contact.name"
                                   gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                                   gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                            <gryf-validation-msg path="deliveryContacts[{{$index}}].name"/>
                        </td>
                        <td><input type="text" ng-model="contact.email"
                                   gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                                   gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                            <gryf-validation-msg path="deliveryContacts[{{$index}}].email"/>
                        </td>
                        <td><input type="text" ng-model="contact.phone"
                                   gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                                   gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                            <gryf-validation-msg path="deliveryContacts[{{$index}}].phone"/>
                        </td>
                        <td>
                            <a ng-click="removeDeliveryContact(contact)"
                               class="button button-delete"
                               gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                               gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">Usuń</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="grid-100">
            <div class="grid-20">
                <strong class="label">
                    Numer rachunku bankowego
                </strong>
                <input type="text" ng-model="entityVersionObject.accountRepayment"  maxlength="26"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC"/>
                <gryf-validation-msg path="accountRepayment"/>
            </div>
        </div>

    </section>
</div>