<div class="width-100">
    <div class="grid-100">    
        <header>
            <h2>{{item.name}}</h2>
        </header>
    </div>        
    <div class="grid-100">
        <div class="grid-10">
            <strong class="label">Liczba bonów</strong>
            <input type="text" ng-model="item.productInstanceNum" readonly="readonly">
        </div>
        <div class="grid-10">
            <strong class="label">Cena za 1 bon</strong>
            <input type="text" ng-model="item.productInstanceAmount" readonly="readonly">
        </div>
        <div class="grid-20">
            <strong class="label">Procent wkładu własnego</strong>
            <input type="text" ng-model="item.ownContributionPercen" readonly="readonly">
        </div>
        <div class="grid-20">
            <strong class="label">Kwota wkładu własnego</strong>
            <input type="text" ng-model="item.ownContributionAmont" readonly="readonly">
        </div>
        <div class="grid-20">
            <strong class="label">Kwota dofinansowania</strong>
            <input type="text" ng-model="item.grantAmount" readonly="readonly">
        </div>
        <div class="grid-20">
            <strong class="label">Kwota zamówienia</strong>
            <input type="text" ng-model="item.orderAmount" readonly="readonly">
        </div>
    </div>
</div>
