<section>
   <table>
      <thead>
      <tr class="grid-100 tableHeader-names">
         <th class="sortable grid-20" ng-class="getSortingTypeClass('name')">
            <div ng-click="getSortedBy('name')">Nazwa szkolenia</div>
         </th>
         <th class="sortable grid-10" ng-class="getSortingTypeClass('price')">
            <div ng-click="getSortedBy('price')">Cena szkolenia (PLN)</div>
         </th>
         <th class="sortable grid-10" ng-class="getSortingTypeClass('hoursNumber')">
            <div ng-click="getSortedBy('hoursNumber')">Liczba godzin szkoleniowych</div>
         </th>
         <th class="sortable grid-10" ng-class="getSortingTypeClass('startDate')">
            <div ng-click="getSortedBy('startDate')">Data rozpoczęcia</div>
         </th>
         <th class="sortable grid-10" ng-class="getSortingTypeClass('endDate')">
            <div ng-click="getSortedBy('endDate')">Data zakończenia</div>
         </th>
         <th class="sortable grid-10" ng-class="getSortingTypeClass('place')">
            <div ng-click="getSortedBy('place')">Miejsce</div>
         </th>
         <th class="sortable grid-25" ng-class="getSortingTypeClass('category')">
            <div ng-click="getSortedBy('category')">Kategoria</div>
         </th>
         <th class="sortable grid-15" ng-class="getSortingTypeClass('active')">
            <div ng-click="getSortedBy('active')">Aktywne</div>
         </th>
      </tr>
      <tr class="grid-100 tableHeader-options">
         <th class="grid-20">
            <input type="text" ng-model="searchDTO.entity.name">
         </th>
         <th class="grid-10">
            <input type="number" placeholder="Min" ng-model="searchDTO.entity.priceFrom"/>
            <input type="number" placeholder="Max" ng-model="searchDTO.entity.priceTo"/>
         </th>
         <th class="grid-10">
            <input type="number" placeholder="Min" ng-model="searchDTO.entity.hoursNumberFrom">
            <input type="number" placeholder="Max" ng-model="searchDTO.entity.hoursNumberTo">
         </th>
         <th class="grid-10">
            <input type="text" ng-model="searchDTO.entity.startDate"
                   datepicker-popup="yyyy-MM-dd" is-open="datepicker.isTrainingStartDateOpened"
                   close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                   ng-click="openDatepicker('isTrainingStartDateOpened')"/>
         </th>
         <th class="grid-10">
            <input type="text" ng-model="searchDTO.entity.endDate"
                   datepicker-popup="yyyy-MM-dd" is-open="datepicker.isTrainingEndDateOpened"
                   close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                   ng-click="openDatepicker('isTrainingEndDateOpened')"/>
         </th>
         <th class="grid-10">
            <input ng-model="searchDTO.entity.place">
         </th>
         <th class="grid-25">
            <select ng-options="v.id as v.name for v in dictionaries.trainingCategories | orderBy:'ordinal'" ng-model="searchDTO.entity.categoryCodes" multiple>
               <option value="">-wybierz-</option>
            </select>
         </th>
         <th class="grid-15">
            <select name="singleSelect" ng-model="searchDTO.entity.active"  >
               <option value="true">Tak</option>
               <option value="false">Nie</option>
            </select>
         </th>
         <th class="grid-5">
            <button class="standardButton" ng-click="find()">Wyszukaj</button>
         </th>
      </tr>
      </thead>
      <tbody class="tableData">
      <tr ng-repeat="item in searchDTO.searchResultList | limitTo: searchResultOptions.displayLimit" ng-class="{'row-even': $even, 'row-odd': $odd}">
         <td>{{::item.name}}</td>
         <td>{{::item.price}}</td>
         <td>{{::item.hoursNumber}}</td>
         <td>{{::item.startDate}}</td>
         <td>{{::item.endDate}}</td>
         <td>{{::item.place}}</td>
         <td>{{::item.category}}</td>
         <td>{{::item.active ? 'Tak' : 'Nie'}}</td>
         <td>
            <ul class="text-center no-margin-padding">
               <li class="textButton green" ui-sref="ourTrainings.trainingDetails({trainingId: item.trainingId})">SZCZEGÓŁY</li>
            </ul>
         </td>
      </tr>
      </tbody>
   </table>
   <div ng-show="searchResultOptions.overflow" class="text-center">
      <ul>
         <li>
            <button ng-click="loadMore()" class="standardButton">Wczytaj więcej wyników</button>
         </li>
      </ul>
   </div>
   <div class="emptyResult" ng-show="searchDTO.searchResultList.length == 0">
      Brak wyników
   </div>
</section>