<section>
    <strong class="label">Rozliczenie szkolenia</strong>
    <div class="block">
        <strong class="blackLabel">Dane szkolenia</strong>
        <div class="paddedBlock">
            <div class="multiSection">
                <div class="grid-30">
                    <strong>Nazwa szkolenia</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>Nazwa szkolenia z bardzo długimi literałami, który powinien się łamać do wyświetlenia pełnej nazwy szkoelnia/kursu</div>
                </div>
                <div class="grid-30">
                    <strong>Cena za szkolenie (PLN)</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>1200 PLN</div>
                </div>
                <div class="grid-30">
                    <strong>Maksymalna liczba godzin rozliczanych bonami</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>245</div>
                </div>
            </div>
            <div class="multiSection">
                <div class="grid-30">
                    <strong>Kategoria szkolenia</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>Kateogoria X</div>
                </div>
                <div class="grid-30">
                    <strong>Ilość godzin lekcyjnych</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>3</div>
                </div>
                <div class="grid-30">
                    <strong>Data rozpoczęcia</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>12.12.2017</div>
                </div>
            </div>
            <div class="multiSection">
                <div class="grid-30">
                    <strong>Miejsce szkolenia</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>Wieluń</div>
                </div>
                <div class="grid-30">
                    <strong>Cena 1h szkolenia (PLN)</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>400 PLN</div>
                </div>
                <div class="grid-30">
                    <strong>Data zakończenia</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>12.12.2007</div>
                </div>
            </div>
        </div>
    </div>
    <div class="block grayBackground">
        <strong class="blackLabel">Dane uczestnika i rozliczenia</strong>
        <div class="paddedBlock">
            <div class="multiSection">
                <div class="grid-30">
                    <strong>PESEL Uczestnika</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>22222222222</div>
                </div>
                <div class="grid-30">
                    <strong>Liczba bonów zarezerwowanych na szkolenie</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>123</div>
                </div>
                <div class="grid-30">
                    <strong>Kwota należna od Operatora Finansowego</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>3456 PLN</div>
                </div>
            </div>
            <div class="multiSection">
                <div class="grid-30">
                    <strong>Imię Uczestnika</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>Jan</div>
                </div>
                <div class="grid-30">
                    <strong>Data ważności bonów</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>12.12.2912</div>
                </div>
            </div>
            <div class="multiSection">
                <div class="grid-30">
                    <strong>Nazwisko Uczestnika</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>Kowlaski</div>
                </div>
                <div class="grid-30">
                    <strong>Kwota dopłaty od</strong>
                    <div>{{userTrainingReservationData.data.pesel}}</div>
                    <div>400 PLN</div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <strong class="blackLabel">Dokumenty i warunki rozliczenia</strong>
        <div class="paddedBlock">
            <div class="multiSection">
                <div class="grid-100">
                    <strong>Nazwa szkolenia</strong>
                    <div>Rozliczenie szkolenia możliwe jest po zdaniu egzaminu i potwierdzeniu kwalifikacji odpowiednim certyfikatem. Uczetsnik zobowiązany jest do przedłożenia Faktury, kopii
                        zaświadczenia o ukończeniu szkolenia oraz kopii certyfikatu lub kopii potwierdzenia o niezndanym egzaminie
                    </div>
                </div>
            </div>
            <div class="multiSection">
                <div class="grid-100">
                    <strong>Rachunek rozliczeniowy</strong>
                    <div class="childrenInOneLine">
                        <span>Numer rachunku bankowego do zwrotu</span>
                        <input type="text"/>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-100">
                    <strong>Załączniki do rozliczenia</strong>
                </div>
                <documents/>
            </div>
        </div>
    </div>
</section>