<section>
    <table>
        <thead>
        <tr class="grid-100 tableHeader-names">
            <th class="sortable grid-15" ng-class="getSortingTypeClass('trainingName')">
                <div ng-click="getSortedBy('trainingName')">Nazwa usługi</div>
            </th>
            <th class="sortable grid-15" ng-class="getSortingTypeClass('participantPesel')">
                <div ng-click="getSortedBy('participantPesel')">PESEL Uczestnika</div>
            </th>
            <th class="sortable grid-10" ng-class="getSortingTypeClass('participantName')">
                <div ng-click="getSortedBy('participantName')">Imię uczestnika</div>
            </th>
            <th class="sortable grid-15" ng-class="getSortingTypeClass('participantSurname')">
                <div ng-click="getSortedBy('participantSurname')">Nazwisko uczestnika</div>
            </th>
            <th class="sortable grid-15" ng-class="getSortingTypeClass('startDate')">
                <div ng-click="getSortedBy('startDate')">Data rozpoczęcia</div>
            </th>
            <th class="sortable grid-15" ng-class="getSortingTypeClass('endDate')">
                <div ng-click="getSortedBy('endDate')">Data zakończenia</div>
            </th>
            <th class="sortable grid-15" ng-class="getSortingTypeClass('trainingStatus')">
                <div ng-click="getSortedBy('trainingStatus')">Status usługi</div>
            </th>
        </tr>
        <tr class="grid-100 tableHeader-options">
            <th class="grid-15">
                <input type="text" ng-model="trainingCriteria.trainingName">
            </th>
            <th class="grid-15">
                <input type="text" ng-model="trainingCriteria.participantPesel"/>
            </th>
            <th class="grid-10">
                <input type="text" ng-model="trainingCriteria.participantName">
            </th>
            <th class="grid-15">
                <input ng-model="trainingCriteria.participantSurname">
            </th>
            <th class="grid-15">
                <input type="text" placeholder="Data od..." ng-model="trainingCriteria.startDateFrom"
                       datepicker-popup="yyyy-MM-dd" is-open="datepicker.isStartDateFromOpened"
                       close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                       ng-click="openDatepicker('isStartDateFromOpened')"/>

                <input type="text" placeholder="Data do..." ng-model="trainingCriteria.startDateTo"
                       datepicker-popup="yyyy-MM-dd" is-open="datepicker.isStartDateToOpened"
                       close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                       ng-click="openDatepicker('isStartDateToOpened')"/>
            </th>
            <th class="grid-15">
                <input type="text" placeholder="Data od..." ng-model="trainingCriteria.endDateFrom"
                       datepicker-popup="yyyy-MM-dd" is-open="datepicker.isEndDateFromOpened"
                       close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                       ng-click="openDatepicker('isEndDateFromOpened')"/>

                <input type="text" placeholder="Data do..." ng-model="trainingCriteria.endDateTo"
                       datepicker-popup="yyyy-MM-dd" is-open="datepicker.isEndDateToOpened"
                       close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                       ng-click="openDatepicker('isEndDateToOpened')"/>
            </th>
            <th class="grid-15">
                <select ng-model="trainingCriteria.trainingStatusId"
                        ng-options="v.id as v.name for v in trainingModel.trainingStatuses" data-ng-disabled="isStatusDisabled()"></select>
            </th>
            <th>
                <button class="standardButton" ng-click="find()">Wyszukaj</button>
            </th>
        </tr>
        </thead>
        <tbody class="tableData">
        <tr ng-repeat="item in trainingModel.foundTrainings | limitTo: searchResultOptions.displayLimit" ng-class="{'row-even': $even, 'row-odd': $odd}">
            <td>{{::item.trainingName}}</td>
            <td>{{::item.participantPesel}}</td>
            <td>{{::item.participantName}}</td>
            <td>{{::item.participantSurname}}</td>
            <td>{{::item.startDate  | date:'yyyy-MM-dd'}}</td>
            <td>{{::item.endDate  | date:'yyyy-MM-dd'}}</td>
            <td>{{::item.trainingStatus}}</td>
            <td>
                <ul class="text-center no-margin-padding">
                    <li class="textButton green" ui-sref="trainingToReimburse.trainingInstanceDetails({trainingInstanceId: item.trainingInstanceId})">SZCZEGÓŁY</li>
                    <li class="textButton green" ui-sref="reimburse({trainingInstanceId: item.trainingInstanceId})">ROZLICZ</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-show="searchResultOptions.overflow" class="text-center">
        <ul>
            <li>
                <button ng-click="loadMore()" class="standardButton">Wczytaj więcej wyników</button>
            </li>
        </ul>
    </div>
    <div class="emptyResult" ng-show="trainingModel.foundTrainings.length == 0">
        Brak wyników
    </div>
</section>