<div>
    <header id="header">
        <h1>Wyszukiwanie usług</h1>
        <ul>
            <li><a href="#/modify/" class="button button-new">Nowe usługa</a></li>
            <li><a ng-click="clear()" class="button button-refresh">Wyczyść</a></li>
        </ul>
    </header>

    <div class="one-column">

        <section class="overflow-x-auto">
            <table class="table table-condensed">
                <thead>
                <tr class="grid-100">
                    <th class="sortable grid-5" ng-class="getSortingTypeClass('trainingId')">
                        <div ng-click="getSortedBy('trainingId')">Id usługi</div>
                        <input placeholder="Id" type="text" force-digits
                               ng-model="searchDTO.entity.trainingId">
                    </th>
                    <th class="sortable grid-10" ng-class="getSortingTypeClass('institutionId')">
                        <div ng-click="getSortedBy('institutionId')">Id usługodawcy</div>
                        <a ng-click="openIsLov()" class="button button-save">
                            Wybierz
                        </a>
                        <input placeholder="Id usługodawcy" type="text" force-digits
                               ng-model="searchDTO.entity.institutionId">
                    </th>
                    <th class="sortable grid-10" ng-class="getSortingTypeClass('institutionName')">
                        <div ng-click="getSortedBy('institutionName')">Nazwa usługodawcy</div>
                        <input placeholder="Nazwa usługodawcy" type="text" ng-model="searchDTO.entity.institutionName">
                    </th>
                    <th class="sortable grid-10" ng-class="getSortingTypeClass('name')">
                        <div ng-click="getSortedBy('name')">Nazwa usługi</div>
                        <input placeholder="Nazwa usługi"
                               ng-model="searchDTO.entity.name">
                    </th>
                    <th class="sortable grid-10" ng-class="getSortingTypeClass('externalId')">
                        <div ng-click="getSortedBy('externalId')">Nr usługi</div>
                        <input placeholder="Nr usługi"
                               ng-model="searchDTO.entity.externalId">
                    </th>
                    <th class="sortable grid-10"
                        ng-class="getSortingTypeClass('price')">
                        <div ng-click="getSortedBy('price')">
                            Cena
                        </div>
                        <input type="number" placeholder="Min" ng-model="searchDTO.entity.priceFrom"/>
                        <input type="number" placeholder="Max" ng-model="searchDTO.entity.priceTo"/>
                    </th>
                    <th class="sortable grid-10"
                        ng-class="getSortingTypeClass('startDate')">
                        <div ng-click="getSortedBy('startDate')">
                            Data rozpoczęcia
                        </div>
                        <input type="text"
                               placeholder="Data rozpoczęcia od"
                               ng-model="searchDTO.entity.startDateFrom"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="datepicker.isTrainingStartDateFromOpened"
                               close-text="Zamknij"
                               clear-text="Czyść"
                               current-text="Dziś"
                               ng-click="openDatepicker('isTrainingStartDateFromOpened')"/>
                        <input type="text"
                               placeholder="Data rozpoczęcia do"
                               ng-model="searchDTO.entity.startDateTo"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="datepicker.isTrainingStartDateToOpened"
                               close-text="Zamknij"
                               clear-text="Czyść"
                               current-text="Dziś"
                               ng-click="openDatepicker('isTrainingStartDateToOpened')"/>
                    </th>
                    <th class="sortable grid-10"
                        ng-class="getSortingTypeClass('endDate')">
                        <div ng-click="getSortedBy('endDate')">
                            Data zakończenia
                        </div>
                        <input type="text"
                               placeholder="Data zakończenia od"
                               ng-model="searchDTO.entity.endDateFrom"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="datepicker.isTrainingEndDateFromOpened"
                               close-text="Zamknij"
                               clear-text="Czyść"
                               current-text="Dziś"
                               ng-click="openDatepicker('isTrainingEndDateFromOpened')"/>
                        <input type="text"
                               placeholder="Data zakończenia do"
                               ng-model="searchDTO.entity.endDateTo"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="datepicker.isTrainingEndDateToOpened"
                               close-text="Zamknij"
                               clear-text="Czyść"
                               current-text="Dziś"
                               ng-click="openDatepicker('isTrainingEndDateToOpened')"/>
                    </th>
                    <th class="sortable grid-10" ng-class="getSortingTypeClass('place')">
                        <div ng-click="getSortedBy('place')">Miejsce</div>
                        <input placeholder="Miejsce"
                               ng-model="searchDTO.entity.place">
                    </th>
                    <th class="sortable grid-10"
                        ng-class="getSortingTypeClass('hoursNumber')">
                        <div ng-click="getSortedBy('hoursNumber')">
                            Liczba godzin
                        </div>
                        <input type="number" placeholder="Min" ng-model="searchDTO.entity.hoursNumberFrom"/>
                        <input type="number" placeholder="Max" ng-model="searchDTO.entity.hoursNumberTo"/>
                    </th>
                    <th class="sortable grid-10"
                        ng-class="getSortingTypeClass('hourPrice')">
                        <div ng-click="getSortedBy('hourPrice')">
                            Cena za godzinę
                        </div>
                        <input type="number" placeholder="Min" ng-model="searchDTO.entity.hourPriceFrom"/>
                        <input type="number" placeholder="Max" ng-model="searchDTO.entity.hourPriceTo"/>
                    </th>
                    <th class="sortable grid-10" ng-class="getSortingTypeClass('category')">
                        <div ng-click="getSortedBy('category')">Kategoria</div>
                        <input placeholder="Kategoria"
                               ng-model="searchDTO.entity.categoryName">
                    </th>
                    <th class="sortable grid-5" ng-class="getSortingTypeClass('active')">
                        <div ng-click="getSortedBy('active')">Aktywne</div>
                        <select name="singleSelect" ng-model="searchDTO.entity.active">
                            <option value="true">Tak</option>
                            <option value="false">Nie</option>
                        </select>
                    </th>
                    <th class="sortable grid-10" ng-class="getSortingTypeClass('indOrderExternalId')">
                        <div ng-click="getSortedBy('indOrderExternalId')">Id wsparcia</div>
                        <input placeholder="Id wsparcia"
                               ng-model="searchDTO.entity.indOrderExternalId">
                    </th>
                    <th>
                        <a ng-click="find()"
                           class="button button-search">szukaj</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in searchDTO.searchResultList | limitTo: searchResultOptions.displayLimit">
                    <td>{{::item.trainingId}}</td>
                    <td>{{::item.institutionId}}</td>
                    <td>{{::item.institutionName}}</td>
                    <td>{{::item.name}}</td>
                    <td>{{::item.externalId}}</td>
                    <td>{{::item.price}}</td>
                    <td>{{::item.startDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{::item.endDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{::item.place}}</td>
                    <td>{{::item.hoursNumber}}</td>
                    <td>{{::item.hourPrice}}</td>
                    <td>{{::item.category}}</td>
                    <td>{{::item.active ? 'Tak' : 'Nie'}}</td>
                    <td>{{::item.indOrderExternalId}}</td>
                    <td>
                        <ul class="buttons">
                            <li><a ng-href="#/modify/{{item.trainingId}}"
                                   gryf-privilege="GRF_TRAINING_INSTITUTION_MOD"
                                   class="button button-go">szczegóły</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-show="searchResultOptions.overflow" class="centered-ul">
                <ul>
                    <li><a href="#/" ng-click="loadMore()"
                           class="button button-infinity">wczytaj więcej wyników</a></li>
                </ul>
            </div>
            <div class="" ng-show="model.zipCodesArray.length===0">
                Brak wyników
            </div>
            <div class="msg msg-error" ng-show="searchResultOptions.badQuery">
                <p>Błąd kryteriów zapytania - niepoprawny format</p>
            </div>
        </section>

    </div>
</div>



