<div>
    <header id="header">
        <h1>Wyszukiwanie kodów pocztowych</h1>
        <ul>
            <li><a href="#/zipCode/" class="button button-new">nowy kod pocztowy</a></li>
        </ul>
        <ol>
            <li><a title="pomoc" class="button button-help" ng-click="help()">Pomoc</a>
        </ol>
    </header>

    <div class="two-columns">
        <div class="right-column-wrapper">
            <div class="right-column">
                <section class="overflow-x-auto">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th class="sortable" ng-class="getSortingTypeClass('zipCode')">
                                <div ng-click="setSort('zipCode')">Kod pocztowy</div>
                            </th>
                            <th class="sortable" ng-class="getSortingTypeClass('cityName')">
                                <div ng-click="setSort('cityName')">Miejscowość</div>
                            </th>
                            <th class="sortable" ng-class="getSortingTypeClass('state.name')">
                                <div ng-click="setSort('state.name')">Województwo</div>
                            </th>
                            <th>Aktywny</th>
                            <th>Szczegóły</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="zc in model.zipCodesArray | limitTo: searchResultOptions.displayLimit">
                            <td> {{zc.zipCode}}  </td>
                            <td> {{zc.cityName}} </td>
                            <td> {{zc.stateName}} </td>
                            <td>
                                <input type="checkbox" ng-checked="{{zc.active}}" disabled="disabled">
                            </td>
                            <td>
                                <ul class="buttons">
                                    <li><a ng-href="#/zipCode/{{ zc.id}}"
                                           gryf-privilege="GRF_ZIP_CODES_MOD"
                                           class="button button-go">szczegóły</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-show="searchResultOptions.overflow" class="centered-ul">
                        <ul>
                            <li><a href="#/" ng-click="moreZipCodes()" class="button button-infinity">wczytaj więcej wyników</a></li>
                        </ul>
                    </div>
                    <div class="" ng-show="model.zipCodesArray.length===0">
                        Brak wyników
                    </div>
                    <div class="msg msg-error" ng-show="searchResultOptions.badQuery">
                        <p>Błąd kryteriów zapytania - niepoprawny format</p>
                    </div>
                </section>
            </div>
        </div>
        <aside class="left-column">
            <section>
                <header>
                    <h2>Kody pocztowe</h2>
                </header>
                <div class="field">
                    <input placeholder="Kod pocztowy" type="text" ng-model="model.entity.zipCode">
                </div>
                <div class="field">
                    <input placeholder="Miejscowość" ng-model="model.entity.cityName">
                </div>
                <div class="field">
                    Aktywny <input type="checkbox" ng-model="model.entity.active">
                </div>
                <div class="field">
                    <select ng-options="s.id as s.name for s in model.statesArray"
                            ng-model="model.entity.stateId" >
                    </select>
                </div>

                <ul class="buttons">
                    <li><a ng-click="findZipCodes()" class="button button-search">szukaj</a></li>
                    <li><a ng-click="clearZipCodes()" class="button button-refresh">wyczyść</a></li>
                </ul>

            </section>
        </aside>
    </div>
</div>



