<div>
    <header id="header">
        <h1>Zamówienie</h1>
        <ul>
            <li ng-repeat="item in entityObject.actions">
                <a ng-click="executeAction(item.id.actionId)" class="button button-save">
                    {{::item.actionName}}
                </a>
            </li>
        </ul>
    </header>
    <div>
        <strong class="label">Wybierz umowę</strong>
        <div>Typ umowy: {{model.entity.contract.contractType.name}}</div>
        <div>Osoba: {{model.entity.contract.individual.firstName}} {{model.entity.contract.individual.lastName}}</div>
        <div><a ng-click="openContractLov()" class="button button-save">Wprowadź</a></div>
        <gryf-validation-msg path="contract"></gryf-validation-msg>
    </div>
    <section>
        <div ng-repeat="item in entityObject.elements">
            <div class="width-100" ng-include="templateUrl(item)"></div>
        </div>
    </section>
</div>
