<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
<div>
    <header id="header">
        <h1>Nowa umowa</h1>
        <ul>
            <li>
                <a ng-click="saveAndAdd()" class="button button-save"
                   gryf-privilege="GRF_PBE_APPLICATION_MOD">
                    Zapisz
                </a>
            </li>
        </ul>

        <ol>
            <li>
                <a ng-href="{{getPrevUrl()}}" class="button button-cancel"
                   target="_self">Anuluj </a>
            </li>
        </ol>
        <ol>
            <li>
                <a ng-href="#" ng-click="newApplication()" class="button button-new"
                   target="_self">Nowy wniosek</a>
            </li>
        </ol>
    </header>
        <section>
            <h1>Program dofinansowania</h1>
            <div class="grid-100">
                <div class="grid-50">
                    <strong class="label">Program dofinansowania</strong>
                    <select ng-options="item as item.name for item in grantProgram.list"
                            ng-model="contract.grantProgram">
                    </select>
                </div>
                <div class="grid-50">
                    <strong class="label">Dysponent środków</strong>
                    <input type="text" ng-model="contract.grantProgram.grantProgramOwnerName" disabled="disabled">
                </div>
            </div>
        </section>
        <section>
            <h1>Dane umowy</h1>
            <div class="grid-100">
                <div>
                    <strong class="label">ID umowy</strong>
                    <input type="number" ng-model="contract.contractId" required>
                </div>
                <div>
                    <strong class="label">Rodzaj umowy</strong>
                    <select required ng-model="contract.contractType">
                        <option value="INDIVIDUAL">INDIVIDUAL</option>
                        <option value="ENTERPRISE">ENTERPRISE</option>
                    </select>
                </div>
                <div>
                    <strong class="label">Dane uczestnika</strong>
                    <a ng-click="openIndividualLov()" class="button button-save">Wprowadź</a>
                </div>
                <div ng-hide="contract.contractType == 'INDIVIDUAL'">
                    <strong class="label">Dane MŚP</strong>
                    <a ng-click="openEnterpriseLov()" class="button button-save">Wprowadź</a>
                </div>
                <div>
                    <strong class="label">Data podpisania umowy</strong>
                    <input type="date" ng-model="contract.signDate" required>
                </div>
                <div>
                    <strong class="label">Data ważności umowy</strong>
                    <input type="date" ng-model="contract.expiryDate" required>
                </div>
            </div>
        </section>
</div>
