<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
<div>
    <header id="header">
        <h1>Edycja umowy</h1>
        <ul>
            <li>
                <a ng-click="save()" class="button button-save"
                   gryf-privilege="GRF_PBE_APPLICATION_MOD">
                    zapisz
                </a>
            </li>
            <li>
                <a ng-click="saveAndAdd()" class="button button-save"
                   gryf-privilege="GRF_ENTERPRISE_MOD">zapisz i dodaj
                    następną</a>
            </li>
        </ul>
        <ol>
            <li>
                <a ng-href="#modify" class="button button-new"
                   target="_self">Nowa umowa</a>
            </li>
        </ol>
    </header>
        <section>
            <h1>Program dofinansowania</h1>
            <div class="grid-100">
                <div class="grid-50">
                    <strong class="label">Program dofinansowania</strong>
                    <select ng-options="item as item.name for item in grantProgram.list"
                            ng-model="model.entity.grantProgram">
                    </select>
                    <gryf-validation-msg path="grantProgram"></gryf-validation-msg>
                </div>
                <div class="grid-50">
                    <strong class="label">Dysponent środków</strong>
                    <input type="text" ng-model="model.entity.grantProgram.grantProgramOwnerName" disabled="disabled">
                </div>
            </div>
        </section>
        <section>
            <h1>Dane umowy</h1>
            <div class="grid-100">
                <div>
                    <strong class="label">ID umowy</strong>
                    <input type="number" ng-model="model.entity.contractId" required>
                    <gryf-validation-msg path="id"></gryf-validation-msg>
                </div>
                <div>
                    <strong class="label">Rodzaj umowy</strong>
                    <select ng-options="item.id as item.name for item in contractType.list"
                            ng-model="model.entity.contractType.id" ></select>
                    <gryf-validation-msg path="contractType"></gryf-validation-msg>
                </div>
                <div>
                    <strong class="label">Dane uczestnika</strong>
                    <div>Pesel: {{model.entity.individual.pesel}}</div>
                    <div>Osoba: {{model.entity.individual.firstName}} {{model.entity.individual.lastName}}</div>
                    <div><a ng-click="openIndividualLov()" class="button button-save">Wprowadź</a></div>
                    <gryf-validation-msg path="individual"></gryf-validation-msg>
                </div>
                <div>
                    <strong class="label">Dane MŚP</strong>
                    <div>NIP: {{model.entity.enterprise.vatRegNum}}</div>
                    <div>Nazwa: {{model.entity.enterprise.name}}</div>
                    <a ng-click="openEnterpriseLov()" class="button button-save">Wprowadź</a>
                    <gryf-validation-msg path="enterprise"></gryf-validation-msg>
                </div>
                <div class="grid-30">
                    <strong class="label">Data podpisania umowy</strong>
                    <input type="text"
                           placeholder=""
                           ng-model="model.entity.signDate"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.signDate"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('signDate')"
                           search-on-enter/>
                    <gryf-validation-msg path="signDate"></gryf-validation-msg>
                </div>
                <div class="grid-30">
                    <strong class="label">Data ważności umowy</strong>
                    <input type="text"
                           placeholder=""
                           ng-model="model.entity.expiryDate"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.expiryDate"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('expiryDate')"
                           search-on-enter/>
                    <gryf-validation-msg path="expiryDate"></gryf-validation-msg>
                </div>
            </div>
        </section>
</div>
