<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
<div>
    <header id="header">
        <h1>Wniosek</h1>
        <ul>
            <li>
                <a ng-click="save()" class="button button-save"
                   ng-show="entityObject.status.id==='NEW' || !entityObject.status.id"
                   gryf-privilege="GRF_PBE_APPLICATION_MOD">
                    Zapisz
                </a>
            </li>
            <li>
                <a ng-click="apply()" class="button button-save"
                   ng-show="entityObject.status.id==='NEW' || !entityObject.status.id"
                   gryf-privilege="GRF_PBE_APPLICATION_MOD">
                    Złóż
                </a>
            </li>
            <li>
                <a ng-click="execute()" class="button button-save"
                   ng-show="entityObject.status.id === 'APPLIED'"
                   gryf-privilege="GRF_PBE_APPLICATION_PROC">
                    Realizuj
                </a>
            </li>
            <li>
                <a ng-click="reject()" class="button button-save"
                   ng-show="entityObject.status.id === 'APPLIED'"
                   gryf-privilege="GRF_PBE_APPLICATION_PROC">
                    Odrzuć
                </a>
            </li>
        </ul>

        <ol>
            <li>
                <a ng-href="{{getPrevUrl()}}" class="button button-cancel"
                   target="_self">Anuluj </a>
            </li>
        </ol>
        <ol>
            <li>
                <a ng-href="#" ng-click="newApplication()" class="button button-new"
                   target="_self">Nowy wniosek</a>
            </li>
        </ol>
    </header>

    <section>
        <div class="grid-100">
            <div class="grid-10">
                <strong class="label">ID</strong>
                <input type="text" ng-model="entityObject.id" disabled="disabled">
            </div>
            <div class="grid-10" ng-if="isNotNew() && isNotApplied()" >
                <a ng-href="{{getOrderLinkFor(entityObject.id)}}"> 
                    <strong>Zamówienie &UpperRightArrow;</strong>
                </a>
            </div>
        </div>
        <div class="grid-100">
            <div class="grid-30">
                <strong class="label">Program dofinansowania</strong>
                <select
                        ng-options="item as item.name for item in grantProgram.list track by item.id"
                        ng-model="entityObject.grantProgram"
                        ng-disabled="entityObject.id"></select>
                <gryf-validation-msg path="grantProgram"/>
            </div>
            <div class="grid-30">
                <strong class="label">Wersja wniosku</strong>
                <select
                        ng-options="item as item.name for item in grantProgram.versions track by item.id"
                        ng-model="entityObject.applicationVersion"
                        ng-disabled="entityObject.id"
                        ng-change="changeVersion()"></select>
                <gryf-validation-msg path="applicationVersion"/>
            </div>
            <div class="grid-20">
                <strong class="label">Przedsiębiorstwo</strong>

                <div>ID:
                    <input type="text" gryf-search-on-enter
                           ng-model="entityObject.enterprise.id"
                           ng-disabled="isNotNew() && isNotApplied()"></div>
                <div>Nazwa: {{entityObject.enterprise.name}}</div>
                <a ng-click="openEnterpriseLov()" class="button button-save"
                   gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                   gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">wybierz</a>
                <gryf-validation-msg path="enterprise"/>
            </div>
            <div class="grid-20">
                <strong class="label">Status wniosku</strong>
                <input type="text" disabled="disabled" ng-model="entityObject.status.name"
                       maxlength="20">
                <gryf-validation-msg path="status"/>
            </div>
        </div>
        <div class="grid-100">
            <div class="grid-20">
                <div class="required">
                    <strong class="label">Data wpłynięcia wniosku</strong>
                    <input type="text"
                           ng-model="entityObject.receiptDate"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.opened"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker()"
                           ng-disabled="isNotNew()"/>

                    <gryf-validation-msg path="receiptDate"/>

                </div>
                <div>
                    <strong class="label">Data złożenia wniosku</strong>
                    <input type="text"
                           ng-model="entityObject.applyDate"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="false"
                           disabled="disabled"/>
                    <gryf-validation-msg path="applyDateFrom"/>
                </div>
                <div>
                    <strong class="label">Data rozpatrzenia wniosku</strong>
                    <input type="text"
                           ng-model="entityObject.considerationDate"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="false"
                           disabled="disabled"/>
                    <gryf-validation-msg path="considerationDateFrom"/>
                </div>
            </div>
            <div class="grid-80">
                <strong class="label">Uzasadnienie odrzucenia wniosku</strong>
                <textarea ng-model="entityObject.rejectionReason" rows="10"
                          maxlength="4000"
                          ng-disabled="isNotApplied()"></textarea>
                <gryf-validation-msg path="rejectionReason"/>
            </div>
        </div>
    </section>
    <section>
        <!-- template with main content included -->
        <div ng-include="templateUrl"></div>
    </section>

    <section>
        <header>
            <h2>Załączniki do wniosku</h2>
            <ul>
                <li><a class="button button-add" ng-click="addAttachment()"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">Dodaj załącznik</a></li>
            </ul>
        </header>
        <table class="table">
            <thead>
            <tr>
                <th>Nazwa załącznika</th>
                <th>Plik załącznika (maks. rozmiar: {{getAttachmentMaxSize()}} MB)</th>
                <th>Uwagi</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tr ng-repeat="attachment in entityObject.attachments">
                <td><input type="text" ng-model="attachment.name"
                           ng-disabled="attachment.mandatory || attachment.originalFileName"
                           gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                           gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                </td>
                <td>
                    <div>
                        {{attachment.file[0].name ? attachment.file[0].name : attachment.originalFileName }}
                    </div>
                    <a class="button"
                       ng-model="attachment.file"
                       ngf-select
                       ngf-change="validateSize($files, attachment)"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">
                        Dodaj
                    </a>
                </td>
                <td><input type="text"
                           ng-model="attachment.remarks"
                           gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                           gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC"></td>
                <td>
                    <a class="button button-delete" ng-click="removeAttachment(attachment)"
                       ng-if="!attachment.mandatory"
                       gryf-editable-only-in-new="GRF_PBE_APPLICATION_MOD, GRF_PBE_APPLICATION_PROC"
                       gryf-editable-in-applied="GRF_PBE_APPLICATION_PROC">Usuń</a>
                    <a ng-if="attachment.originalFileName" class="button button-add" ng-href="{{getDownloadAttachmentLink(attachment)}}"  target="_self" >Pobierz załącznik</a>
                </td>
            </tr>
        </table>
    </section>
</div>