<div ng-if="entityObject.reimbursementDelivery.id"
     ng-controller="announce.ReimbursementsPatternV1Controller">
    <section>
        <header>
            <h2>Rozliczenie</h2>
        </header>
        <div class="grid-100">
            <div class="grid-10">
                <strong class="label">Id rozliczenia</strong>
                {{entityObject.id}}
            </div>
            <div class="grid-10">
                <string class="label">Status rozliczenia</string>
                {{entityObject.status.name}}
            </div>
            <div class="grid-10">
                <strong class="label">Data rozliczenia</strong>
                <input type="text"
                       ng-model="entityObject.reimbursementDate"
                       datepicker-popup="yyyy-MM-dd"
                       is-open="datepicker.reimbursementDateOpened"
                       close-text="Zamknij"
                       clear-text="Czyść"
                       current-text="Dziś"
                       ng-required="true"
                       ng-click="openDatepicker('reimbursementDateOpened')"
                       datepicker-append-to-body="true"
                       ng-disabled="!isNewOrAnnouncedOrCorrected()"/>
                <gryf-validation-msg path="reimbursementDate"></gryf-validation-msg>
            </div>
            <div class="grid-15">
                <strong class="label">Data utworzenia anonsu</strong>
                <input type="text"
                       ng-model="entityObject.announcementDate"
                       datepicker-popup="yyyy-MM-dd"
                       is-open="datepicker.plannedReceiptDateOpened"
                       close-text="Zamknij"
                       clear-text="Czyść"
                       current-text="Dziś"
                       ng-required="true"
                       ng-click="openDatepicker('plannedReceiptDateOpened')"
                       disabled="disabled"/>
            </div>
            <div class="grid-15">
                <strong class="label">Numer Faktury IS</strong>
                <input type="text" ng-model="entityObject.invoiceNumber"
                       ng-disabled="!isNewOrAnnouncedOrCorrected()">
                <gryf-validation-msg path="invoiceNumber"></gryf-validation-msg>
            </div>
            <div class="grid-10">
                <strong class="label">Kwota brutto Faktury</strong>
                <input type="text" ng-model="entityObject.invoiceAnonGrossAmount"
                       ng-disabled="!isNewOrAnnouncedOrCorrected()">
                <gryf-validation-msg path="invoiceAnonGrossAmount"></gryf-validation-msg>
            </div>
            <div class="grid-10">
                <strong class="label">Kwota brutto rozliczana bonami</strong>
                <input type="text" ng-model="entityObject.invoiceAnonVouchAmount"
                       ng-disabled="!isNewOrAnnouncedOrCorrected()">
                <gryf-validation-msg path="invoiceAnonVouchAmount"></gryf-validation-msg>
            </div>
            <div class="grid-20">
                <strong class="label">Numer rachunku bankowego do zwrotu dla IS</strong>
                <input type="text"
                       class="highlighted"
                       ng-model="entityObject.trainingInstitutionReimbursementAccountNumber"
                       gryf-privilege="GRF_PBE_REIMB_TI_ACC_MOD"
                       ng-disabled="!isNewOrAnnouncedOrCorrected()">
                <gryf-validation-msg
                        path="trainingInstitutionReimbursementAccountNumber"></gryf-validation-msg>
            </div>
        </div>

        <div class="grid-100">
            <div class="grid-10">
                <strong class="label">ID Przedsiębiorstwa</strong>
                <input type="text" ng-model="entityObject.enterprise.id"
                       ng-disabled="!isNewOrAnnouncedOrCorrected()">
                <a ng-click="openEnterpriseLov()"
                   ng-if="isNewOrAnnouncedOrCorrected()"
                   class="button button-search">szukaj</a>
                <gryf-validation-msg path="enterprise"></gryf-validation-msg>
            </div>
            <div class="grid-30">
                <strong class="label">Nazwa przedsiębiorstwa</strong>
                {{entityObject.enterprise.name}}
            </div>
            <div class="grid-50">
                <strong class="label">Adres przedsiębiorstwa</strong>
                {{entityObject.enterprise.addressInvoice}},
                {{entityObject.enterprise.zipCodeInvoice.zipCode}},
                {{entityObject.enterprise.zipCodeInvoice.cityName}},
            </div>
            <div class="grid-10">
                <strong class="label">Zakładający anons</strong>
                {{entityObject.createdUser}}
            </div>
        </div>

        <div class="grid-100">
            <a href=""
               class="button button-search"
               ng-if="isInStatus('EXPORTED')"
               ng-click="generateConfirmation()">Generuj potwierdzenie dofinansowania</a>
        </div>

        <div class="grid-100">
            <div class="grid-15">
                <strong class="label">Kwota należna IS od Sodexo</strong>
                {{entityObject.sxoTiAmountDueTotal}}
            </div>
            <div class="grid-15">
                <strong class="label">Kwota należna MŚP od Sodexo</strong>
                {{entityObject.sxoEntAmountDueTotal}}
            </div>
            <div class="grid-15">
                <strong class="label">Data przelewu</strong>
                <input type="text"
                       ng-model="entityObject.transferDate"
                       datepicker-popup="yyyy-MM-dd"
                       is-open="datepicker.transferDateOpened"
                       close-text="Zamknij"
                       clear-text="Czyść"
                       current-text="Dziś"
                       ng-click="openDatepicker('transferDateOpened')"
                       datepicker-append-to-body="true"
                       ng-disabled="!isInStatus('EXPORTED')"/>
                <gryf-validation-msg path="transferDate"></gryf-validation-msg>
            </div>
            <div class="grid-10">
                <strong class="label">Kwota należna IS od MŚP</strong>
                {{entityObject.entToTiAmountDueTotal}}
            </div>
            <div class="grid-10">
                <strong class="label">Wykorzystany wkład własny MŚP</strong>
                {{entityObject.usedOwnEntContributionAmountTotal}}
            </div>
            <div class="grid-10">
                <strong class="label">Wartość dofinansowania MŚP</strong>
                {{entityObject.grantAmountTotal}}
            </div>
            <div class="grid-10">
                <strong class="label">Wartość dof. wpłacona do IS</strong>
                {{entityObject.grantAmountPayedToTiTotal}}
            </div>
            <div class="grid-15">
                <strong class="label">Koszt szkoleń</strong>
                {{entityObject.trainingCostTotal}}
            </div>
        </div>
        <div class="grid-100">
            <strong class="label">Uwagi</strong>
            <textarea ng-model="entityObject.remarks"
                      ng-disabled="isInStatus('CANCELLED')"
                      rows="5"
                      maxlength="1000"></textarea>
            <gryf-validation-msg path="remarks"></gryf-validation-msg>
        </div>
    </section>
    <hr>
    <section>
        <header>
            <h2>Korekty</h2>
        </header>
        <div class="grid-100">
            <div class="grid-20">
                <div class="grid-100">
                    <strong class="label">Data wymagana otrzymania korekty</strong>
                    {{entityObject.requiredCorrectionDate | date:'yyyy-MM-dd'}}
                </div>
                <div class="grid-100">
                    <strong class="label">Data otrzymania korekty</strong>
                    <input type="text"
                           ng-model="entityObject.correctionDate"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.correctionDateOpened"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('correctionDateOpened')"
                           datepicker-append-to-body="true"
                           ng-disabled="!isInStatus('CORRECTED')"/>
                </div>
                <div class="grid-100">
                    <strong class="label">Liczba korekt</strong>
                    {{entityObject.correctionsNumber}}
                </div>
            </div>
            <div class="grid-80">
                <div class="grid-100">
                    <strong class="label">Powód korekty</strong>
                    <textarea ng-model="entityObject.correctionReason"
                              ng-disabled="!(isInStatus('CORRECTED')) && !(isInStatus('ANNOUNCED'))"
                              rows="5">
                    </textarea>
                    <gryf-validation-msg path="correctionReason"></gryf-validation-msg>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <header>
            <h2>Szkolenia</h2>
        </header>
        <div class="grid-100">
            <a ng-click="newTraining()" class="button button-add" ng-if="isNewOrAnnouncedOrCorrected()">
                Dodaj nowe
            </a>
        </div>
        <div ng-if="isNewOrAnnouncedOrCorrected()">
            <div class="grid-100">
                <div class="grid-20">Nazwa szkolenia</div>
                <div class="grid-10">Data rozpoczęcia szkolenia</div>
                <div class="grid-10">Data zakończenia szkolenia</div>
                <div class="grid-10">Miejsce szkolenia</div>
                <div class="grid-10">Rodzaj dofinansowania</div>
                <div class="grid-10">Liczba produktów</div>
                <div class="grid-10">Cena brutto godziny szkolenia</div>
                <div class="grid-10">Sumaryczna ilość godz. szkolenia wszystkich ucz.</div>
                <div class="grid-5">Uczestnicy szkolenia</div>
                <div class="grid-5">Akcje</div>
            </div>
            <div class="grid-100" ng-repeat="item in entityObject.reimbursementTrainings">
                <div class="grid-20">
                    <input type="text" ng-model="item.trainingName">
                    <gryf-validation-msg
                            path="reimbursementTrainings[{{$index}}].trainingName">
                    </gryf-validation-msg>
                </div>
                <div class="grid-10">
                    <input type="text"
                           ng-model="item.trainingDateFrom"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker['train_dateFromIsOpened_'+$index]"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('train_dateFromIsOpened_'+$index)"
                           datepicker-append-to-body="true"/>
                    <gryf-validation-msg
                            path="reimbursementTrainings[{{$index}}].trainingDateFrom"></gryf-validation-msg>
                </div>
                <div class="grid-10">
                    <input type="text"
                           ng-model="item.trainingDateTo"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker['train_dateToOpened_'+$index]"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('train_dateToOpened_'+$index)"
                           datepicker-append-to-body="true"/>
                    <gryf-validation-msg
                            path="reimbursementTrainings[{{$index}}].trainingDateTo"></gryf-validation-msg>
                </div>
                <div class="grid-10">
                    <input type="text" ng-model="item.trainingPlace">
                    <gryf-validation-msg
                            path="reimbursementTrainings[{{$index}}].trainingPlace"></gryf-validation-msg>
                </div>
                <div class="grid-10">
                    <select ng-model="item.grantOwnerAidProductId"
                            ng-options="a.id as a.name for a in grantOwnerAidProduct">
                    </select>
                    <gryf-validation-msg
                            path="reimbursementTrainings[{{$index}}].grantOwnerAidProduct"></gryf-validation-msg>
                </div>
                <div class="grid-10">
                    <input type="text" ng-model="item.productsNumber">
                    <gryf-validation-msg
                            path="reimbursementTrainings[{{$index}}].productsNumber"></gryf-validation-msg>
                </div>
                <div class="grid-10">
                    <input type="text" ng-model="item.trainingHourGrossPrice">
                    <gryf-validation-msg
                            path="reimbursementTrainings[{{$index}}].trainingHourGrossPrice"></gryf-validation-msg>
                </div>
                <div class="grid-10">
                    <input type="text" ng-model="item.trainingHoursTotal">
                    <gryf-validation-msg
                            path="reimbursementTrainings[{{$index}}].trainingHoursTotal"></gryf-validation-msg>
                </div>
                <div class="grid-5">
                    <a ng-click="openTraineesLov(item, $index)"
                       class="button button-search">
                        Uczestnicy
                    </a>
                </div>
                <div class="grid-5">
                    <a ng-click="removeTraining(item)" class="button button-search">
                        Usuń
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-100" ng-if="!isNewOrAnnouncedOrCorrected()">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Nazwa szkolenia</th>
                    <th>Data rozpoczęcia szkolenia</th>
                    <th>Data zakończenia szkolenia</th>
                    <th>Miejsce szkolenia</th>
                    <th>Rodzaj dofinansowania</th>
                    <th>Liczba produktów</th>
                    <th>Cena brutto godziny szkolenia</th>
                    <th>Sumaryczna ilość godz. szkolenia wszystkich ucz.</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in entityObject.reimbursementTrainings">
                    <td>{{::item.trainingName}}</td>
                    <td>{{::item.trainingDateFrom | date:'yyyy-MM-dd'}}</td>
                    <td>{{::item.trainingDateTo | date:'yyyy-MM-dd'}}</td>
                    <td>{{::item.trainingPlace}}</td>
                    <td>{{getGrantOwnerAidProductName(item.grantOwnerAidProductId)}}</td>
                    <td>{{::item.productsNumber}}</td>
                    <td>{{::item.trainingHourGrossPrice}}</td>
                    <td>{{::item.trainingHoursTotal}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <hr>
    <section ng-if="!isNewOrAnnouncedOrCorrected()">
        <header>
            <h2>Rozliczenie szkoleń</h2>
        </header>
        <div class="grid-100">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Nazwa szkolenia</th>
                    <th>Ilość godzin</th>
                    <th>Liczba produktów</th>
                    <th>Cena brutto godz. szkolenia</th>
                    <th>Wartość produktu</th>
                    <th>Wartość pomocy</th>
                    <th>Wartość godziny szkolenia rozliczona bonami</th>
                    <th>Kwota należna IS od Sodexo</th>
                    <th>Kwota należna IS od MŚP</th>
                    <th>Kwota należna MŚP od Sodexo</th>
                    <th>Wykorzystany wkład własny MŚP</th>
                    <th>Wartość dofinansowania MŚP</th>
                    <th>Wartość dofinansowania wpłacona do IS</th>
                    <th>Koszt szkolenia</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="item in entityObject.reimbursementTrainings">
                    <td>{{::item.trainingName}}</td>
                    <td>{{::item.trainingHoursTotal}}</td>
                    <td>{{::item.productsNumber}}</td>
                    <td>{{::item.trainingHourGrossPrice}}</td>
                    <td>{{::item.productTotalValue}}</td>
                    <td>{{::item.productAidValue}}</td>
                    <td>{{::item.voucherRefundedTrainingHourValue}}</td>
                    <td>{{::item.sxoTiAmountDue}}</td>
                    <td>{{::item.entToTiAmountDue}}</td>
                    <td>{{::item.sxoEntAmountDue}}</td>
                    <td>{{::item.usedOwnEntContributionAmount}}</td>
                    <td>{{::item.grantAmount}}</td>
                    <td>{{::item.grantAmountPayedToTi}}</td>
                    <td>{{::item.trainingCost}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <hr>
    <section>
        <header>
            <h2>Załączniki do rozliczenia</h2>
            <a href="" class="button"
               ng-click="addReimbursementAttachment()">
                Dodaj złącznik
            </a>
        </header>
        <div class="grid-100">
            <div class="grid-30">Nazwa załącznika</div>
            <div class="grid-15">Rodzaj dokumentu</div>
            <div class="grid-15">Plik załącznika</div>
            <div class="grid-40">Opis</div>
        </div>
        <div class="grid-100" ng-repeat="a in entityObject.reimbursementAttachments">
            <div class="grid-30">
                <input type="text" ng-model="a.name"
                       ng-disabled="a.mandatory || a.originalFileName"
                       maxlength="50">
                <gryf-validation-msg path="reimbursementAttachments[{{$index}}].name">
                </gryf-validation-msg>
            </div>
            <div class="grid-15">
                <select ng-model="a.attachmentType.id"
                        ng-options="v.id as v.name for v in attachmentTypes"
                        ng-disabled="a.mandatory || a.originalFileName">
                </select>
                <gryf-validation-msg path="reimbursementAttachments[{{$index}}].attachmentType">
                </gryf-validation-msg>
            </div>
            <div class="grid-15">
                <div>
                    {{a.file[0].name ? a.file[0].name : a.originalFileName }}
                </div>
                <a class="button"
                   ng-model="a.file"
                   ngf-select>
                    Dodaj
                </a>
                <gryf-validation-msg path="reimbursementAttachments[{{$index}}].file">
                </gryf-validation-msg>
            </div>
            <div class="grid-30">
                <input type="text" ng-model="a.remarks" maxlength="500">
                <gryf-validation-msg path="reimbursementAttachments[{{$index}}].remarks">
                </gryf-validation-msg>
            </div>
            <div class="grid-10">
                <a class="button button-delete"
                   ng-click="removeAttachment(a)"
                   ng-if="!a.mandatory">Usuń</a>
                <a ng-if="a.originalFileName"
                   class="button button-add"
                   ng-href="{{getDownloadAttachmentLink(a)}}"
                   target="_self">
                    Pobierz załącznik
                </a>
            </div>
        </div>
    </section>
    <aside ng-if="traineeWindowOpened" class="modal">
        <section class="modal-content height-70 max-width-85">
            <header>
                <h2>Uczestnicy szkolenia</h2>
                <a href="" class="button" ng-click="closeTraineeLov()">Zamknij</a>
            </header>

            <div>
                <a href="" class="button" ng-click="addTrainee()">Dodaj uczestnika</a>
            </div>

            <div class="grid-100">
                <div class="grid-70">
                    Imię i nazwisko uczestnika
                </div>
                <div class="grid-30">
                    Płeć uczestnika
                </div>
            </div>
            <div class="grid-100" ng-repeat="item in choosedTraining.reimbursementTrainees">
                <div class="grid-50">
                    <input type="text" ng-model="item.traineeName">
                    <gryf-validation-msg
                            path="reimbursementTrainings[{{trainingIndex}}].reimbursementTrainees[{{$index}}].traineeName">
                    </gryf-validation-msg>
                </div>
                <div class="grid-30">
                    <select ng-model="item.traineeSex.id"
                            ng-options="v.id as v.name for v in sex">
                    </select>
                    <gryf-validation-msg
                            path="reimbursementTrainings[{{trainingIndex}}].reimbursementTrainees[{{$index}}].traineeSex">
                    </gryf-validation-msg>
                </div>
                <div class="grid-20">
                    <a href="" class="button"
                       ng-click="removeTrainee(item, choosedTraining.reimbursementTrainees)">
                        Usuń
                    </a>
                </div>
                <div class="grid-100">
                    <a href="" class="button"
                       ng-click="addAttachmentFor(item)">
                        Dodaj złącznik
                    </a>
                </div>
                <div class="grid-100"
                     ng-repeat="attach in item.reimbursementTraineeAttachments">
                    <div class="grid-30">
                        Nazwa załącznika dla uczestnika
                        <input type="text" ng-model="attach.name"
                               ng-disabled="attach.mandatory || attach.originalFileName"></div>
                    <gryf-validation-msg
                            path="reimbursementTrainings[{{trainingIndex}}].reimbursementTrainees[{{$parent.$index}}].reimbursementTraineeAttachments[{{$index}}].name">
                    </gryf-validation-msg>
                    <div class="grid-15">
                        Rodzaj dokumentu
                        <select ng-model="attach.attachmentType.id"
                                ng-options="v.id as v.name for v in attachmentTypes"
                                ng-disabled="attach.mandatory || attach.originalFileName"></select>
                        <gryf-validation-msg
                                path="reimbursementTrainings[{{trainingIndex}}].reimbursementTrainees[{{$parent.$index}}].reimbursementTraineeAttachments[{{$index}}].attachmentType">
                        </gryf-validation-msg>
                    </div>
                    <div class="grid-15">
                        Plik załącznika

                        <div>
                            {{attach.file[0].name ? attach.file[0].name : attach.originalFileName }}
                        </div>

                        <a class="button"
                           ng-model="attach.file"
                           ngf-select>
                            Dodaj
                        </a>
                        <gryf-validation-msg
                                path="reimbursementTrainings[{{trainingIndex}}].reimbursementTrainees[{{$parent.$index}}].reimbursementTraineeAttachments[{{$index}}].file">
                        </gryf-validation-msg>
                    </div>
                    <div class="grid-15">
                        Opis
                        <input type="text" ng-model="attach.remarks">
                        <gryf-validation-msg
                                path="reimbursementTrainings[{{trainingIndex}}].reimbursementTrainees[{{$parent.$index}}].reimbursementTraineeAttachments[{{$index}}].remarks">
                        </gryf-validation-msg>
                    </div>
                    <div class="grid-15">
                        <a class="button button-delete"
                           ng-click="removeAttachmentFromTrainee(attach, item)"
                           ng-if="!attach.mandatory">Usuń</a>
                        <a ng-if="attach.originalFileName"
                           class="button button-add"
                           ng-href="{{getDownloadTraineeAttachmentLink(attach)}}"
                           target="_self">
                            Pobierz załącznik
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>