<div>
    <div class="msg-error grid-100" ng-hide="isDisabled">
        Maksymalny rozmiar załączonych plików to X MB. W systemie można załączać jedynie dokumenty z następującymi rozszerzeniami: PDF,DOC,DOCX,XLS,XLSX,PNG,JPG,GIF.
    </div>
    <div class="grid-100">
        <div class="grid-20">Rodzaj załącznika</div>
        <div class="grid-20">Numer dokumentu (np. FV) lub opis</div>
        <div class="grid-10">Data dokumentu</div>
        <div class="grid-20">Opis dodatkowy</div>
        <div class="grid-20">Oryginalna nazwa pliku</div>
    </div>
    <div ng-repeat="item in model.attachments" class="grid-100" data-ng-hide="item.markToDelete">
        <div class="grid-20">
            <select ng-model="item.code" data-ng-disabled="item.required">
                <option data-ng-repeat="t in modelTypes.types" data-ng-show="!t.required" ng-selected="{{t.code == item.code}}" value="{{t.code}}">{{t.name}}</option>
            </select>
        </div>
        <div class="grid-20">
            <input type="text" ng-disabled="hasNotPrivilege('GRF_PBE_CONTRACTS_MOD') || item.required" data-ng-model="item.documentNumber"/>
            <gryf-validation-msg style="position: absolute;" path="attachments[{{$index}}].documentNumber"></gryf-validation-msg>
        </div>
        <div class="grid-10">
            <input type="text"  ng-disabled="hasNotPrivilege('GRF_PBE_CONTRACTS_MOD') || item.required"
                   ng-model="item.documentDate"
                   datepicker-popup="yyyy-MM-dd" is-open="datepicker.isRmbsDateFromOpened"
                   close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                   ng-click="openDatepicker('isRmbsDateFromOpened')"/>
            <gryf-validation-msg style="position: absolute;" path="attachments[{{$index}}].documentDate"></gryf-validation-msg>
        </div>
        <div class="grid-20">
            <input ng-disabled="hasNotPrivilege('GRF_PBE_CONTRACTS_MOD') || item.required" type="text" data-ng-model="item.additionalDescription"/>
        </div>
        <div class="grid-20">
            <a ng-href="{{getDownloadAttachmentLink(item)}}" ng-if="item.originalFileName && !item.changed">{{item.originalFileName}}</a>
            <a ng-if="item.file[0].name">{{item.file[0].name}}</a>
        </div>
        <div class="grid-20" ng-hide="isDisabled">
            <!--TODO: dodać zmienną definiującą maksymalny rozmiar pliku, gdy nie został zdefiniowany per typ-->
            <a ng-if="(item.file.name || item.originalFileName)" ng-href="{{getDownloadAttachmentLink(item)}}"><button class="button">Pobierz</button></a>
            <a class="button" ng-model="item.file" ngf-select gryf-privilege="GRF_PBE_E_REIMBURSEMENTS_MOD" ng-if="!item.required"
                    style="margin-left: 10px;"
                    ngf-max-size="{{item.maxFileSize ? item.maxFileSize : '2MB'}}"
                    ngf-model-invalid="item.errorFile" data-ng-click="onItemClick(item, $index)"
                    ngf-pattern=".pdf,.doc,.docx,.xls,.xlsx,.png,.jpg,.gif">
                    {{(!item.file[0].name && !item.originalFileName) ? "Wgraj plik" : "Zmień plik"}}
            </a>
            <span class="msg msg-error" ng-show="item.errorFile.$errorMessages.maxSize">Załącznik przekracza maksymalny rozmiar pliku: {{item.maxFileSize ? item.maxFileSize / 1024 / 1024 : '2'}}MB</span>
            <span class="msg msg-error" ng-show="item.errorFile.$errorMessages.pattern">Niepoprawne rozszerzenie pliku</span>
            <gryf-validation-msg path="attachments[{{$index}}].file"></gryf-validation-msg>
            <a class="button" style="margin-left: 10px" data-ng-if="!item.required" ng-click="deleteAtt(item)"
                    gryf-privilege="GRF_PBE_E_REIMBURSEMENTS_MOD">Usuń
            </a>
        </div>
    </div>
    <div class="grid-100">
        <a ng-hide="isDisabled" class="button" ng-click="addNew()"
                gryf-privilege="GRF_PBE_E_REIMBURSEMENTS_MOD">Dodaj plik</a>
        <<a ng-hide="isDisabled" class="button" ng-click="saveFiles()"
            gryf-privilege="GRF_PBE_E_REIMBURSEMENTS_MOD">Zapisz pliki</a>
    </div>
</div>