<div class="modal-head green">
    <div class="modal-title">Anulowanie rezerwacji usługi</div>
    <button class="close"ng-click="close(true)">&times;</button>
</div>
<div class="modal-body">
    <span class="alert-text">
        Zamierzasz anulować usługa dla poniższego Uczestnika - czy potwierdzasz operację? <br/>
        Pula bonów zostanie ponownie udostępniona dla wybranego Uczestnika.
    </span>
    <div class="row-30"></div>
    <table>
        <thead>
        <tr class="grid-100 tableHeader-names">
            <th class="grid-20">Nazwa usługi</th>
            <th class="grid-10">Nr usługi</th>
            <th class="grid-10">PESEL</th>
            <th class="grid-10">Imię</th>
            <th class="grid-10">Nazwisko</th>
            <th class="grid-10">Liczba anulowanych bonów</th>
            <th class="grid-15">Data rozpoczęcia</th>
            <th class="grid-15">Data zakończenia</th>
        </tr>
        </thead>
        <tbody class="tableData">
        <tr>
            <td>{{trainingInstance.data.trainingName}}</td>
            <td>{{trainingInstance.data.trainingExternalId}}</td>
            <td>{{trainingInstance.data.participantPesel}}</td>
            <td>{{trainingInstance.data.participantName}}</td>
            <td>{{trainingInstance.data.participantSurname}}</td>
            <td>{{trainingInstance.data.productAssignedNum}}</td>
            <td>{{trainingInstance.data.startDate  | date:'yyyy-MM-dd'}}</td>
            <td>{{trainingInstance.data.endDate  | date:'yyyy-MM-dd'}}</td>
        </tr>
        </tbody>
    </table>
    <div class="row-30"></div>
    <div class="grid-100 text-center">
        <button class="row-10 standardButton" ng-click="cancelTrainingReservation()">Potwierdzam anulowanie</button>
    </div>
</div>