<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
<div>
    <header id="header">
        <h1>Edycja umowy</h1>
        <ul>
            <li>
                <a ng-click="save()" class="button button-save"
                   gryf-privilege="GRF_PBE_CONTRACTS_MOD">
                    Zapisz
                </a>
            </li>
            <li>
                <a ng-click="saveAndAdd()" class="button button-save"
                   gryf-privilege="GRF_PBE_CONTRACTS_MOD">
                    Zapisz i dodaj następną</a>
            </li>
            <li data-ng-if="!!model.pools">
                <a class="button"
                   gryf-privilege="GRF_PBE_CONTRACTS_MOD">
                    Rezygnacja z umowy</a>
            </li>
        </ul>
        <ol>
            <li>
                <a data-ng-click="goBack()" class="button"
                   target="_self">Anuluj </a>
            </li>
        </ol>
        <ol>
            <li>
                <a data-ng-click="newContract()" class="button button-new"
                   gryf-privilege="GRF_PBE_CONTRACTS_MOD"
                   target="_self">Nowa umowa</a>
            </li>
        </ol>
    </header>
    <section>
        <h1>Program dofinansowania</h1>
        <div class="grid-100">
            <div class="grid-50">
                <strong class="label">Program dofinansowania</strong>
                <select ng-options="item as item.name for item in grantProgram.list"
                        ng-model="model.entity.grantProgram" ng-hide="isDisabled"
                        ng-change="grantProgramChanged();">
                    <option value="">-wybierz-</option>
                </select>
                <input type="text" ng-model="model.entity.grantProgram.name" ng-disabled="isDisabled" ng-show="isDisabled">
                <gryf-validation-msg path="grantProgram"></gryf-validation-msg>
            </div>
            <div class="grid-50">
                <strong class="label">Dysponent środków</strong>
                <input type="text" ng-model="model.entity.grantProgram.grantProgramOwnerName" disabled="disabled">
            </div>
        </div>
    </section>
    <section>
        <h1>Dane umowy</h1>
        <div class="grid-100">
            <div>
                <strong class="label">ID umowy</strong>
                <input type="number" ng-model="model.entity.id" ng-disabled="isDisabled">
                <gryf-validation-msg path="id"></gryf-validation-msg>
            </div>
            <div>
                <strong class="label">Rodzaj umowy</strong>
                <select ng-options="item.id as item.name for item in contractType.list"
                        ng-model="model.entity.contractType.id" ng-change="checkContractData()"
                        ng-disabled="hasNotPrivilege('GRF_PBE_CONTRACTS_MOD')">
                    <option value="">-wybierz-</option>
                </select>
                <gryf-validation-msg path="contractType"></gryf-validation-msg>
            </div>
            <div>
                <strong class="label">Kategoria usługi</strong>
                <select multiple ng-options="v.id as v.name for v in trainingCategory.list | orderBy:'ordinal'"
                        ng-model="model.entity.trainingCategory"
                        ng-disabled="hasNotPrivilege('GRF_PBE_CONTRACTS_MOD')">
                </select>
                <gryf-validation-msg path="categories"></gryf-validation-msg>
            </div>
            <div>
                <strong class="label">Dane uczestnika</strong>
                <div>Pesel: {{model.entity.individual.pesel}}</div>
                <div>Osoba: {{model.entity.individual.firstName}} {{model.entity.individual.lastName}}</div>
                <div>
                    <a ng-click="openIndividualLov()" class="button button-save"
                       gryf-privilege="GRF_PBE_CONTRACTS_MOD">
                        Wprowadź
                    </a>
                </div>
                <gryf-validation-msg path="individual"></gryf-validation-msg>
            </div>
            <div>
                <strong class="label">Dane MŚP</strong>
                <div>NIP: {{model.entity.enterprise.vatRegNum}}</div>
                <div>Nazwa: {{model.entity.enterprise.name}}</div>
                <div><a ng-click="openEnterpriseLov()" class="button button-save"
                        ng-style="model.entity.contractType.id != 'ENT' && {'background-color': '#adadad'}"
                        gryf-privilege="GRF_PBE_CONTRACTS_MOD">Wprowadź</a></div>
                <gryf-validation-msg path="enterprise"></gryf-validation-msg>
            </div>
        </div>
        <div class="grid-100">
            <div>
                <strong class="label">Data podpisania umowy</strong>
                <input type="text"
                       placeholder=""
                       ng-model="model.entity.signDate"
                       datepicker-popup="yyyy-MM-dd"
                       is-open="datepicker.signDate"
                       close-text="Zamknij"
                       clear-text="Czyść"
                       current-text="Dziś"
                       ng-click="openDatepicker('signDate')"
                       search-on-enter
                       ng-disabled="hasNotPrivilege('GRF_PBE_CONTRACTS_MOD')"/>
                <gryf-validation-msg path="signDate"></gryf-validation-msg>
            </div>
            <div>
                <strong class="label">Data ważności umowy</strong>
                <input type="text"
                       placeholder=""
                       ng-model="model.entity.expiryDate"
                       datepicker-popup="yyyy-MM-dd"
                       is-open="datepicker.expiryDate"
                       close-text="Zamknij"
                       clear-text="Czyść"
                       current-text="Dziś"
                       ng-click="openDatepicker('expiryDate')"
                       search-on-enter
                       ng-disabled="hasNotPrivilege('GRF_PBE_CONTRACTS_MOD')"/>
                <gryf-validation-msg path="expiryDate"></gryf-validation-msg>
            </div>
        </div>
    </section>

    <section data-ng-if="!!model.pools">
        <h1>Pule bonów</h1>

        <div id="productPanelHead" class="grid-100">
            <div class="grid-10"><strong class="label">Id puli</strong></div>
            <div class="grid-10"><strong class="label">Zewnętrzny numer zamówienia</strong></div>
            <div class="grid-10"><strong class="label">Data zamówienia</strong></div>
            <div class="grid-10"><strong class="label">Data ważności</strong></div>
            <div class="grid-10"><strong class="label">Całkowita liczba bonów</strong></div>
            <div class="grid-10"><strong class="label">Dostępne</strong></div>
            <div class="grid-10"><strong class="label">Zarezerwowane</strong></div>
            <div class="grid-10"><strong class="label">Wykorzystane</strong></div>
            <div class="grid-10"><strong class="label">Rozliczone</strong></div>
            <div class="grid-10"><strong class="label">Wygaśnięte</strong></div>
        </div>
        <div id="productsPanel" class="grid-100" data-ng-repeat="pool in model.pools">
            <div class="grid-10">{{::pool.id}}</div>
            <div class="grid-10">{{::pool.externalOrderId}}</div>
            <div class="grid-10">{{::pool.startDate | date:'yyyy-MM-dd'}}</div>
            <div class="grid-10">{{::pool.expiryDate | date:'yyyy-MM-dd'}}</div>
            <div class="grid-10">{{::pool.allNum}}</div>
            <div class="grid-10">{{::pool.availableNum}}</div>
            <div class="grid-10">{{::pool.reservedNum}}</div>
            <div class="grid-10">{{::pool.usedNum}}</div>
            <div class="grid-10">{{::pool.reimbursedNum}}</div>
            <div class="grid-10">{{::pool.expiredNum}}</div>
        </div>
    </section>
</div>
