<div>
    <header id="header">
        <h1>Wyszukiwanie Umowy</h1>
        <ul>
            <li><a href="#/modify/" class="button button-new"
                   gryf-privilege="GRF_PBE_CONTRACTS_MOD">Nowa umowa</a></li>
            <li><a ng-click="clear()" class="button button-refresh">wyczyść</a></li>
        </ul>
    </header>

    <div class="one-column">

        <section class="overflow-x-auto">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="sortable" ng-class="getSortingTypeClass('id')">
                        <div ng-click="getSortedBy('id')">Id</div>
                        <input placeholder="ID" type="text"
                               ng-model="searchObjModel.entity.id">
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('contractType.name')">
                        <div ng-click="getSortedBy('contractType.name')">Rodzaj umowy</div>
                        <input placeholder="Rodzaj umowy" type="text"
                               ng-model="searchObjModel.entity.contractTypeDescription">
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('individual.pesel')">
                        <div ng-click="getSortedBy('individual.pesel')">Pesel uczestnika</div>
                        <input placeholder="Pesel uczestnika"
                               ng-model="searchObjModel.entity.pesel">
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('enterprise.vatRegNum')">
                        <div ng-click="getSortedBy('enterprise.vatRegNum')">Nip MŚP
                        </div>
                        <input placeholder="NIP MŚP"
                               ng-model="searchObjModel.entity.vatRegNum">
                    </th>
                    <th class="sortable"
                        ng-class="getSortingTypeClass('signDate')">
                        <div ng-click="getSortedBy('signDate')">
                            Data podpisania
                        </div>
                        <input type="text"
                               placeholder="Data podpisania od"
                               ng-model="searchObjModel.entity.signDateFrom"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="datepicker.signDateFrom"
                               close-text="Zamknij"
                               clear-text="Czyść"
                               current-text="Dziś"
                               ng-click="openDatepicker('signDateFrom')"
                               search-on-enter/>
                        <input type="text"
                               placeholder="Data podpisania do"
                               ng-model="searchObjModel.entity.signDateTo"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="datepicker.signDateTo"
                               close-text="Zamknij"
                               clear-text="Czyść"
                               current-text="Dziś"
                               ng-click="openDatepicker('signDateTo')"
                               search-on-enter/>
                    </th>
                    <th class="sortable"
                        ng-class="getSortingTypeClass('expiryDate')">
                        <div ng-click="getSortedBy('expiryDate')">
                            Data ważności
                        </div>
                        <input type="text"
                               placeholder="Data ważności od"
                               ng-model="searchObjModel.entity.expiryDateFrom"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="datepicker.expiryDateFrom"
                               close-text="Zamknij"
                               clear-text="Czyść"
                               current-text="Dziś"
                               ng-click="openDatepicker('expiryDateFrom')"
                               search-on-enter/>
                        <input type="text"
                               placeholder="Data ważności do"
                               ng-model="searchObjModel.entity.expiryDateTo"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="datepicker.expiryDateTo"
                               close-text="Zamknij"
                               clear-text="Czyść"
                               current-text="Dziś"
                               ng-click="openDatepicker('expiryDateTo')"
                               search-on-enter/>
                    </th>
                    <th class="sortable" ng-class="getSortingTypeClass('grantProgram.programName')">
                        <div ng-click="getSortedBy('grantProgram.programName')">
                            Program dofinansowania
                        </div>
                        <input placeholder="Program dofinansowania"
                               ng-model="searchObjModel.entity.grantProgramName">
                    </th>
                    <th class="sortable"
                        ng-class="getSortingTypeClass('grantProgram.grantOwnerId.name')">
                        <div ng-click="getSortedBy('grantProgram.grantOwnerId.name')">
                            Dysponent  środków
                        </div>
                        <input placeholder="Dysponent  środków"
                               ng-model="searchObjModel.entity.grantProgramOwnerName">
                    </th>
                    <th>
                        <a ng-click="findContracts()"
                           class="button button-search">szukaj</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr
                        ng-repeat="item in searchObjModel.searchResultList | limitTo: searchResultOptions.displayLimit">
                    <td>{{::item.id}}</td>
                    <td>{{::item.contractType.name}}</td>
                    <td>{{::item.individual.pesel}}</td>
                    <td>{{::item.enterprise.vatRegNum}}</td>
                    <td>{{::item.signDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{::item.expiryDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{::item.grantProgram.name}}</td>
                    <td>{{::item.grantProgram.grantProgramOwnerName}}</td>
                    <td>
                        <ul class="buttons">
                            <li><a ng-href="#/modify/{{item.id}}"
                                   class="button button-go">szczegóły</a>

                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-show="searchResultOptions.overflow" class="centered-ul">
                <ul>
                    <li><a href="#/" ng-click="loadMore()"
                           class="button button-infinity">wczytaj więcej wyników</a></li>
                </ul>
            </div>
            <div class="" ng-show="model.zipCodesArray.length===0">
                Brak wyników
            </div>
            <div class="msg msg-error" ng-show="searchResultOptions.badQuery">
                <p>Błąd kryteriów zapytania - niepoprawny format</p>
            </div>
        </section>

    </div>
</div>
