<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>

<div>
    <div>
        <header id="header">
            <h1>Edycja IS</h1>
            <ul>
                <li>
                    <a ng-click="save()" class="button button-save">zapisz</a>
                </li>
                <li>
                    <a ng-click="saveAndAdd()" class="button button-save">
                        zapisz i dodaj następne</a>
                </li>
            </ul>
            <ol>
                <li>
                    <a ng-href="{{getPrevUrl()}}" class="button button-new"
                       target="_self">Anuluj </a>
                </li>
            </ol>
            <ol>
                <li>
                    <a ng-href="#" ng-click="newTrainingInstitution()" class="button button-new"
                       target="_self">Nowe IS</a>
                </li>
            </ol>
        </header>

        <section>
            <div class="grid-100">
                <div class="grid-10">
                    <strong class="label">ID</strong>
                    <input type="text" ng-model="model.entity.id" maxlength="500"
                           disabled="disabled">
                </div>
                <div class="grid-70">
                    <strong class="label">Nazwa</strong>
                    <input type="text" ng-model="model.entity.name" maxlength="500">
                    <gryf-validation-msg path="name"></gryf-validation-msg>
                </div>
                <div class="grid-20">
                    <strong class="label">NIP</strong>
                    <input type="text" ng-model="model.entity.vatRegNum" maxlength="20">
                    <gryf-validation-msg path="vatRegNum"></gryf-validation-msg>
                </div>
            </div>
            <div class="grid-100">
                <div class="grid-60">
                    <strong class="label">Adres do faktury</strong>
                    <input type="text" ng-model="model.entity.addressInvoice" maxlength="200">
                    <gryf-validation-msg path="addressInvoice"></gryf-validation-msg>
                </div>
                <div class="grid-40">
                    <strong class="label">Kod i miasto do faktury</strong>
                    <span class="grid-30">
                        {{model.entity.zipCodeInvoice.zipCode}}
                        <gryf-validation-msg path="zipCodeInvoice"></gryf-validation-msg>
                        </span>
                     <span class="grid-70">
                        {{model.entity.zipCodeInvoice.cityName}}
                        <gryf-validation-msg path="zipCodeInvoice.cityName"></gryf-validation-msg>
                              </span>

                    <div><a href="" ng-click="openInvoiceZipCodesLov()"
                            class="button button-new">wybierz</a></div>
                </div>
            </div>
            <div class="grid-100">
                <div class="grid-60">
                    <strong class="label">Adres korespondencyjny</strong>
                    <input type="text" ng-model="model.entity.addressCorr" maxlength="200">
                    <gryf-validation-msg path="addressCorr"></gryf-validation-msg>
                </div>
                <div class="grid-40">
                    <strong class="label">Kod i miasto korespondencyjne</strong>

                    <span class="grid-30">
                        {{model.entity.zipCodeCorr.zipCode}}
                        <gryf-validation-msg path="zipCodeCorr"></gryf-validation-msg>
                    </span>
                    <span class="grid-70">
                        {{model.entity.zipCodeCorr.cityName}}
                        <gryf-validation-msg path="zipCodeCorr.cityName"></gryf-validation-msg>
                    </span>

                    <div>
                        <a href="" ng-click="openCorrZipCodesLov()" class="button button-new">wybierz
                        </a>
                    </div>
                </div>

            </div>
            <div class="grid-100">
                <div class="grid-20">
                    <strong class="label">Kod IS</strong>
                    <input type="text" ng-model="model.entity.code" maxlength="8"
                           disabled="disabled">
                </div>

            </div>
            <div class="grid-100">
                <strong class="label">Uwagi</strong>
                <textarea ng-model="model.entity.remarks" rows="5" maxlength="4000"></textarea>
            </div>
        </section>

        <section>
            <header>
                <h2>Kontakty</h2>
                <ul>
                    <li><a class="button button-add" ng-click="addContact()">Dodaj kontakt</a></li>
                </ul>
            </header>
            <table class="table">
                <thead>
                <tr>
                    <th>Typ kontaktu</th>
                    <th>Dane kontaktu</th>
                    <th>Uwagi</th>
                    <th></th>
                </tr>
                </thead>
                <tr ng-repeat="contact in model.entity.contacts">
                    <td>
                        <select ng-options="s as s.name for s in model.contactTypes track by s.type"
                                ng-model="contact.contactType"/>
                        <gryf-validation-msg
                                path="contacts[{{$index}}].contactTypes"></gryf-validation-msg>
                    </td>
                    <td>
                        <input type="text" ng-model="contact.contactData"/>
                        <gryf-validation-msg
                                path="contacts[{{$index}}].contactData"></gryf-validation-msg>
                    </td>
                    <td>
                        <input type="text" ng-model="contact.remarks"/>
                        <gryf-validation-msg
                                path="contacts[{{$index}}].remarks"></gryf-validation-msg>
                    </td>
                    <td>
                        <a class="button button-delete" ng-click="removeContact(contact)">Usuń</a>
                    </td>
                </tr>
            </table>
        </section>
    </div>
</div>