<div>
    <header id="header">
        <h1>Zamówienie</h1>
        <ul>
            <li ng-repeat="item in entityObject.actions">
                <a ng-click="executeAction(item.id.actionId)" class="button button-save">
                    {{::item.actionName}}
                </a>
            </li>
        </ul>
    </header>

    <section>
        <div ng-repeat="item in entityObject.elements">
            <div class="width-100" ng-include="templateUrl(item)"></div>
        </div>
    </section>
</div>
