<article itemprop="text" class="text centered" ng-controller="ValidationController">
    <h1 itemprop="headline name" class="headline name">Zmiana hasła</h1>

    <p itemprop="description" class="description">Prosimy, wprowadź nowe hasło.</p>
    <p>Hasło musi zawierać co najmniej 8 znaków, minimum jedną cyfrę, znak specjalny oraz wielkie i małe litery.</p>
    <p ng-show="errorMessage" style="color:red">{{errorMessage}}</p>
    <section class="form form-change-password">
        <form name="changePasswordForm" ng-submit="submitForm()" >
            <fieldset>
                <div class="field input input-short required">
                    <div class="label-change-password">
                        <label for="oldPassword">Stare hasło:</label>
                    </div>
                    <div class="control">
                        <input id="oldPassword" type="password" name="oldPassword" ng-model="password.oldPassword"  tabindex="1" ng-pattern="passwordRegex">
                        <span ng-show="changePasswordForm.oldPassword.$error.pattern" style="color:red">Wprowadź poprawne hasło!</span>
                    </div>
                </div>
                <div class="field input input-short required">
                    <div class="label-change-password">
                        <label for="newPassword">Nowe hasło:</label>
                    </div>
                    <div class="control">
                        <input id="newPassword" type="password" name="newPassword"  ng-model="password.newPassword" tabindex="2" ng-pattern="passwordRegex">
                        <span ng-show="changePasswordForm.newPassword.$error.pattern" style="color:red">Wprowadź poprawne hasło!</span>
                    </div>
                </div>
                <div class="field input input-short required">
                    <div class="label-change-password">
                        <label for="newPasswordRepeat">Powtórz nowe hasło:</label>
                    </div>
                    <div class="control">
                        <input id="newPasswordRepeat" type="password" name="newPasswordRepeat" ng-model="password.newPasswordRepeated" tabindex="2" ng-pattern="passwordRegex">
                        <span ng-show="changePasswordForm.newPasswordRepeat.$error.pattern" style="color:red">Wprowadź poprawne hasło!</span>
                    </div>
                </div>
            </fieldset>
            <div class="submit submit-new-password">
                <button type="submit" tabindex="3">Zapisz nowe hasło</button>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </div>
            <script>
                document.loginForm.username.focus();
                var hashFragment = window.location.hash;
                if (hashFragment) {
                    var action = document.loginForm.getAttribute('action');
                    document.loginForm.setAttribute('action', action + hashFragment);
                }
            </script>
        </form>
    </section>
</article>




