<article itemprop="text" class="text centered" ng-controller="ValidationController">
    <h1 itemprop="headline name" class="headline name">Zmiana hasła</h1>

    <p itemprop="description" class="description">Prosimy, wprowadź nowe hasło.</p>
    <p>Hasło musi zawierać co najmniej 8 znaków, minimum jedną cyfrę, znak specjalny oraz wielkie i małe litery.</p>
    <p ng-show="errorMessage" style="color:red">{{errorMessage}}</p>
    <section class="form form-change-password">
        <form name="changePasswordForm" ng-submit="submitForm()" novalidate>
            <fieldset>
                <div class="field input input-short required">
                    <div class="label-change-password">
                        <label for="oldPassword">Stare hasło:</label>
                    </div>
                    <div class="control">
                        <input id="oldPassword" type="password" name="oldPassword" ng-model="password.oldPassword" ng-change="validateOldAndNewPassword('oldPassword')" tabindex="1" ng-pattern="passwordRegex" required>
                        <local-validation-msg form-field="changePasswordForm.oldPassword"></local-validation-msg>
                    </div>
                </div>
                <div class="field input input-short required">
                    <div class="label-change-password">
                        <label for="newPassword">Nowe hasło:</label>
                    </div>
                    <div class="control">
                        <input id="newPassword" type="password" name="newPassword"  ng-model="password.newPassword" ng-change="validateOldAndNewPassword('newPassword')" tabindex="2" ng-pattern="passwordRegex" required>
                        <local-validation-msg form-field="changePasswordForm.newPassword"></local-validation-msg>
                    </div>
                </div>
                <div class="field input input-short required">
                    <div class="label-change-password">
                        <label for="newPasswordRepeated">Powtórz nowe hasło:</label>
                    </div>
                    <div class="control">
                        <input id="newPasswordRepeated" type="password" name="newPasswordRepeated" ng-model="password.newPasswordRepeated"  ng-change="validateOldAndNewPassword('newPasswordRepeated')" tabindex="2" ng-pattern="passwordRegex" required>
                        <local-validation-msg form-field="changePasswordForm.newPasswordRepeated"></local-validation-msg>
                    </div>
                </div>
            </fieldset>
            <div class="submit submit-new-password">
                <button type="submit" tabindex="3">Zapisz nowe hasło</button>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </div>
            <script>
                document.loginForm.username.focus();
                var hashFragment = window.location.hash;
                if (hashFragment) {
                    var action = document.loginForm.getAttribute('action');
                    document.loginForm.setAttribute('action', action + hashFragment);
                }
            </script>
        </form>
    </section>
</article>




