<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pl.sodexo.it.gryf.dao.api.search.mapper.CorrectionSearchMapper">

    <select id="findCorrectionsNumberByErmbsId" resultType="java.lang.Integer">
        SELECT
          COUNT(corr.ID)
        FROM
          APP_PBE.CORRECTIONS corr
          JOIN APP_PBE.E_REIMBURSEMENTS ermbs ON corr.E_RMBS_ID = ermbs.ID
          JOIN APP_PBE.TI_TRAINING_INSTANCES ti_in ON ti_in.ID = ermbs.TI_TR_INST_ID
          JOIN APP_PBE.TI_TRAININGS ti ON ti.ID = ti_in.TRAINING_ID
        WHERE
          corr.E_RMBS_ID = #{ermbsId}
          <if test="criteria.gryfUser.userType == 'TRAINING_INSTITUTION'">
            AND ti.TRAINING_INSTITUTION_ID = #{criteria.gryfUser.trainingInstitutionId}
          </if>
    </select>

    <resultMap id="correctionMap" type="pl.sodexo.it.gryf.common.dto.publicbenefits.electronicreimbursements.CorrectionDto" autoMapping="true" >
        <id column="id" property="id"/>
        <collection property="attachments" ofType="pl.sodexo.it.gryf.common.dto.publicbenefits.electronicreimbursements.CorrectionAttachmentDto" autoMapping="true" columnPrefix="att_"/>
    </resultMap>
    <select id="findCorrectionsByERmbsId" resultMap="correctionMap">
        SELECT
            allCor.ID                       id,
            allCor.E_RMBS_ID                ermbsId,
            allCor.REASON                   correctionReason,
            allCor.COMPLEMENT_DATE          complementDate,
            allCor.REQUIRED_DATE            requiredDate,
            ROWNUM                          correctionNumber,
            <!-- załączniki do korekty -->
            cor_att.ID                      att_id,
            cor_att.CORR_ID                 att_corrId,
            cor_att.E_RMBS_ATT_ID               att_ermbsAttId,
            cor_att.FILE_ID                 att_fileId,
            cor_att.OLD_DOCUMENT_NUMBER     att_oldDocumentNumber,
            cor_att.OLD_ADDITIONAL_DESC     att_oldAdditionalDesc,
            att_t.NAME                      att_attTypeName,
            rmbs_att.STATUS                 att_status
        FROM
            (SELECT *
            FROM APP_PBE.CORRECTIONS corr
            WHERE corr.E_RMBS_ID = #{ermbsId}
            ORDER BY corr.CREATED_TIMESTAMP ASC) allCor
            LEFT JOIN APP_PBE.CORRECTION_ATTACHMENTS cor_att on allCor.ID = cor_att.CORR_ID
            LEFT JOIN APP_PBE.E_RMBS_ATTACHMENTS rmbs_att ON rmbs_att.ID = cor_att.E_RMBS_ATT_ID
            LEFT JOIN APP_PBE.ATTACHMENT_TYPES att_t ON att_t.CODE = rmbs_att.ATTACH_TYPE
        ORDER BY correctionNumber DESC
    </select>

    <resultMap id="corrNotifParam" type="pl.sodexo.it.gryf.common.dto.publicbenefits.electronicreimbursements.CorrectionNotificationEmailParamsDto" autoMapping="true" >
        <id column="rmbsNumber" property="rmbsNumber"/>
        <collection property="emails" ofType="java.lang.String">
            <result column="EMAIL" property="EMAIL"/>
        </collection>
    </resultMap>
    <select id="findCorrNotifParamsByErmbsId" resultMap="corrNotifParam">
        SELECT
          ermbs.ID                   rmbsNumber,
          gr_pr.PROGRAM_NAME         grantProgramName,
          ermbs.ARRIVAL_DATE         arrivalDate,
          usr.EMAIL                  email
        FROM
          APP_PBE.E_REIMBURSEMENTS ermbs
          JOIN APP_PBE.TI_TRAINING_INSTANCES ti ON ti.ID = ermbs.TI_TR_INST_ID
          JOIN APP_PBE.TI_TRAININGS tr ON tr.ID = ti.TRAINING_ID
          JOIN APP_PBE.TRAINING_INSTITUTIONS tinst ON tinst.ID = tr.TRAINING_INSTITUTION_ID
          JOIN APP_PBE.TRAINING_INSTITUTION_USERS usr ON usr.TRAINING_ISTITUTION_ID = tinst.ID
          JOIN APP_PBE.GRANT_PROGRAMS gr_pr ON gr_pr.ID = ti.GRANT_PROGRAM_ID
        WHERE
          ermbs.ID = #{ermbsId}
    </select>


</mapper>
