<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pl.sodexo.it.gryf.dao.api.search.mapper.ElectronicReimbursementsSearchMapper">

    <select id="findEcltRmbsListByCriteria" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.electronicreimbursements.ElctRmbsDto" parameterType="list">
        SELECT * FROM
        (SELECT
            ermbs.ID                  rmbsNumber,
            ti.NAME                   trainingName,
            ind.PESEL                 pesel,
            ind.FIRST_NAME            participantName,
            ind.LAST_NAME             participantSurname,
            ermbs.REIMBURSEMENT_DATE  rmbsDate,
            status.NAME               rmbsStatus
        FROM
            APP_PBE.E_REIMBURSEMENTS ermbs
            LEFT JOIN APP_PBE.TI_TRAINING_INSTANCES ti_in ON ti_in.ID = ermbs.TI_TR_INST_ID
            LEFT JOIN APP_PBE.TI_TRAININGS ti ON ti.ID = ti_in.TRAINING_ID
            LEFT JOIN APP_PBE.INDIVIDUALS ind ON ind.ID = ti_in.INDIVIDUAL_ID
            LEFT JOIN APP_PBE.E_REIMBURSEMENT_STATUSES status ON status.ID = ermbs.STATUS_ID
        <where>
            <if test="criteria.rmbsNumber != null and criteria.rmbsNumber != ''">
                ermbs.ID = #{criteria.rmbsNumber}
            </if>
            <if test="criteria.trainingName != null and criteria.trainingName != ''">
                AND LOWER(ti.NAME) like '%' || LOWER(#{criteria.trainingName}) || '%'
            </if>
            <if test="criteria.pesel != null and criteria.pesel != ''">
                AND ind.PESEL like '%' || #{criteria.pesel} || '%'
            </if>
            <if test="criteria.participantName != null and criteria.participantName != ''">
                AND LOWER(ind.FIRST_NAME) like '%' || LOWER(#{criteria.participantName}) || '%'
            </if>
            <if test="criteria.participantSurname != null and criteria.participantSurname != ''">
                AND LOWER(ind.LAST_NAME) like '%' || LOWER(#{criteria.participantSurname}) || '%'
            </if>
            <if test="criteria.rmbsDateFrom != null">
                AND TRIM(ermbs.REIMBURSEMENT_DATE) &gt;= TRIM(#{criteria.rmbsDateFrom})
            </if>
            <if test="criteria.rmbsDateTo != null">
                AND TRIM(ermbs.REIMBURSEMENT_DATE) &lt;= TRIM(#{criteria.rmbsDateTo})
            </if>
            <if test="criteria.rmbsStatus != null and criteria.rmbsStatus != ''">
                AND status.NAME = #{criteria.rmbsStatus}
            </if>
            <if test="criteria.gryfUser.userType == 'TRAINING_INSTITUTION'">
                AND ti.TRAINING_INSTITUTION_ID = #{criteria.gryfUser.trainingInstitutionId}
            </if>
        </where>
        <if test="criteria.sortColumns != null">
            <foreach item="columnName" index="index" collection="criteria.sortColumns" open="ORDER BY " separator="," close="">
                ${columnName} ${criteria.sortTypes[index]}
            </foreach>
        </if>)
        <where>
            <if test="criteria.limit != null">
                ROWNUM &lt;= #{criteria.limit} + 1
            </if>
        </where>
    </select>

    <select id="findElctRmbsStatuses" resultType="pl.sodexo.it.gryf.common.dto.api.SimpleDictionaryDto" parameterType="list">
        SELECT
            dic.ID          id,
            dic.NAME        name,
            dic.ORDINAL     ordinal
        FROM
            APP_PBE.E_REIMBURSEMENT_STATUSES dic
        ORDER BY
            dic.ordinal
    </select>

    <select id="findCalculationChargesParamsForTrInstId" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.electronicreimbursements.CalculationChargesParamsDto">
        SELECT
          tr.HOUR_PRICE                                 trainingHourPrice,
          tr_cat_par.PRODUCT_INSTANCE_FOR_HOUR          productInstanceForHour,
          tr_cat_par.MAX_PRODUCT_INSTANCE               maxProductInstance,
          tr_in.ASSIGNED_NUM                            usedProductsNumber,
          prd.VALUE                                     productValue,
          tr.HOURS_NUMBER                               trainingHoursNumber,
          tr.PRICE                                      trainingPrice
        FROM
          APP_PBE.TI_TRAINING_INSTANCES tr_in
          JOIN APP_PBE.TI_TRAININGS tr ON tr.ID = tr_in.TRAINING_ID
          JOIN APP_PBE.TI_TRAINING_CATEGORIES tr_cat ON tr_cat.ID = tr.TRAINING_CATEGORY_ID
          JOIN APP_PBE.GRANT_PROGRAMS gr_pr ON gr_pr.ID = tr_in.GRANT_PROGRAM_ID
          JOIN APP_PBE.TI_TRAINING_CATEGORY_PARAMS tr_cat_par ON (tr_cat.ID = tr_cat_par.CATEGORY_ID AND gr_pr.ID = tr_cat_par.GRANT_PROGRAM_ID)
          JOIN APP_PBE.GRANT_OWNERS gr_own ON gr_own.ID = gr_pr.GRANT_OWNER_ID
          JOIN APP_PBE.PBE_PRODUCTS prd ON prd.GRANT_OWNER_ID = gr_own.ID
        WHERE
          tr_in.ID = #{trainingInstanceId}
          AND tr_cat_par.DATE_FROM &lt;= SYSDATE
          AND NVL(tr_cat_par.DATE_TO, SYSDATE) &gt;= SYSDATE
          <if test="criteria.gryfUser.userType == 'TRAINING_INSTITUTION'">
                AND tr.TRAINING_INSTITUTION_ID = #{criteria.gryfUser.trainingInstitutionId}
          </if>
    </select>


    <resultMap id="ecltRmbsHeadMap" type="pl.sodexo.it.gryf.common.dto.publicbenefits.electronicreimbursements.ElctRmbsHeadDto" autoMapping="true" >
        <id column="ermbsId" property="ermbsId"/>
        <collection property="products" ofType="pl.sodexo.it.gryf.common.dto.publicbenefits.individuals.ind.ProductHeadDto" autoMapping="true" columnPrefix="prd_"/>
        <collection property="attachments" ofType="pl.sodexo.it.gryf.common.dto.publicbenefits.electronicreimbursements.ErmbsAttachmentDto" autoMapping="true" columnPrefix="att_"/>
    </resultMap>
    <select id="findEcltRmbsById" resultMap="ecltRmbsHeadMap">
        SELECT
          ermbs.ID                                  ermbsId,
          ermbs.TI_TR_INST_ID                       trainingInstanceId,
          tr_in.GRANT_PROGRAM_ID                    grantProgramId,
          tr.TRAINING_INSTITUTION_ID                trainingInstitutionId,
          ermbs.SXO_TI_AMOUNT_DUE_TOTAL             sxoIndAmountDueTotal,
          ermbs.IND_TI_AMOUNT_DUE_TOTAL             indSxoAmountDueTotal,
          ermbs.TI_REIMB_ACCOUNT_NUMBER             tiReimbAccountNumber,
          pool.ORDER_ID                             prd_orderId,
          pool_uses.ASSIGNED_NUM                    prd_reservedProductsCount,
          pool.EXPIRY_DATE                          prd_expirationDate,
          att.ID                                    att_id,
          att.attach_type                           att_code,
          att.DOCUMENT_NUMBER                       att_documentNumber,
          att.ADDITIONAL_DESCRIPTION                att_additionalDescription,
          att.ORGINAL_FILE_NAME                     att_originalFileName,
          att.FILE_LOCATION                         att_fileLocation,
          att_t.MAX_BYTES_PER_FILE                  att_maxFileSize
        FROM
          APP_PBE.E_REIMBURSEMENTS ermbs
          JOIN APP_PBE.TI_TRAINING_INSTANCES tr_in ON tr_in.ID = ermbs.TI_TR_INST_ID
          JOIN APP_PBE.TI_TRAININGS tr ON tr.ID = tr_in.TRAINING_ID
          LEFT JOIN APP_PBE.PBE_PRODUCT_INSTANCE_POOL_USES pool_uses ON pool_uses.TRAINING_INSTANCE_ID = tr_in.ID
          LEFT JOIN APP_PBE.PBE_PRODUCT_INSTANCE_POOLS pool on pool_uses.PRODUCT_INSTANCE_POOL_ID = pool.ID
          LEFT JOIN APP_PBE.E_RMBS_ATTACHMENTS att ON att.E_RMBS_ID = ermbs.ID
          LEFT JOIN APP_PBE.ATTACHMENT_TYPES att_t ON att_t.CODE = att.ATTACH_TYPE
        WHERE
          ermbs.ID = #{ermbsId}
        <if test="criteria.gryfUser.userType == 'TRAINING_INSTITUTION'">
            AND tr.TRAINING_INSTITUTION_ID = #{criteria.gryfUser.trainingInstitutionId}
        </if>
    </select>

</mapper>
