<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pl.sodexo.it.gryf.dao.api.search.mapper.ElectronicReimbursementsSearchMapper">

    <select id="findEcltRmbsListByCriteria" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.electronicreimbursements.ElctRmbsDto" parameterType="list">
        SELECT
            ermbs.ID rmbsNumber,
            ti.NAME trainingName,
            ind.PESEL pesel,
            ind.FIRST_NAME participantName,
            ind.LAST_NAME participantSurname,
            ermbs.REIMBURSEMENT_DATE rmbsDate,
            status.NAME rmbsStatus
        FROM
            APP_PBE.E_REIMBURSEMENTS ermbs
            LEFT JOIN APP_PBE.TI_TRAINING_INSTANCES ti_in ON ti_in.ID = ermbs.TI_TR_INST_ID
            LEFT JOIN APP_PBE.TI_TRAININGS ti ON ti.ID = ti_in.TRAINING_ID
            LEFT JOIN APP_PBE.INDIVIDUALS ind ON ind.ID = ti_in.INDIVIDUAL_ID
            LEFT JOIN APP_PBE.E_REIMBURSEMENT_STATUSES status ON status.ID = ermbs.STATUS_ID
        <where>
            <if test="criteria.rmbsNumber != null and criteria.rmbsNumber != ''">
                ermbs.ID = #{criteria.rmbsNumber}
            </if>
            <if test="criteria.trainingName != null and criteria.trainingName != ''">
                AND LOWER(ti.NAME) like '%' || LOWER(#{criteria.trainingName}) || '%'
            </if>
            <if test="criteria.pesel != null and criteria.pesel != ''">
                AND ind.PESEL like '%' || #{criteria.pesel} || '%'
            </if>
            <if test="criteria.participantName != null and criteria.participantName != ''">
                AND LOWER(ind.FIRST_NAME) like '%' || LOWER(#{criteria.participantName}) || '%'
            </if>
            <if test="criteria.participantSurname != null and criteria.participantSurname != ''">
                AND LOWER(ind.LAST_NAME) like '%' || LOWER(#{criteria.participantSurname}) || '%'
            </if>
            <if test="criteria.rmbsDateFrom != null">
                AND TRIM(ermbs.REIMBURSEMENT_DATE) &gt;= TRIM(#{criteria.rmbsDateFrom})
            </if>
            <if test="criteria.rmbsDateTo != null">
                AND TRIM(ermbs.REIMBURSEMENT_DATE) &lt;= TRIM(#{criteria.rmbsDateTo})
            </if>
            <if test="criteria.rmbsStatus != null and criteria.rmbsStatus != ''">
                AND status.NAME = #{criteria.rmbsStatus}
            </if>
            <if test="criteria.limit != null">
                AND ROWNUM &lt;= #{criteria.limit}
            </if>
            <if test="criteria.gryfUser.userType == 'TRAINING_INSTITUTION'">
                AND ti.TRAINING_INSTITUTION_ID = #{criteria.gryfUser.trainingInstitutionId}
            </if>
        </where>
        <if test="criteria.sortColumns != null">
            <foreach item="columnName" index="index" collection="criteria.sortColumns" open="ORDER BY " separator="," close="">
                ${columnName} ${criteria.sortTypes[index]}
            </foreach>
        </if>
    </select>

    <select id="findElctRmbsStatuses" resultType="pl.sodexo.it.gryf.common.dto.api.SimpleDictionaryDto" parameterType="list">
        SELECT
            dic.ID          id,
            dic.NAME        name,
            dic.ORDINAL     ordinal
        FROM
            APP_PBE.E_REIMBURSEMENT_STATUSES dic
        ORDER BY
            dic.ordinal
    </select>

</mapper>
