<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pl.sodexo.it.gryf.dao.api.search.mapper.GrantProgramSearchMapper">

    <select id="findGrantProgramIdByTrainingInstanceId" resultType="java.lang.Long">
        SELECT
          ti_in.GRANT_PROGRAM_ID
        FROM
          APP_PBE.TI_TRAINING_INSTANCES ti_in
          JOIN APP_PBE.TI_TRAININGS ti ON ti.ID = ti_in.TRAINING_ID
        WHERE
          ti_in.ID = #{trainingInstanceId}
        <if test="criteria.gryfUser.userType == 'TRAINING_INSTITUTION'">
            AND ti.TRAINING_INSTITUTION_ID = #{criteria.gryfUser.trainingInstitutionId}
        </if>
    </select>

</mapper>
