<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pl.sodexo.it.gryf.dao.api.search.mapper.IndividualSearchMapper">

    <select id="findIndividualIdByPeselAndEmail" resultType="pl.sodexo.it.gryf.common.dto.security.individuals.VerificationDto">
        SELECT
            ind.pesel                       pesel,
            contact.contact_data            email
        FROM APP_PBE.INDIVIDUALS ind
            JOIN APP_PBE.INDIVIDUAL_CONTACTS contact ON contact.IND_ID = ind.ID
        WHERE
            contact.CONTACT_TYPE = #{criteria.config.verEmailContactType}
            AND TRIM(contact.CONTACT_DATA) = #{verification.email}
            AND TRIM(ind.PESEL) = #{verification.pesel}
    </select>
    <select id="findIndividualAfterLogin" resultMap="indDto">
        SELECT
            ind.ID                          individualId,
            ind.FIRST_NAME                  firstName,
            ind.LAST_NAME                   lastName,
            ind.PESEL                       pesel,
            con.ID                          contractId,
            con.SIGN_DATE                   signingDate,
            pool.ID                         poolId,
            pool.EXPIRY_DATE                expirationDate,
            pool.ALL_NUM                    grantedProductsCount,
            pool.RESERVED_NUM               reservedProductsCount,
            pool.AVAILABLE_NUM              availableProductsCount,
            pool.USED_NUM                   usedProductsCount,
            pool.ORDER_ID                   orderId,
            trainingInstance.ID             trainingId,
            trainingInstance.ASSIGNED_NUM   productsCount,
            trainingInstance.REGISTER_DATE  signDate,
            orders.ORDER_DATE               orderDate,
            traintCateg.NAME                trainingCategoriesNames,
            training.NAME                   trainingName,
            training.START_DATE             trainingStartDate,
            training.END_DATE               trainingEndDate,
            trainingInstitution.NAME        trainingInstitutionName,
            trainingInstanceStatus.NAME     trainingStatus,
            trainingInstanceStatus.ID       trainingStatusId
        FROM APP_PBE.INDIVIDUALS ind
              LEFT OUTER JOIN APP_PBE.CONTRACTS con ON ind.ID = con.INDIVIDUAL_ID
              LEFT OUTER JOIN APP_PBE.PBE_PRODUCT_INSTANCE_POOLS pool ON ind.ID = pool.INDIVIDUAL_ID
              LEFT OUTER JOIN APP_PBE.TI_TRAINING_INSTANCES trainingInstance ON ind.ID = trainingInstance.INDIVIDUAL_ID
              LEFT OUTER JOIN APP_PBE.ORDERS orders ON pool.ORDER_ID = orders.ID
              LEFT OUTER JOIN APP_PBE.CONTRACT_TRAINING_CATEGORIES contrTrainCateg ON con.ID = contrTrainCateg.CONTRACT_ID
              LEFT OUTER JOIN APP_PBE.TI_TRAINING_CATEGORIES traintCateg ON contrTrainCateg.TRAINING_CATEGORY_ID = traintCateg.ID
              LEFT OUTER JOIN APP_PBE.TI_TRAININGS training ON trainingInstance.TRAINING_ID = training.ID
              LEFT OUTER JOIN APP_PBE.TRAINING_INSTITUTIONS trainingInstitution ON training.TRAINING_INSTITUTION_ID = trainingInstitution.ID
              LEFT OUTER JOIN APP_PBE.TI_TRAINING_INSTANCE_STATUSES trainingInstanceStatus ON trainingInstance.STATUS_ID = trainingInstanceStatus.ID
        WHERE
            ind.ID = #{criteria.gryfUser.individualId}
    </select>

    <resultMap id="indDto" type="pl.sodexo.it.gryf.common.dto.publicbenefits.individuals.ind.IndDto" autoMapping="true">
        <id property="id" column="individualId"/>
        <result property="firstName" column="firstName"/>
        <result property="lastName" column="lastName"/>
        <result property="pesel" column="pesel"/>
        <collection property="agreements" ofType="pl.sodexo.it.gryf.common.dto.publicbenefits.individuals.ind.AgreementDto"
                    autoMapping="true">
            <id property="id" column="contractId"/>
            <result property="signingDate" column="signingDate"/>
            <collection property="trainingCategoriesNames" ofType="java.lang.String" javaType="list"
            autoMapping="true">
                <result property="trainingCategoriesNames" column="trainingCategoriesNames"/>
            </collection>
        </collection>
        <collection property="products" ofType="pl.sodexo.it.gryf.common.dto.publicbenefits.individuals.ind.ProductDto"
                    autoMapping="true">
            <id property="id" column="poolId"/>
            <result property="expirationDate" column="expirationDate"/>
            <result property="grantedProductsCount" column="grantedProductsCount"/>
            <result property="reservedProductsCount" column="reservedProductsCount"/>
            <result property="availableProductsCount" column="availableProductsCount"/>
            <result property="usedProductsCount" column="usedProductsCount"/>
            <result property="orderDate" column="orderDate"/>
            <result property="orderId" column="orderId"/>
        </collection>
        <collection property="trainings" ofType="pl.sodexo.it.gryf.common.dto.publicbenefits.individuals.ind.TrainingDto"
                    autoMapping="true">
            <id property="id" column="trainingId"/>
            <result property="name" column="trainingName"/>
            <result property="trainingInstitutionName" column="trainingInstitutionName"/>
            <result property="productsCount" column="productsCount"/>
            <result property="signDate" column="signDate"/>
            <result property="startDate" column="trainingStartDate"/>
            <result property="endDate" column="trainingEndDate"/>
            <result property="trainingStatus" column="trainingStatus"/>
            <result property="trainingStatusId" column="trainingStatusId"/>
        </collection>
    </resultMap>

</mapper>
