<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pl.sodexo.it.gryf.dao.api.search.mapper.IndividualSearchMapper">

    <select id="findIndividualIdByPeselAndEmail" resultType="pl.sodexo.it.gryf.common.dto.security.individuals.VerificationDto">
        SELECT
            ind.pesel                       pesel,
            contact.contact_data            email
        FROM APP_PBE.INDIVIDUALS ind
            JOIN APP_PBE.INDIVIDUAL_CONTACTS contact ON contact.IND_ID = ind.ID
        WHERE
            contact.CONTACT_TYPE = #{criteria.config.verEmailContactType}
            AND TRIM(contact.CONTACT_DATA) = #{verification.email}
            AND TRIM(ind.PESEL) = #{verification.pesel}
    </select>
    <select id="findIndividualAfterLogin" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.individuals.ind.IndividualWithContactDto">
         SELECT
            ind.ID                          id,
            ind.FIRST_NAME                  firstName,
            ind.LAST_NAME                   lastName,
            ind.PESEL                       pesel,
            indcont.CONTACT_DATA            verificationEmail
        FROM APP_PBE.INDIVIDUALS ind
              LEFT OUTER JOIN APP_PBE.INDIVIDUAL_CONTACTS indcont ON ind.ID = indcont.IND_ID
        WHERE
            ind.ID = #{criteria.gryfUser.individualId}
            AND indcont.CONTACT_TYPE = 'VER_EMAIL'
    </select>

    <select id="findProductInstancePoolsByIndividual" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.individuals.ind.ProductDto" parameterType="list">
          SELECT
            pool.ID                         id,
            pool.EXPIRY_DATE                expirationDate,
            pool.ALL_NUM                    grantedProductsCount,
            pool.RESERVED_NUM               reservedProductsCount,
            pool.AVAILABLE_NUM              availableProductsCount,
            pool.USED_NUM + REMBURS_NUM     usedProductsCount,
            pool.RETURNED_NUM + EXPIRED_NUM returnedProductsCount,
            pool.ORDER_ID                   orderId,
            orders.ORDER_DATE               orderDate,
            gp.id                           grantProgramId,
            gp.program_name                 grantProgramName
        FROM
              APP_PBE.PBE_PRODUCTS prd
              JOIN APP_PBE.PBE_PRODUCT_INSTANCE_POOLS pool ON prd.prd_id = pool.prd_id
              JOIN APP_PBE.GRANT_PROGRAMS gp ON prd.grant_program_id = gp.id
              LEFT OUTER JOIN APP_PBE.ORDERS orders ON pool.ORDER_ID = orders.ID and gp.id = orders.grant_program_id
        WHERE
            pool.INDIVIDUAL_ID = #{criteria.gryfUser.individualId}
    </select>

    <select id="findTrainingsByIndividual" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.individuals.ind.TrainingDto" parameterType="list">
         SELECT
            trainingInstance.ID             id,
            trainingInstance.ASSIGNED_NUM   productsCount,
            trainingInstance.REGISTER_DATE  signDate,
            traintCateg.NAME                trainingCategoriesNames,
            training.NAME                   trainingName,
            training.START_DATE             trainingStartDate,
            training.END_DATE               trainingEndDate,
            trainingInstitution.NAME        trainingInstitutionName,
            trainingInstanceStatus.NAME     trainingStatus,
            trainingInstanceStatus.ID       trainingStatusId,
            gp.id                           grantProgramId,
            gp.program_name                 grantProgramName
        FROM    APP_PBE.CONTRACTS con
              LEFT JOIN app_pbe.grant_programs gp ON gp.id = con.grant_program_id
              LEFT OUTER JOIN APP_PBE.TI_TRAINING_INSTANCES trainingInstance ON con.INDIVIDUAL_ID = trainingInstance.INDIVIDUAL_ID AND trainingInstance.grant_program_id = gp.id
              LEFT OUTER JOIN APP_PBE.CONTRACT_TRAINING_CATEGORIES contrTrainCateg ON con.ID = contrTrainCateg.CONTRACT_ID
              LEFT OUTER JOIN APP_PBE.TI_TRAINING_CATEGORIES traintCateg ON contrTrainCateg.TRAINING_CATEGORY_ID = traintCateg.ID
              JOIN APP_PBE.TI_TRAININGS training ON trainingInstance.TRAINING_ID = training.ID and training.training_category_id = traintcateg.id
              LEFT OUTER JOIN APP_PBE.TRAINING_INSTITUTIONS trainingInstitution ON training.TRAINING_INSTITUTION_ID = trainingInstitution.ID
              LEFT OUTER JOIN APP_PBE.TI_TRAINING_INSTANCE_STATUSES trainingInstanceStatus ON trainingInstance.STATUS_ID = trainingInstanceStatus.ID
        WHERE
            con.INDIVIDUAL_ID =  #{criteria.gryfUser.individualId}
    </select>

    <select id="findDataForTrainingReservation" resultMap="userTrainingReservationData">
         SELECT
            ind.FIRST_NAME AS firstName,
            ind.LAST_NAME AS lastName,
            ind.PESEL AS pesel,
            ind.ID AS userId,
            pip.ID AS poolId,
            pip.AVAILABLE_NUM AS poolAvailableNum,
            pip.EXPIRY_DATE AS poolExpiryDate,
            con.ID AS contractId,
            gpr.ID AS programId,
            gpr.PROGRAM_NAME AS programName
        FROM
            app_pbe.individuals ind
            LEFT JOIN app_pbe.contracts con ON con.individual_id = ind.id
            LEFT JOIN app_pbe.grant_programs gpr ON gpr.id = con.grant_program_id
            LEFT JOIN app_pbe.orders ord ON ord.grant_program_id = con.grant_program_id
            JOIN app_pbe.pbe_product_instance_pools pip ON pip.individual_id = ind.id
                                                           AND ord.id = pip.order_id
            LEFT JOIN app_pbe.grant_program_products gpp ON ( gpp.pbe_prd_id = pip.prd_id
                                                              AND gpp.grant_program_id = con.grant_program_id )
        WHERE
            ind.PESEL = #{pesel}
        ORDER BY pip.EXPIRY_DATE DESC
    </select>

    <resultMap id="userTrainingReservationData" type="pl.sodexo.it.gryf.common.dto.publicbenefits.individuals.ind.UserTrainingReservationDataDto" autoMapping="true">
        <result property="firstName" column="firstName"/>
        <result property="lastName" column="lastName"/>
        <result property="pesel" column="pesel"/>
        <result property="id" column="userId"/>

        <collection property="productInstancePools" ofType="pl.sodexo.it.gryf.common.dto.publicbenefits.pbeproductinstancepool.PbeProductInstancePoolDto" autoMapping="true">
            <id property="id" column="poolId"/>
            <result property="availableNum" column="poolAvailableNum"/>
            <result property="expiryDate" column="poolExpiryDate"/>
            <result property="grantProgramId" column="programId"/>
            <result property="grantProgramName" column="programName"/>
        </collection>

        <collection property="contracts" ofType="pl.sodexo.it.gryf.common.dto.publicbenefits.contracts.searchform.ContractSearchResultDTO" autoMapping="true">
            <id property="id" column="contractId"/>
            <association property="grantProgram" javaType="pl.sodexo.it.gryf.common.dto.other.GrantProgramDictionaryDTO">
                <id property="id" column="programId"/>
                <result property="name" column="programName"/>
            </association>
        </collection>
    </resultMap>

</mapper>
