<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pl.sodexo.it.gryf.dao.api.search.mapper.ProductInstancePoolSearchMapper">
    <!--TODO: AK - poprzenosić stałe do configów-->
    <select id="findExpiredPoolInstances" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.pbeproductinstancepool.PbeProductInstancePoolDto" parameterType="list">
        SELECT
          pool.ID                                 id,
          pool.AVAILABLE_NUM                      availableNum,
          pool.EXPIRY_DATE                        expiryDate,
          prd.VALUE                               productValue
        FROM
          APP_PBE.GRANT_PROGRAMS pr
          LEFT JOIN APP_PBE.GRANT_PROGRAM_PARAMS prm ON (
            prm.GRANT_PROGRAM_ID = pr.ID
            AND NVL(prm.DATE_FROM, SYSDATE) &lt;= SYSDATE
            AND NVL(prm.DATE_TO,SYSDATE) &gt;= SYSDATE
            AND prm.PARAM_ID = 'EX_POL_DAY'
          )
          JOIN APP_PBE.ORDERS ord ON ord.GRANT_PROGRAM_ID = pr.ID
          JOIN APP_PBE.PBE_PRODUCT_INSTANCE_POOLS pool ON pool.ORDER_ID = ord.ID
          JOIN APP_PBE.GRANT_OWNERS gr_own ON gr_own.ID = pr.GRANT_OWNER_ID
          JOIN APP_PBE.PBE_PRODUCTS prd ON prd.GRANT_OWNER_ID = gr_own.ID
        WHERE
          TRUNC(pool.EXPIRY_DATE) &lt;= TRUNC(SYSDATE + NVL(prm.VALUE, 10))
          AND pool.AVAILABLE_NUM &gt; 0
          AND pr.ID = 100
    </select>

</mapper>