<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pl.sodexo.it.gryf.dao.api.search.mapper.ProductInstancePoolSearchMapper">
    <!--TODO: AK - poprzenosić stałe do configów-->
    <select id="findExpiredPoolInstances" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.pbeproductinstancepool.PbeProductInstancePoolDto" parameterType="list">
        SELECT
          pool.ID                                 id,
          pool.AVAILABLE_NUM                      availableNum,
          pool.EXPIRY_DATE                        expiryDate,
          prd.VALUE                               productValue,
          pr.ID                                   grantProgramId
        FROM
          APP_PBE.GRANT_PROGRAMS pr
          LEFT JOIN APP_PBE.GRANT_PROGRAM_PARAMS prm ON (
            prm.GRANT_PROGRAM_ID = pr.ID
            AND NVL(prm.DATE_FROM, SYSDATE) &lt;= SYSDATE
            AND NVL(prm.DATE_TO,SYSDATE) &gt;= SYSDATE
            AND prm.PARAM_ID = 'EX_POL_DAY'
          )
          JOIN APP_PBE.ORDERS ord ON ord.GRANT_PROGRAM_ID = pr.ID
          JOIN APP_PBE.PBE_PRODUCT_INSTANCE_POOLS pool ON pool.ORDER_ID = ord.ID
          JOIN APP_PBE.PBE_PRODUCTS prd ON prd.PRD_ID = pool.PRD_ID
        WHERE
          TRUNC(pool.EXPIRY_DATE + NVL(prm.VALUE, #{criteria.config.defaultDaysNumberAfterEndDateToExpiryPool})) &lt;= TRUNC(SYSDATE)
          AND pool.AVAILABLE_NUM &gt; 0
    </select>

    <select id="findPoolInstancesByContractId" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.pbeproductinstancepool.ContractPbeProductInstancePoolDto" parameterType="list">
        SELECT
          pool.ID                                 id,
          ord.ID                                  orderId,
          pool.ALL_NUM                            allNum,
          pool.AVAILABLE_NUM                      availableNum,
          pool.RESERVED_NUM                       reservedNum,
          pool.USED_NUM                           usedNum,
          pool.REMBURS_NUM                        reimbursedNum,
          pool.EXPIRED_NUM                        expiredNum,
          pool.RETURNED_NUM                       returnedNum,
          pool.START_DATE                         startDate,
          pool.EXPIRY_DATE                        expiryDate,
          ord.GRANT_PROGRAM_ID                    grantProgramId,
          ord.EXTERNAL_ORDER_ID                   externalOrderId,
          prd.VALUE                               productValue
        FROM
          APP_PBE.CONTRACTS cnt
          JOIN APP_PBE.ORDERS ord on ord.CONTRACT_ID = cnt.ID
          JOIN APP_PBE.PBE_PRODUCT_INSTANCE_POOLS pool on pool.ORDER_ID = ord.ID
          JOIN APP_PBE.PBE_PRODUCTS prd ON prd.PRD_ID = pool.PRD_ID
        WHERE
          cnt.ID = #{contractId}
    </select>

</mapper>