<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pl.sodexo.it.gryf.dao.api.search.mapper.security.SecuritySearchMapper">

    <select id="findTiUserPrivileges" resultType="java.lang.String" parameterType="list">
        SELECT priv.code
        FROM APP_PBE.TE_PRIVILEGES priv
            JOIN APP_PBE.TE_PRIV_IN_ROLES priv_role ON priv.code = priv_role.te_priv_code
            JOIN APP_PBE.TE_ROLES role ON priv_role.te_role_code = role.code
            JOIN APP_PBE.TI_USER_IN_ROLES usr_role ON role.code = usr_role.te_role_code
            JOIN APP_PBE.TRAINING_INSTITUTION_USERS usr ON usr_role.ti_user_id = usr.id
        WHERE usr.login = #{login}
    </select>

    <select id="findIndUserPrivileges" resultType="java.lang.String" parameterType="list">
        SELECT priv.code
        FROM APP_PBE.TE_PRIVILEGES priv
            JOIN APP_PBE.TE_PRIV_IN_ROLES priv_role ON priv.code = priv_role.te_priv_code
            JOIN APP_PBE.TE_ROLES role ON priv_role.te_role_code = role.code
            JOIN APP_PBE.TE_IND_USER_IN_ROLES usr_role ON role.code = usr_role.te_role_code
            JOIN APP_PBE.INDIVIDUAL_USERS usr ON usr_role.inu_id = usr.inu_id
            JOIN APP_PBE.INDIVIDUALS ind ON ind.id = usr.ind_id
        WHERE ind.pesel = #{pesel}
    </select>

    <select id="findIndUserByPesel" resultType="pl.sodexo.it.gryf.common.dto.security.individuals.GryfIndUserDto">
        SELECT
            usr.inu_id                            inuId,
            ind.id                                indId,
            ind.pesel                             pesel,
            usr.verification_code                 verificationCode,
            usr.is_active                         active,
            usr.LAST_LOGIN_SUCCESS_DATE           lastLoginSuccessDate,
            usr.LAST_LOGIN_FAILURE_DATE           lastLoginFailureDate,
            usr.LOGIN_FAILURE_ATTEMPTS            loginFailureAttempts,
            usr.LAST_RESET_FAILURE_DATE           lastResetFailureDate,
            usr.RESET_FAILURE_ATTEMPTS            resetFailureAttempts,
            usr.VERSION                           version,
            usr.CREATED_USER                      createdUser,
            usr.CREATED_TIMESTAMP                 createdTimestamp,
            usr.MODIFIED_USER                     modifiedUser,
            usr.MODIFIED_TIMESTAMP                modifiedTimestamp
        FROM
            APP_PBE.INDIVIDUAL_USERS usr
            JOIN APP_PBE.INDIVIDUALS ind ON ind.id = usr.ind_id
        WHERE
            ind.pesel = #{pesel}
    </select>

    <select id="findRolesForTiUser" resultType="pl.sodexo.it.gryf.common.dto.security.RoleDto" parameterType="list">
       SELECT
            role.CODE           code,
            role.DESCRIPTION    description,
            role.CONTEXT        context
        FROM
            APP_PBE.TE_ROLES role
        WHERE
            role.CONTEXT = #{criteria.config.tiUserContext}
    </select>

    <select id="findRolesForIndUser" resultType="pl.sodexo.it.gryf.common.dto.security.RoleDto" parameterType="list">
       SELECT
            role.CODE           code,
            role.DESCRIPTION    description,
            role.CONTEXT        context
        FROM
            APP_PBE.TE_ROLES role
        WHERE
            role.CONTEXT = #{criteria.config.indUserContext}
    </select>

    <select id="findRolesForIndividualUser" resultType="pl.sodexo.it.gryf.common.dto.security.RoleDto" parameterType="list">
        SELECT
        role.CODE           code,
        role.DESCRIPTION    description,
        role.CONTEXT        context
        FROM
        APP_PBE.TE_ROLES role
        INNER JOIN APP_PBE.TE_IND_USER_IN_ROLES urole ON role.code = urole.TE_ROLE_CODE
        WHERE
        urole.INU_ID = #{individualUserId}
    </select>

    <select id="findTrainingInstitutionIdForTiUser" resultType="java.lang.Long">
        SELECT
            ti_user.TRAINING_ISTITUTION_ID
        FROM
            APP_PBE.TRAINING_INSTITUTION_USERS ti_user
        WHERE
            ti_user.LOGIN = #{tiUserLogin}
    </select>

</mapper>
