<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pl.sodexo.it.gryf.dao.api.search.mapper.SecuritySearchMapper">

    <select id="findTiUserPrivileges" resultType="java.lang.String" parameterType="list">
        SELECT priv.code
        FROM APP_PBE.TE_PRIVILEGES priv
            JOIN APP_PBE.TE_PRIV_IN_ROLES priv_role ON priv.code = priv_role.te_priv_code
            JOIN APP_PBE.TE_ROLES role ON priv_role.te_role_code = role.code
            JOIN APP_PBE.TI_USER_IN_ROLES usr_role ON role.code = usr_role.te_role_code
            JOIN APP_PBE.TRAINING_INSTITUTION_USERS usr ON usr_role.ti_user_id = usr.id
        WHERE usr.login = #{login}
    </select>

</mapper>
