<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pl.sodexo.it.gryf.dao.api.search.mapper.SecuritySearchMapper">

    <select id="findTrinUserPrivileges" resultType="java.lang.String" parameterType="list">
        SELECT priv.code
        FROM APP_PBE.GRF_PRIVILEGES priv
            JOIN APP_PBE.GRF_PRIVS_IN_ROLE priv_role ON priv.code = priv_role.grf_priv_code
            JOIN APP_PBE.GRF_ROLES role ON priv_role.grf_role_code = role.code
            JOIN APP_PBE.TRIN_USERS_IN_ROLE usr_role ON role.code = usr_role.trin_grf_role_code
            JOIN APP_PBE.TRAINING_INSTITUTION_USERS usr ON usr_role.trin_user_id = usr.id
        WHERE usr.login = #{login}
    </select>

</mapper>
