<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pl.sodexo.it.gryf.dao.api.search.mapper.TrainingSearchMapper">
    <select id="findTrainings" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.traininginstiutions.searchform.TrainingSearchResultDTO" parameterType="list">
        SELECT t.ID as trainingId, t.TRAINING_INSTITUTION_ID as institutionId, i.NAME as institutionName, t.NAME, t.PRICE, t.START_DATE as startDate, t.END_DATE as endDate, t.PLACE, t.HOURS_NUMBER as hoursNumber, t.HOUR_PRICE as hourPrice, c.name as category
        FROM APP_PBE.TI_TRAININGS t
        JOIN APP_PBE.TI_TRAINING_CATEGORIES c on c.ID = t.TRAINING_CATEGORY_ID
        JOIN APP_PBE.TRAINING_INSTITUTIONS i on i.ID = t.TRAINING_INSTITUTION_ID
        <where>
            <if test="searchParams.trainingId != null">
                t.ID = #{searchParams.trainingId}
            </if>
            <if test="searchParams.institutionId != null">
                AND t.TRAINING_INSTITUTION_ID = #{searchParams.institutionId}
            </if>
            <if test="searchParams.institutionName != null and searchParams.institutionName != ''">
                AND LOWER(i.NAME) like '%' || LOWER(#{searchParams.institutionName}) || '%'
            </if>
            <if test="searchParams.name != null and searchParams.name != ''">
                AND LOWER(t.NAME) like '%' || LOWER(#{searchParams.name}) || '%'
            </if>
            <if test="searchParams.priceFrom != null">
                AND t.PRICE >= #{searchParams.priceFrom}
            </if>
            <if test="searchParams.priceTo != null">
                AND t.PRICE &lt;= #{searchParams.priceTo}
            </if>
            <if test="searchParams.startDate != null">
                AND t.START_DATE >= #{searchParams.startDate}
            </if>
            <if test="searchParams.endDate != null">
                AND t.END_DATE &lt;= #{searchParams.endDate}
            </if>
            <if test="searchParams.place != null and searchParams.place != ''">
                AND LOWER(t.PLACE) like '%' || LOWER(#{searchParams.place}) || '%'
            </if>
            <if test="searchParams.hoursNumberFrom != null">
                AND t.HOURS_NUMBER >= #{searchParams.hoursNumberFrom}
            </if>
            <if test="searchParams.hoursNumberTo != null">
                AND t.HOURS_NUMBER &lt;= #{searchParams.hoursNumberTo}
            </if>
            <if test="searchParams.hourPriceFrom != null">
                AND t.HOUR_PRICE >= #{searchParams.hourPriceFrom}
            </if>
            <if test="searchParams.hourPriceTo != null">
                AND t.HOUR_PRICE &lt;= #{searchParams.hourPriceTo}
            </if>
            <if test="searchParams.categoryCodes != null and searchParams.categoryCodes.size() > 0">
                <foreach item="code" index="index" collection="searchParams.categoryCodes" open="AND (" separator=" OR " close=")">
                    t.TRAINING_CATEGORY_ID like #{code}
                </foreach>
            </if>
            <if test="searchParams.limit != null">
                AND ROWNUM &lt;= #{searchParams.limit} + 1
            </if>
        </where>
        <if test="searchParams.sortColumns != null">
            <foreach item="columnName" index="index" collection="searchParams.sortColumns" open="ORDER BY " separator="," close="">
                ${columnName} ${searchParams.sortTypes[index]}
            </foreach>
        </if>
    </select>

    <select id="findTrainingCategories" resultType="pl.sodexo.it.gryf.common.dto.api.SimpleDictionaryDto" parameterType="list">
        SELECT id, ordinal, name FROM APP_PBE.TI_TRAINING_CATEGORIES
    </select>

    <select id="findTraining" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.traininginstiutions.detailsform.TrainingDTO">
        SELECT t.ID as trainingId, t.TRAINING_INSTITUTION_ID as trainingInstitution, i.NAME as institutionName, t.NAME, t.PRICE, t.START_DATE as startDate, t.END_DATE as endDate, t.PLACE,
        t.HOURS_NUMBER as hoursNumber, t.HOUR_PRICE as hourPrice, t.TRAINING_CATEGORY_ID as category, t.VERSION, t.CREATED_USER as createdUser, t.CREATED_TIMESTAMP as createdTimestamp,
        t.MODIFIED_USER as modifiedUser, t.MODIFIED_TIMESTAMP as modifiedTimestamp
        FROM APP_PBE.TI_TRAININGS t
        JOIN APP_PBE.TRAINING_INSTITUTIONS i on i.ID = t.TRAINING_INSTITUTION_ID
        WHERE t.ID = #{trainingId}
    </select>


    <select id="findTrainingToReimburseListByCriteria" resultType="pl.sodexo.it.gryf.common.dto.trainingtoreimburse.TrainingToReimburseDto" parameterType="list">
        SELECT
            ti_in.ID                      trainingInstanceId,
            ti.NAME                       trainingName,
            ind.PESEL                     participantPesel,
            ind.FIRST_NAME                participantName,
            ind.LAST_NAME                 participantSurname,
            ti.START_DATE                 startDate,
            ti.END_DATE                   endDate,
            status.NAME                   trainingStatus
        FROM
            APP_PBE.TI_TRAININGS ti
            JOIN APP_PBE.TI_TRAINING_INSTANCES ti_in ON ti.ID = ti_in.TRAINING_ID
            LEFT JOIN APP_PBE.TI_TRAININGS ti ON ti.ID = ti_in.TRAINING_ID
            LEFT JOIN APP_PBE.INDIVIDUALS ind ON ind.ID = ti_in.INDIVIDUAL_ID
            LEFT JOIN APP_PBE.TI_TRAINING_INSTANCE_STATUSES status ON status.ID = ti_in.STATUS_ID
        <where>
            <if test="criteria.trainingName != null and criteria.trainingName != ''">
                AND LOWER(ti.NAME) like '%' || LOWER(#{criteria.trainingName}) || '%'
            </if>
            <if test="criteria.participantPesel != null and criteria.participantPesel != ''">
                AND ind.PESEL like '%' || #{criteria.participantPesel} || '%'
            </if>
            <if test="criteria.participantName != null and criteria.participantName != ''">
                AND LOWER(ind.FIRST_NAME) like '%' || LOWER(#{criteria.participantName}) || '%'
            </if>
            <if test="criteria.participantSurname != null and criteria.participantSurname != ''">
                AND LOWER(ind.LAST_NAME) like '%' || LOWER(#{criteria.participantSurname}) || '%'
            </if>
            <if test="criteria.startDateFrom != null">
                AND TRIM(ti.START_DATE) &gt;= TRIM(#{criteria.startDateFrom})
            </if>
            <if test="criteria.startDateTo != null">
                AND TRIM(ti.START_DATE) &lt;= TRIM(#{criteria.startDateTo})
            </if>
            <if test="criteria.endDateFrom != null">
                AND TRIM(ti.END_DATE) &gt;= TRIM(#{criteria.endDateFrom})
            </if>
            <if test="criteria.endDateTo != null">
                AND TRIM(ti.END_DATE) &lt;= TRIM(#{criteria.endDateTo})
            </if>
            <if test="criteria.trainingStatusId != null and criteria.trainingStatusId != ''">
                AND status.ID = #{criteria.trainingStatusId}
            </if>
            <if test="criteria.limit != null">
                AND ROWNUM &lt;= #{criteria.limit}
            </if>
        </where>
        <if test="criteria.sortColumns != null">
            <foreach item="columnName" index="index" collection="criteria.sortColumns" open="ORDER BY " separator="," close="">
                ${columnName} ${criteria.sortTypes[index]}
            </foreach>
        </if>
    </select>

    <select id="findTiTrainingInstancesStatuses" resultType="pl.sodexo.it.gryf.common.dto.api.SimpleDictionaryDto" parameterType="list">
        SELECT
            dic.ID          id,
            dic.NAME        name,
            dic.ORDINAL     ordinal
        FROM
            APP_PBE.TI_TRAINING_INSTANCE_STATUSES dic
        ORDER BY
            dic.ordinal
    </select>

</mapper>
