<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pl.sodexo.it.gryf.dao.api.search.mapper.TrainingInstanceSearchMapper">

    <select id="findTrainingToReimburseListByCriteria" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.traininginstances.TrainingInstanceDto" parameterType="list">
        SELECT * FROM
        (SELECT
            ti_in.ID                      trainingInstanceId,
            tri.ID                        trainingInstitutionId,
            tri.NAME                      trainingInstitutionName,
            tri.VAT_REG_NUM               trainingInstitutionVatRegNum,
            ti.ID                         trainingId,
            ti.NAME                       trainingName,
            ti.EXTERNAL_ID                trainingExternalId,
            ind.PESEL                     participantPesel,
            ind.FIRST_NAME                participantName,
            ind.LAST_NAME                 participantSurname,
            ti.START_DATE                 startDate,
            ti.END_DATE                   endDate,
            status.ID                     trainingStatusId,
            status.NAME                   trainingStatus,
            gp.id                         grantProgramId,
            gp.program_name               grantProgramName
        FROM
            APP_PBE.TI_TRAINING_INSTANCES ti_in
            JOIN APP_PBE.TI_TRAININGS ti ON ti.ID = ti_in.TRAINING_ID
            JOIN APP_PBE.GRANT_PROGRAMS gp ON ti_in.grant_program_id = gp.id
            JOIN APP_PBE.TRAINING_INSTITUTIONS tri ON tri.ID = ti.TRAINING_INSTITUTION_ID
            LEFT JOIN APP_PBE.INDIVIDUALS ind ON ind.ID = ti_in.INDIVIDUAL_ID
            LEFT JOIN APP_PBE.TI_TRAINING_INSTANCE_STATUSES status ON status.ID = ti_in.STATUS_ID
        <where>
            <if test="criteria.trainingInstanceId != null and criteria.trainingInstanceId != ''">
                AND ti_in.ID = #{criteria.trainingInstanceId}
            </if>
            <if test="criteria.trainingInstitutionId != null and criteria.trainingInstitutionId != ''">
                AND tri.ID = #{criteria.trainingInstitutionId}
            </if>
            <if test="criteria.trainingInstitutionVatRegNum != null and criteria.trainingInstitutionVatRegNum != ''">
                AND tri.VAT_REG_NUM = #{criteria.trainingInstitutionVatRegNum}
            </if>
            <if test="criteria.trainingInstitutionName != null and criteria.trainingInstitutionName != ''">
                AND LOWER(tri.NAME) like '%' || LOWER(#{criteria.trainingInstitutionName}) || '%'
            </if>
            <if test="criteria.trainingId != null and criteria.trainingId != ''">
                AND ti.ID = #{criteria.trainingId}
            </if>
            <if test="criteria.trainingName != null and criteria.trainingName != ''">
                AND LOWER(ti.NAME) like '%' || LOWER(#{criteria.trainingName}) || '%'
            </if>
            <if test="criteria.trainingExternalId != null and criteria.trainingExternalId != ''">
                AND LOWER(ti.EXTERNAL_ID) like '%' || LOWER(#{criteria.trainingExternalId}) || '%'
            </if>
            <if test="criteria.participantPesel != null and criteria.participantPesel != ''">
                AND ind.PESEL like '%' || #{criteria.participantPesel} || '%'
            </if>
            <if test="criteria.participantName != null and criteria.participantName != ''">
                AND LOWER(ind.FIRST_NAME) like '%' || LOWER(#{criteria.participantName}) || '%'
            </if>
            <if test="criteria.participantSurname != null and criteria.participantSurname != ''">
                AND LOWER(ind.LAST_NAME) like '%' || LOWER(#{criteria.participantSurname}) || '%'
            </if>
            <if test="criteria.startDateFrom != null">
                AND TRIM(ti.START_DATE) &gt;= TRIM(#{criteria.startDateFrom})
            </if>
            <if test="criteria.startDateTo != null">
                AND TRIM(ti.START_DATE) &lt;= TRIM(#{criteria.startDateTo})
            </if>
            <if test="criteria.endDateFrom != null">
                AND TRIM(ti.END_DATE) &gt;= TRIM(#{criteria.endDateFrom})
            </if>
            <if test="criteria.endDateTo != null">
                AND TRIM(ti.END_DATE) &lt;= TRIM(#{criteria.endDateTo})
            </if>
            <if test="criteria.trainingStatusId != null and criteria.trainingStatusId != ''">
                AND status.ID = #{criteria.trainingStatusId}
            </if>
            <if test="criteria.gryfUser.userType == 'TRAINING_INSTITUTION'">
                AND ti.TRAINING_INSTITUTION_ID = #{criteria.gryfUser.trainingInstitutionId}
            </if>
            <if test="criteria.grantProgramName != null and criteria.grantProgramName != ''">
                AND LOWER(gp.program_name) like '%' || LOWER(#{criteria.grantProgramName}) || '%'
            </if>
            <if test="criteria.grantProgramId != null">
                AND gp.id  =  #{criteria.grantProgramId}
            </if>
        </where>
        <if test="criteria.sortColumns != null">
            <foreach item="columnName" index="index" collection="criteria.sortColumns" open="ORDER BY " separator="," close="">
                ${columnName} ${criteria.sortTypes[index]}
            </foreach>
        </if>)
        <where>
            <if test="criteria.limit != null">
                ROWNUM &lt;= #{criteria.limit} + 1
            </if>
        </where>
    </select>

    <select id="findTrainingInstanceDetails" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.traininginstances.TrainingInstanceDetailsDto">
        SELECT
        distinct
        tin.ID                                            trainingInstanceId,
        tin.STATUS_ID                                     trainingInstanceStatusId,
        tin.ASSIGNED_NUM                                  productAssignedNum,
        tin.VERSION                                       trainingInstanceVersion,
        CASE tin.OPINION_DONE WHEN 'Y' THEN 1 ELSE 0 END  opinionDone,
        tra.ID                                            trainingId,
        tra.NAME                                          trainingName,
        tra.EXTERNAL_ID                                   trainingExternalId,
        cat.NAME                                          trainingCategory,
        tra.PLACE                                         trainingPlace,
        tra.PRICE                                         trainingPrice,
        tra.HOURS_NUMBER                                  trainingHoursNumber,
        tra.HOUR_PRICE                                    trainingHourPrice,
        trin.ID                                           trainingInstitutionId,
        trin.NAME                                         trainingInstitutionName,
        trin.VAT_REG_NUM                                  trainingInstitutionVatRegNum,
        tra.START_DATE                                    startDate,
        tra.END_DATE                                      endDate,
        ind.ID                                            participantId,
        ind.PESEL                                         participantPesel,
        ind.FIRST_NAME                                    participantName,
        ind.LAST_NAME                                     participantSurname,
        tin.PRODUCT_INSTANCE_CALC_FOR_HOUR                productInstanceForHour,
        tr_cat_par.MAX_PRODUCT_INSTANCE                   maxProductInstance,
        prd.VALUE                                         prdValue,
        tin.GRANT_PROGRAM_ID                              grantProgramId,
        gr_pr.PROGRAM_NAME                                grantProgramName,
        tra.REIMBURSMENT_CONDITIONS                       reimbursmentConditions
        FROM APP_PBE.TI_TRAINING_INSTANCES tin
        JOIN APP_PBE.TI_TRAININGS tra ON tra.ID = tin.TRAINING_ID
        JOIN APP_PBE.TI_TRAINING_CATEGORIES cat ON cat.ID = tra.TRAINING_CATEGORY_ID
        JOIN APP_PBE.TI_TRAINING_CATEGORY_PARAMS tr_cat_par ON (cat.ID = tr_cat_par.CATEGORY_ID AND tin.GRANT_PROGRAM_ID = tr_cat_par.GRANT_PROGRAM_ID)
        JOIN APP_PBE.INDIVIDUALS ind ON ind.ID = tin.INDIVIDUAL_ID
        JOIN APP_PBE.GRANT_PROGRAMS gr_pr ON gr_pr.ID = tin.GRANT_PROGRAM_ID
        JOIN APP_PBE.GRANT_OWNERS gr_own ON gr_own.ID = gr_pr.GRANT_OWNER_ID
        JOIN APP_PBE.PBE_PRODUCTS prd ON prd.GRANT_OWNER_ID = gr_own.ID
        JOIN APP_PBE.TRAINING_INSTITUTIONS trin on trin.ID = tra.TRAINING_INSTITUTION_ID
        <where>
            <if test="trainingInstanceId != null">
                tin.ID = #{trainingInstanceId}
            </if>
            <if test="criteria.gryfUser.userType == 'TRAINING_INSTITUTION'">
                AND tra.TRAINING_INSTITUTION_ID = #{criteria.gryfUser.trainingInstitutionId}
            </if>
        </where>
    </select>

    <select id="findTrainingInstanceDetailsWithPinCode" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.traininginstances.TrainingInstanceDetailsDto">
        SELECT
        distinct
        tin.ID                                            trainingInstanceId,
        tin.STATUS_ID                                     trainingInstanceStatusId,
        tin.ASSIGNED_NUM                                  productAssignedNum,
        tin.VERSION                                       trainingInstanceVersion,
        CASE tin.OPINION_DONE WHEN 'Y' THEN 1 ELSE 0 END  opinionDone,
        tra.ID                                            trainingId,
        tra.NAME                                          trainingName,
        tra.EXTERNAL_ID                                   trainingExternalId,
        cat.NAME                                          trainingCategory,
        tra.PLACE                                         trainingPlace,
        tra.PRICE                                         trainingPrice,
        tra.HOURS_NUMBER                                  trainingHoursNumber,
        tra.HOUR_PRICE                                    trainingHourPrice,
        trin.ID                                           trainingInstitutionId,
        trin.NAME                                         trainingInstitutionName,
        trin.VAT_REG_NUM                                  trainingInstitutionVatRegNum,
        tra.START_DATE                                    startDate,
        tra.END_DATE                                      endDate,
        ind.ID                                            participantId,
        ind.PESEL                                         participantPesel,
        ind.FIRST_NAME                                    participantName,
        ind.LAST_NAME                                     participantSurname,
        tin.PRODUCT_INSTANCE_CALC_FOR_HOUR                productInstanceForHour,
        tr_cat_par.MAX_PRODUCT_INSTANCE                   maxProductInstance,
        prd.VALUE                                         prdValue,
        tin.GRANT_PROGRAM_ID                              grantProgramId,
        gr_pr.PROGRAM_NAME                                grantProgramName,
        tra.REIMBURSMENT_CONDITIONS                       reimbursmentConditions,
        tin.REIMBURSMENT_PIN pinCode
        FROM APP_PBE.TI_TRAINING_INSTANCES tin
        JOIN APP_PBE.TI_TRAININGS tra ON tra.ID = tin.TRAINING_ID
        JOIN APP_PBE.TI_TRAINING_CATEGORIES cat ON cat.ID = tra.TRAINING_CATEGORY_ID
        JOIN APP_PBE.TI_TRAINING_CATEGORY_PARAMS tr_cat_par ON (cat.ID = tr_cat_par.CATEGORY_ID AND tin.GRANT_PROGRAM_ID = tr_cat_par.GRANT_PROGRAM_ID)
        JOIN APP_PBE.INDIVIDUALS ind ON ind.ID = tin.INDIVIDUAL_ID
        JOIN APP_PBE.GRANT_PROGRAMS gr_pr ON gr_pr.ID = tin.GRANT_PROGRAM_ID
        JOIN APP_PBE.GRANT_OWNERS gr_own ON gr_own.ID = gr_pr.GRANT_OWNER_ID
        JOIN APP_PBE.PBE_PRODUCTS prd ON prd.GRANT_OWNER_ID = gr_own.ID
        JOIN APP_PBE.TRAINING_INSTITUTIONS trin on trin.ID = tra.TRAINING_INSTITUTION_ID
        <where>
            <if test="trainingInstanceId != null">
                tin.ID = #{trainingInstanceId}
            </if>
            <if test="criteria.gryfUser.userType == 'TRAINING_INSTITUTION'">
                AND tra.TRAINING_INSTITUTION_ID = #{criteria.gryfUser.trainingInstitutionId}
            </if>
        </where>
    </select>


    <select id="findTiTrainingInstancesStatuses" resultType="pl.sodexo.it.gryf.common.dto.api.SimpleDictionaryDto" parameterType="list">
        SELECT
            dic.ID          id,
            dic.NAME        name,
            dic.ORDINAL     ordinal
        FROM
            APP_PBE.TI_TRAINING_INSTANCE_STATUSES dic
        ORDER BY
            dic.ordinal
    </select>

    <select id="findTrainingInstanceDataToValidateReimbursementCreation" resultType="pl.sodexo.it.gryf.common.dto.publicbenefits.traininginstances.TrainingInstanceDataToValidateDto">
        SELECT
          CASE tr_in.OPINION_DONE
            WHEN 'Y'
              THEN 1
            ELSE 0
          END                                       opinionDone,
          tr.TRAINING_INSTITUTION_ID                trainingInstitutionId
        FROM
          APP_PBE.TI_TRAINING_INSTANCES tr_in
          JOIN APP_PBE.TI_TRAININGS tr ON tr.ID = tr_in.TRAINING_ID
        WHERE
          tr_in.ID = #{trainingInstanceId}
    </select>

</mapper>
