<div id="modal-conflict">
    <div class="modal-header">
        <h3 class="modal-title">Nastąpił konflikt</h3>
    </div>
    <div class="modal-body text">
        <p ng-show="staleData.message">{{ staleData.message }}</p>
        <p ng-show="!staleData.message">Ten obiekt został zmieniony przez {{
            staleData.modifiedUser}} w czasie {{ staleData.modifiedTimestamp | date:'yyyy-MM-dd HH:mm'}}.</p>
        <p>{{staleData.instructions}}</p>
    </div>
    <div class="modalscop-footer">
        <div class="centered-ul">
            <ul>
                <li><a class="button button-refresh" ng-click="$close('refresh')">Odśwież</a></li>
                <li><a class="button button-force" ng-click="$close('force')">Wymuś</a></li>
                <li><a class="button button-cancel button-gray" ng-click="$dismiss()">Anuluj</a></li>
            </ul>
        </div>
    </div>
</div>       
