<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
<div>
    <div>
        <header id="header">
            <h1>Edycja Osoby fizycznej</h1>
            <ul>
                <li>
                    <a ng-click="save()" class="button button-save"
                       gryf-privilege="GRF_ENTERPRISE_MOD">zapisz</a>
                </li>
                <li>
                    <a ng-click="saveAndAdd()" class="button button-save"
                       gryf-privilege="GRF_ENTERPRISE_MOD">zapisz i dodaj
                        następną</a>
                </li>
                <!--TODO: dodać odpowiednie uprawnienia-->
            </ul>
            <ol>
                <li>
                    <a ng-href="{{getPrevUrl()}}" class="button button-new"
                       target="_self">Anuluj </a>
                </li>
            </ol>
            <ol>
                <li>
                    <a ng-href="#" ng-click="newIndividual()" class="button button-new"
                       target="_self">
                        Nowa Osoba fizyczna</a>
                </li>
            </ol>
        </header>

        <section>
            <div class="grid-100">
                <div class="grid-20">
                    <strong class="label">ID</strong>
                    <input type="text" ng-model="model.entity.id" maxlength="500" disabled="disabled">
                </div>
                <div class="grid-30">
                    <strong class="label">Imię</strong>
                    <input type="text" ng-model="model.entity.firstName" maxlength="100">
                    <gryf-validation-msg path="firstName"></gryf-validation-msg>
                </div>
                <div class="grid-30">
                    <strong class="label">Nazwisko</strong>
                    <input type="text" ng-model="model.entity.lastName" maxlength="300">
                    <gryf-validation-msg path="lastName"></gryf-validation-msg>
                </div>
                <div class="grid-20">
                    <strong class="label">PESEL/Login</strong>
                    <input type="text" ng-model="model.entity.pesel" maxlength="11">
                    <gryf-validation-msg path="pesel"></gryf-validation-msg>
                </div>
            </div>

            <div class="grid-100">
                <div class="grid-20">
                    <strong class="label">Numer dokumentu tożsamości</strong>
                    <input type="text" ng-model="model.entity.documentNumber" maxlength="30">
                    <gryf-validation-msg path="documentNumber"></gryf-validation-msg>
                </div>
                <div class="grid-20">
                    <strong class="label">Rodzaj dokumentu tożsamości</strong>
                    <input type="text" ng-model="model.entity.documentType" maxlength="30">
                    <gryf-validation-msg path="documentType"></gryf-validation-msg>
                </div>
                <div class="grid-20">
                    <strong class="label">Płeć</strong>
                    <select ng-options="sex as plec for (sex, plec) in {'M': 'Mężczyzna', 'K': 'Kobieta'}" ng-model="model.entity.sex"></select>
                    <gryf-validation-msg path="sex"></gryf-validation-msg>
                </div>
                <div class="grid-20">
                    <strong class="label">Role</strong>
                    <select multiple data-ng-options="s as s.description for s in model.indUserRoles track by s.code"ng-model="model.entity.roles"></select>
                    <gryf-validation-msg path="role"></gryf-validation-msg>
                </div>
                <div class="grid-20">
                    <strong class="label">Kod weryfikacyjny</strong>
                    <input type="text" ng-model="model.entity.verificationCode" disabled="disabled">
                </div>
            </div>
            <div class="grid-100">
                <div class="grid-30">
                    <strong class="label">Data ostatniego logowania</strong>
                    <input type="text" ng-model="model.entity.lastLoginDate" disabled="disabled">
                </div>
                <div class="grid-40" style="float:right">
                    <ul>
                        <li>
                            <button ng-click="generateNewVerCode()" class="button button-generate" data-ng-disabled="!isModType()"
                               gryf-privilege="GRF_ENTERPRISE_MOD">Generuj kod weryfikacyjny</button>
                        </li>
                        <li>
                            <button ng-click="sendMailWithVerCode()" class="button button-send" data-ng-disabled="!isModType()"
                               gryf-privilege="GRF_ENTERPRISE_MOD">Wyślij kod weryfikacyjny</button>
                        </li>
                    </ul>
                </div>
            </div>
            <section>
                <header>
                    <h2>Powiązane przedsiębiorstwa</h2>
                    <ul>
                        <li><a class="button button-add" data-ng-click="openEnterpriseLov()">Dodaj przedsiębiorstwo</a></li>
                    </ul>
                </header>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nazwa</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr ng-repeat="enterprise in model.entity.enterprises">
                        <td>
                            <p>{{enterprise.id}}</p>
                            <gryf-validation-msg path="enterprises[{{$index}}].id"></gryf-validation-msg>
                        </td>
                        <td>
                            <p>{{enterprise.name}}</p>
                            <gryf-validation-msg path="enterprises[{{$index}}].name"></gryf-validation-msg>
                        </td>
                        <td>
                            <a class="button button-delete" data-ng-click="removeEnterprise(enterprise)">Usuń</a>
                        </td>
                    </tr>
                </table>
            </section>
            <div class="grid-100">
                <div class="grid-60">
                    <strong class="label">Adres do faktury</strong>
                    <input type="text" ng-model="model.entity.addressInvoice" maxlength="200">
                    <gryf-validation-msg path="addressInvoice"></gryf-validation-msg>
                </div>
                <div class="grid-40">
                    <strong class="label">Kod i miasto do faktury</strong>
                    <span class="grid-30">
                        {{model.entity.zipCodeInvoice.zipCode}}
                        <gryf-validation-msg path="zipCodeInvoice"></gryf-validation-msg>
                        </span>
                    <span class="grid-70">
                        {{model.entity.zipCodeInvoice.cityName}}
                        <gryf-validation-msg path="zipCodeInvoice.cityName"></gryf-validation-msg>
                              </span>
                    <div><a href="" ng-click="openInvoiceZipCodesLov()"
                            class="button button-new">wybierz</a></div>
                </div>
            </div>
            <div class="grid-100">
                <div class="grid-60">
                    <strong class="label">Adres korespondencyjny</strong>
                    <input type="text" ng-model="model.entity.addressCorr" maxlength="200">
                    <gryf-validation-msg path="addressCorr"></gryf-validation-msg>
                </div>
                <div class="grid-40">
                    <strong class="label">Kod i miasto korespondencyjne</strong>

                    <span class="grid-30">
                        {{model.entity.zipCodeCorr.zipCode}}
                        <gryf-validation-msg path="zipCodeCorr"></gryf-validation-msg>
                    </span>
                    <span class="grid-70">
                        {{model.entity.zipCodeCorr.cityName}}
                        <gryf-validation-msg path="zipCodeCorr.cityName"></gryf-validation-msg>
                    </span>
                    <div>
                        <a href="" ng-click="openCorrZipCodesLov()" class="button button-new">wybierz
                        </a>
                    </div>
                </div>

            </div>
            <div class="grid-100">
                <div class="grid-20">
                    &nbsp;
                </div>
                <div class="grid-80">
                    <strong class="label">Konto Osoby fizycznej do zwrotu środków</strong>
                    <input type="text" ng-model="model.entity.accountRepayment"
                           ng-disabled="hasNotPrivilege('GRF_INDIVIDUAL_REPAY_ACC_MOD')">
                    <gryf-validation-msg path="accountRepayment"></gryf-validation-msg>
                </div>
            </div>
            <div class="grid-100">
                <div class="grid-20">
                    <strong class="label">Kod Osoby fizycznej</strong>
                    <input type="text" ng-model="model.entity.code" maxlength="8" data-ng-disabled="isModType()">
                    <gryf-validation-msg path="code"></gryf-validation-msg>
                </div>
                <div class="grid-80">
                    <strong class="label">Subkonto Osoby fizycznej do wpłat za bony</strong>
                    <input type="text" ng-model="model.entity.accountPayment" disabled="disabled">
                </div>
            </div>
            <div class="grid-100">
                <strong class="label">Uwagi</strong>
                <textarea ng-model="model.entity.remarks" rows="5" maxlength="4000"></textarea>
            </div>
        </section>

        <section>
            <header>
                <h2>Kontakty</h2>
                <ul>
                    <li><a class="button button-add" ng-click="addContact()">Dodaj kontakt</a></li>
                </ul>
            </header>
            <table class="table">
                <thead>
                <tr>
                    <th>Typ kontaktu</th>
                    <th>Dane kontaktu</th>
                    <th>Uwagi</th>
                    <th></th>
                </tr>
                </thead>
                <tr ng-repeat="contact in model.entity.contacts">
                    <td>
                        <select ng-options="s as s.name for s in model.contactTypes track by s.type" ng-model="contact.contactType"/>
                        <gryf-validation-msg path="contacts[{{$index}}].contactTypes"></gryf-validation-msg>
                    </td>
                    <td>
                        <input type="text" ng-model="contact.contactData"/>
                        <gryf-validation-msg path="contacts[{{$index}}].contactData"></gryf-validation-msg>
                    </td>
                    <td>
                        <input type="text" ng-model="contact.remarks"/>
                        <gryf-validation-msg path="contacts[{{$index}}].remarks"></gryf-validation-msg>
                    </td>
                    <td>
                        <a class="button button-delete" ng-click="removeContact(contact)">Usuń</a>
                    </td>
                </tr>
            </table>
        </section>
    </div>
</div>