<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
<header id="header">
    <h1>Rozliczenie szkolenia</h1>
    <ul>
        <li><a class="button button-save" ng-click="save()"  gryf-privilege="">Zapisz</a></li>
        <li><a class="button button-save" ng-click="toCorrect()" gryf-privilege="">Do korekty</a></li>
        <li><a class="button button-save" ng-click="calculate()" gryf-privilege="">Do weryfikacji</a></li>
        <li><a class="button button-save" ng-click="createDocuments()" gryf-privilege="">Wystaw dokumenty</a></li>
        <li><a class="button button-save" ng-click="createRaports()" gryf-privilege="">Wygeneruj raporty</a></li>
        <li><a class="button button-save" ng-click="settle()" gryf-privilege="">Rozlicz</a></li>
    </ul>
    <ol>
        <li><a class="button" ng-href="{{getPrevUrl()}}" >Wróć</a></li>
    </ol>
</header>
<section>
    <!--------------------------------------DANE_INSTYTUCJI_SZKOLENIOWEJ---------------------------------------------->
    <div class="grid-100">
        <header>
            <h2>Dane instytucji szkoleniowej</h2>
        </header>
    </div>
    <div class="grid-100">
        <div class="grid-10">
            <a ng-href="{{getUrlFor(MODULES.TrainingInstitution, eReimbObject.trainingInstitution.id)}}">
                <strong class="label">ID instytucji &UpperRightArrow; </strong>
            </a>
            <input type="text" ng-model="eReimbObject.trainingInstitution.id" readonly="readonly">
        </div>
        <div class="grid-20">
            <strong class="label">Nazwa instytucji</strong>
            {{eReimbObject.trainingInstitution.name}}
        </div>
        <div class="grid-10">
            <strong class="label">NIP</strong>
            {{eReimbObject.trainingInstitution.vatRegNum}}
        </div>
    </div>
</section>
<section>
    <!--------------------------------------DANE_SZKOLENIA---------------------------------------------->
    <div class="grid-100">
        <header>
            <h2>Dane szkolenia</h2>
        </header>
    </div>
    <div class="grid-100">
        <div class="grid-10">
            <a ng-href="{{getUrlFor(MODULES.Training, eReimbObject.trainingInstance.trainingId)}}">
                <strong class="label">ID szkolenia &UpperRightArrow; </strong>
            </a>
            <input type="text" ng-model="eReimbObject.trainingInstance.trainingId" readonly="readonly">
        </div>
        <div class="grid-20">
            <strong class="label">Nazwa szkolenia</strong>
            {{eReimbObject.trainingInstance.trainingName}}
        </div>
        <div class="grid-10">
            <strong class="label">Kategoria</strong>
            {{eReimbObject.trainingInstance.trainingCategory}}
        </div>
        <div class="grid-10">
            <strong class="label">Miejsce</strong>
            {{eReimbObject.trainingInstance.trainingPlace}}
        </div>
    </div>
    <div class="grid-100">
        <div class="grid-10">
            <strong class="label">Cena</strong>
            {{eReimbObject.trainingInstance.trainingPrice}}
        </div>
        <div class="grid-20">
            <strong class="label">Max. liczba godzin rozliczonych bonami</strong>
            {{eReimbObject.trainingInstance.maxProductsNumber}}
        </div>
        <div class="grid-15">
            <strong class="label">Liczba godzin lekcyjnych</strong>
            {{eReimbObject.trainingInstance.trainingHoursNumber}}
        </div>
        <div class="grid-10">
            <strong class="label">Data rozpoczęcia</strong>
            {{eReimbObject.trainingInstance.startDate}}
        </div>
        <div class="grid-10">
            <strong class="label">Data zakończenia</strong>
            {{eReimbObject.trainingInstance.endDate}}
        </div>
    </div>
</section>
<section>
    <!--------------------------------------DANE_UCZESTNIKA---------------------------------------------->
    <div class="grid-100">
        <header>
            <h2>Dane uczestnika</h2>
        </header>
    </div>
    <div class="grid-100">
        <div class="grid-10">
            <a ng-href="{{getUrlFor(MODULES.Individual, eReimbObject.trainingInstance.participantId)}}">
                <strong class="label">ID uczestnika &UpperRightArrow; </strong>
            </a>
            <input type="text" ng-model="eReimbObject.trainingInstance.participantId" readonly="readonly">
        </div>
        <div class="grid-10">
            <strong class="label">PESEL</strong>
            {{eReimbObject.trainingInstance.participantPesel}}
        </div>
        <div class="grid-10">
            <strong class="label">Imię</strong>
            {{eReimbObject.trainingInstance.participantName}}
        </div>
        <div class="grid-10">
            <strong class="label">Nazwisko</strong>
            {{eReimbObject.trainingInstance.participantSurname}}
        </div>
    </div>
</section>
<section>
    <!--------------------------------------WYKORZYSTANE_BONY---------------------------------------------->
    <div class="grid-100">
        <header>
            <h2>Wykorzystane bony</h2>
        </header>
    </div>
    <div class="grid-100" ng-repeat="prd in eReimbObject.entity.products">
        <div class="grid-10">
            <a ng-href="{{getUrlFor(MODULES.Order, prd.orderId)}}">
                <strong class="label">ID zamówienia &UpperRightArrow; </strong>
            </a>
            <input type="text" ng-model="prd.orderId" readonly="readonly">
        </div>
        <div class="grid-10">
            <strong class="label">Liczba bonów</strong>
            {{prd.reservedProductsCount}}
        </div>
        <div class="grid-10">
            <strong class="label">Data ważności bonów</strong>
            {{prd.expirationDate}}
        </div>
    </div>
</section>
<section>
    <!--------------------------------------KWOTY_ROZLICZEN---------------------------------------------->
    <div class="grid-100">
        <header>
            <h2>Kwoty rozliczeń</h2>
        </header>
    </div>
    <div class="grid-100">
        <div class="grid-20">
            <strong class="label">Kwota należna od Operatora Finansowego</strong>
            {{eReimbObject.entity.sxoTiAmountDueTotal}}
        </div>
        <div class="grid-20">
            <strong class="label">Kwota dopłaty od Użytkownika</strong>
            {{eReimbObject.entity.indTiAmountDueTotal}}
        </div>
    </div>
</section>
<section>
    <!--------------------------------------KOREKTY---------------------------------------------->
    <div class="grid-100">
        <header>
            <h2>Korekty</h2>
        </header>
    </div>
    <div class="grid-100">
        <div class="grid-10">
            tutaj będzie domyślnie wyświetlona jedna korekta wraz z liczbą wszystkich korekt, z możliwością rozwinięcia sekcji
        </div>
    </div>
</section>
<section>
    <!--------------------------------------ADRESACI_EMAIL---------------------------------------------->
    <div class="grid-100">
        <header>
            <h2>Adresaci email</h2>
        </header>
    </div>
    <div class="grid-100">
        <div class="grid-30">
            <input type="text" value="lucjan@sodexo.com, marcel@sodexo.com">
        </div>
    </div>
</section>
<section>
    <!--------------------------------------ZALACZNIKI---------------------------------------------->
    <div class="grid-100">
    <header>
        <h2>Załączniki do rozliczenia</h2>
    </header>
        <a href="" class="button" ng-click="addReimbursementAttachment()">Dodaj załącznik</a>
    </div>
    <div class="grid-100">
        <div class="grid-30">Nazwa załącznika</div>
        <div class="grid-15">Rodzaj dokumentu</div>
        <div class="grid-15">Plik załącznika</div>
        <div class="grid-40">Opis</div>
    </div>
    <div class="grid-100" ng-repeat="a in eReimbObject.entity.attachments">
        <div class="grid-30">
            <input type="text" ng-model="a.name"
                   ng-disabled="a.mandatory || a.originalFileName"
                   maxlength="50">
            <gryf-validation-msg path="reimbursementAttachments[{{$index}}].name">
            </gryf-validation-msg>
        </div>
        <div class="grid-15">
            <select ng-model="a.attachmentType.id"
                    ng-options="v.id as v.name for v in attachmentTypes"
                    ng-disabled="a.mandatory || a.originalFileName">
            </select>
            <gryf-validation-msg path="reimbursementAttachments[{{$index}}].attachmentType">
            </gryf-validation-msg>
        </div>
        <div class="grid-15">
            <div>
                {{a.file[0].name ? a.file[0].name : a.originalFileName }}
            </div>
            <a class="button"
               ng-model="a.file"
               ngf-select>
                Dodaj
            </a>
            <gryf-validation-msg path="reimbursementAttachments[{{$index}}].file">
            </gryf-validation-msg>
        </div>
        <div class="grid-30">
            <input type="text" ng-model="a.remarks" maxlength="500">
            <gryf-validation-msg path="reimbursementAttachments[{{$index}}].remarks">
            </gryf-validation-msg>
        </div>
        <div class="grid-10">
            <a class="button button-delete"
               ng-click="removeAttachment(a)"
               ng-if="!a.mandatory">Usuń</a>
            <a ng-if="a.originalFileName"
               class="button button-add"
               ng-href="{{getDownloadAttachmentLink(a)}}"
               target="_self">
                Pobierz załącznik
            </a>
        </div>
    </div>
</section>