<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
<header id="header">
    <h1>Rozliczenie szkolenia</h1>
    <ul>
        <li><a class="button button-save" ng-click="reject()" gryf-privilege="GRF_PBE_E_REIMBURSEMENTS_MOD" ng-if="rejectButtonVisible()">Odrzuć rozliczenie</a></li>
        <li><a class="button button-save" ng-click="sendToCorrect()" gryf-privilege="GRF_PBE_E_REIMBURSEMENTS_MOD" ng-if="correctButtonVisible()">Koryguj</a></li>
        <li><a class="button button-save" ng-click="createDocuments()" gryf-privilege="GRF_PBE_E_REIMBURSEMENTS_MOD" ng-if="generateDocumentsButtonVisible()">Generuj dokumenty</a></li>
        <li><a class="button button-save" ng-click="printReports()" gryf-privilege="GRF_PBE_E_REIMBURSEMENTS_MOD" ng-if="printReportsButtonVisible()">Drukuj raporty</a></li>
        <li><a class="button button-save" ng-click="confirm()" gryf-privilege="GRF_PBE_E_REIMBURSEMENTS_MOD" ng-if="confirmButtonVisible()">Zatwierdź rozliczenie</a></li>
        <li><a class="button button-save" ng-click="automaticConfirm()" gryf-privilege="GRF_PBE_E_REIMBURSEMENTS_MOD" ng-if="automaticConfirmButtonVisible()">Zatwierdź rozliczenie automatycznie</a></li>
        <li><a class="button button-save" ng-click="cancel()" gryf-privilege="GRF_PBE_E_REIMBURSEMENTS_MOD" ng-if="cancelButtonVisible()">Anuluj</a></li>
    </ul>
    <ol>
        <li><a class="button" data-ng-click="goBack()">Wróć</a></li>
    </ol>
    <div id="terminatedWarning" class="grid-100" style="background-color: #ff001c !important; min-height: 50px; margin-top: 5px;" data-ng-if="eReimbObject.entity.terminated">
        <div style="padding-top:10px">
            Przekroczono termin rozliczenia
        </div>
    </div>
</header>
<!--------------------------------------DANE_INSTYTUCJI_SZKOLENIOWEJ---------------------------------------------->
<section>
    <div class="grid-100">
        <header>
            <h2>Dane Usługodawcy</h2>
        </header>
    </div>
    <div class="grid-100">
        <div class="grid-10">
            <a ng-href="{{getUrlFor(MODULES.TrainingInstitution, eReimbObject.trainingInstitution.id)}}">
                <strong class="label">ID instytucji &UpperRightArrow; </strong>
            </a>
            <input type="text" ng-model="eReimbObject.trainingInstitution.id" readonly="readonly">
        </div>
        <div class="grid-20">
            <strong class="label">Nazwa instytucji</strong>
            {{eReimbObject.trainingInstitution.name}}
        </div>
        <div class="grid-10">
            <strong class="label">NIP</strong>
            {{eReimbObject.trainingInstitution.vatRegNum}}
        </div>
    </div>
</section>
<!--------------------------------------DANE_SZKOLENIA---------------------------------------------->
<section>
    <div class="grid-100">
        <header>
            <h2>Dane szkolenia</h2>
        </header>
    </div>
    <div class="grid-100">
        <div class="grid-10">
            <a ng-href="{{getUrlFor(MODULES.Training, eReimbObject.trainingInstance.trainingId)}}">
                <strong class="label">ID szkolenia &UpperRightArrow; </strong>
            </a>
            <input type="text" ng-model="eReimbObject.trainingInstance.trainingId" readonly="readonly">
        </div>
        <div class="grid-20">
            <strong class="label">Nazwa szkolenia</strong>
            {{eReimbObject.trainingInstance.trainingName}}
        </div>
        <div class="grid-10">
            <strong class="label">Kategoria</strong>
            {{eReimbObject.trainingInstance.trainingCategory}}
        </div>
        <div class="grid-10">
            <strong class="label">Miejsce</strong>
            {{eReimbObject.trainingInstance.trainingPlace}}
        </div>
        <div class="grid-15">
            <strong class="label">Dokonano szkolenia</strong>
            {{eReimbObject.trainingInstance.opinionDone ? 'Tak' : 'Nie'}}
        </div>
    </div>
    <div class="grid-100">
        <div class="grid-10">
            <strong class="label">Cena</strong>
            {{eReimbObject.trainingInstance.trainingPrice}}
        </div>
        <div class="grid-20">
            <strong class="label">Max. liczba godzin rozliczonych bonami</strong>
            {{eReimbObject.trainingInstance.maxProductsNumber}}
        </div>
        <div class="grid-15">
            <strong class="label">Liczba godzin lekcyjnych</strong>
            {{eReimbObject.trainingInstance.trainingHoursNumber}}
        </div>
        <div class="grid-10">
            <strong class="label">Data rozpoczęcia</strong>
            {{eReimbObject.trainingInstance.startDate  | date:'yyyy-MM-dd'}}
        </div>
        <div class="grid-10">
            <strong class="label">Data zakończenia</strong>
            {{eReimbObject.trainingInstance.endDate  | date:'yyyy-MM-dd'}}
        </div>
    </div>
</section>
<!--------------------------------------DANE_UCZESTNIKA---------------------------------------------->
<section>
    <div class="grid-100">
        <header>
            <h2>Dane uczestnika</h2>
        </header>
    </div>
    <div class="grid-100">
        <div class="grid-10">
            <a ng-href="{{getUrlFor(MODULES.Individual, eReimbObject.trainingInstance.participantId)}}">
                <strong class="label">ID uczestnika &UpperRightArrow; </strong>
            </a>
            <input type="text" ng-model="eReimbObject.trainingInstance.participantId" readonly="readonly">
        </div>
        <div class="grid-10">
            <strong class="label">PESEL</strong>
            {{eReimbObject.trainingInstance.participantPesel}}
        </div>
        <div class="grid-10">
            <strong class="label">Imię</strong>
            {{eReimbObject.trainingInstance.participantName}}
        </div>
        <div class="grid-10">
            <strong class="label">Nazwisko</strong>
            {{eReimbObject.trainingInstance.participantSurname}}
        </div>
    </div>
</section>
<!--------------------------------------WYKORZYSTANE_BONY---------------------------------------------->
<section>
    <div class="grid-100">
        <header>
            <h2>Wykorzystane bony</h2>
        </header>
    </div>
    <div class="grid-100" ng-repeat="prd in eReimbObject.entity.products">
        <div class="grid-10">
            <a ng-href="{{getUrlFor(MODULES.Order, prd.orderId)}}">
                <strong class="label">ID zamówienia &UpperRightArrow; </strong>
            </a>
            <input type="text" ng-model="prd.orderId" readonly="readonly">
        </div>
        <div class="grid-10">
            <strong class="label">Liczba bonów</strong>
            {{prd.reservedProductsCount}}
        </div>
        <div class="grid-10">
            <strong class="label">Data ważności bonów</strong>
            {{prd.expirationDate  | date:'yyyy-MM-dd'}}
        </div>
    </div>
</section>
<!--------------------------------------KWOTY_ROZLICZEN---------------------------------------------->
<section>
    <div class="grid-100">
        <header>
            <h2>Kwoty rozliczeń</h2>
        </header>
    </div>
    <div class="grid-100">
        <div class="grid-20">
            <strong class="label">Kwota należna IS od Sodexo</strong>
            {{eReimbObject.entity.sxoTiAmountDueTotal}}
        </div>
        <div class="grid-20">
            <strong class="label">Kwota należna Uczestnikowi od Sodexo</strong>
            {{eReimbObject.entity.sxoIndAmountDueTotal}}
        </div>
        <div class="grid-20">
            <strong class="label">Kwota należna IS od Uczestnika</strong>
            {{eReimbObject.entity.indTiAmountDueTotal}}
        </div>
        <div class="grid-20">
            <strong class="label">Wykorzystany wkład własny Uczestnika</strong>
            {{eReimbObject.entity.indOwnContributionUsed}}
        </div>
        <div class="grid-20">
            <strong class="label">Wartość dofinansowania Uczestnika</strong>
            {{eReimbObject.entity.indSubsidyValue}}
        </div>
    </div>
</section>
<!--------------------------------------KOREKTY---------------------------------------------->
<section>
    <div class="grid-100">
        <header>
            <h2>Korekty</h2>
        </header>
    </div>
    <div class="grid-100">
        <table class="table table-condensed" ng-show="correctionObject.loadedCorrections.length > 0">
            <thead>
            <tr class="grid-100">
                <th class="grid-10">Numer korekty</th>
                <th class="grid-20">Wymagany termin korekty</th>
                <th class="grid-20">Data otrzymania korekty</th>
                <th class="grid-20">Powód korekty</th>
                <th class="grid-20">Załączniki</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="corr in correctionObject.loadedCorrections | orderBy : 'correctionNumber' : true">
                <td>{{::corr.correctionNumber}}</td>
                <td>{{::corr.requiredDate  | date:'yyyy-MM-dd'}}</td>
                <td>{{::corr.complementDate  | date:'yyyy-MM-dd'}}</td>
                <td>{{::corr.correctionReason}}</td>
                <td data-ng-if="corr.attachments.length > 0">
                    <!-- załączniki do korekt -->
                    <table>
                        <thead>
                        <tr class="grid-100">
                            <th class="grid-10">Rodzaj załącznika</th>
                            <th class="grid-20">Numer dokumentu</th>
                            <th class="grid-20">Opis dodatkowy</th>
                            <th class="grid-20">Oryginalna nazwa pliku</th>
                            <th class="grid-10">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="att in corr.attachments">
                            <td>{{::att.attTypeName}}</td>
                            <td>{{::att.oldDocumentNumber}}</td>
                            <td>{{::att.oldAdditionalDesc}}</td>
                            <td><a ng-href="{{getDownloadCorrAttachmentLink(att)}}">{{att.originalFileName}}</a></td>
                            <td>{{att.status == 'DELETED' ? 'Usunięto' : 'Zmieniono'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <h1 ng-show="correctionObject.loadedCorrections.length == 0">Brak korekt</h1>
    </div>
    <div class="grid-100">
        <button ng-hide="correctionObject.isNewCorrect" class="button button-new"
                ng-click="getNewRequiredCorrectionDate()" gryf-privilege="">Nowa korekta
        </button>

        <button ng-show="!correctionObject.isCorrectionsLoaded && correctionObject.loadedCorrections[0].correctionNumber > 1" class="button button-infinity"
                ng-click="findAllCorrections()" style="margin-left: 10px;">Wczytaj wszystkie
        </button>
        </td>

        <div class="grid-15" ng-show="correctionObject.isNewCorrect">
            <strong class="label">Wymagany termin korekty</strong>
            <input type="text"
                   ng-model="correctionObject.entity.requiredDate"
                   datepicker-popup="yyyy-MM-dd"
                   is-open="false"
                   disabled="disabled"/>
            <gryf-validation-msg path="applyDateFrom"/>
        </div>
        <div class="grid-50" ng-show="correctionObject.isNewCorrect">
            <strong class="label">Powód korekty</strong>
            <textarea ng-model="correctionObject.entity.correctionReason" rows="3" maxlength="250"></textarea>
            <gryf-validation-msg path="correctionReason"/>
        </div>
    </div>
</section>
<!--------------------------------------ODRZUCENIE---------------------------------------------->
<section>
    <div class="grid-100">
        <header>
            <h2>Odrzucenie</h2>
        </header>
    </div>
    <div class="grid-100">
        <div class="grid-20">
            <strong class="label">Przyczyna odrzucenia</strong>
            <select ng-options="item.id as item.name for item in rejectionReasons" ng-model="eReimbObject.entity.rejectionReasonId" data-ng-disabled="rejectionPaneDisabled()">
                <option value="">-wybierz-</option>
            </select>
            <gryf-validation-msg path="rejectionReasonId"></gryf-validation-msg>
        </div>
        <div class="grid-60">
            <strong class="label">Szczegóły odrzucenia szkolenia</strong>
            <textarea ng-model="eReimbObject.entity.rejectionDetails" rows="8" maxlength="4000" data-ng-disabled="rejectionPaneDisabled()"></textarea>
        </div>
    </div>
</section>
<!--------------------------------------WYGENEROWANE_RAPORTY---------------------------------------------->
<section data-ng-if="generatedReportsAndEmailsSectionVisible()">
    <div class="grid-100">
        <header>
            <h2>Wygenerowane raporty</h2>
        </header>
    </div>
    <div ng-repeat="item in eReimbObject.entity.reports" class="grid-100">
        <div class="grid-30">
            {{item.typeName}}
        </div>
        <div class="grid-30">
            <a class="button button-new" ng-href="{{getReportFile(item)}}">
                Pobierz
            </a>
        </div>
    </div>
</section>
<!--------------------------------------Maile do wysłania---------------------------------------------->
<section data-ng-if="generatedReportsAndEmailsSectionVisible()" data-ng-init="generateMailFromTemplatesOnInitIfNull()">
    <div class="grid-100">
        <header>
            <h2>Maile do wysłania</h2>
        </header>
    </div>
    <fieldset class="grid-100" data-ng-repeat="mail in eReimbObject.entity.emails" data-ng-disabled="{{mail.id != null}}">
        <div class="grid-100">
            <div class="grid-30">
                <div>Adresaci email</div>
                <input type="text" data-ng-model="mail.emailsTo">
            </div>
            <div class="grid-30">
                <div>Tytuł maila</div>
                <input type="text" data-ng-model="mail.emailSubject">
            </div>
            <div class="grid-40">
                <div>Treść maila</div>
                <textarea rows="5" cols="50" data-ng-model="mail.emailBody"></textarea>
            </div>
        </div>
        <div class="grid-100">
            <header>
                <h3>Załączniki</h3>
            </header>
            <div class="grid-100" data-ng-repeat="att in mail.attachments">
                <div class="grid-100">
                    <div class="grid-20">
                        <div>Nazwa załącznika</div>
                        <input type="text" data-ng-model="att.name">
                    </div>
                    <div class="grid-30">
                        <div>{{att.file[0].name ? att.file[0].name : att.originalFilename}}</div>
                    </div>
                    <div class="grid-40">
                        <button class="button button-save" ng-model="att.file" ngf-select
                                ngf-pattern=".pdf,.doc,.docx,.xls,.xlsx,.png,.jpg,.gif">
                            {{(!att.file[0].name && !att.originalFileName) ? "Wgraj plik" : "Zmień plik"}}
                        </button>
                        <button class="button button-save" ng-click="deleteMailAtt(mail,att)">
                            Usuń
                        </button>
                    </div>
                </div>
            </div>
            <div class="grid-100">
                <button class="button button-save" ng-click="addNewAttToMail(mail)">Dodaj plik</button>
                <button class="button button-save" ng-click="sendMail(mail)">Wyślij maila</button>
            </div>
        </div>
    </fieldset>
</section>
<!--------------------------------------ZALACZNIKI---------------------------------------------->
<section>
    <div class="grid-100">
        <header>
            <h2>Załączniki do rozliczenia</h2>
        </header>
    </div>
    <div data-ng-if="eReimbObject.entity.grantProgramId">
        <attachments model="eReimbObject.entity" violations="violations" is-disabled="isDisabled()" save-url="getSaveAttUrl()"/>
    </div>
</section>