<header id="header">
    <h1>Lista rozliczeń elektronicznych</h1>
    <ul>
        <li><a ng-click="clear()" class="button button-refresh">wyczyść</a></li>
    </ul>
</header>
<div class="one-column">
    <section class="overflow-x-auto">
        <table class="table table-condensed">
            <thead>
            <tr class="grid-100">
                <th class="sortable grid-15" ng-class="getSortingTypeClass('elctRmbsCriteria.rmbsNumber')">
                    <div ng-click="getSortedBy('elctRmbsCriteria.rmbsNumber')">
                        Numer rozliczenia
                    </div>
                    <input placeholder="Numer rozliczenia" type="text" ng-model="elctRmbsCriteria.rmbsNumber">
                </th>
                <th class="sortable grid-20" ng-class="getSortingTypeClass('elctRmbsCriteria.trainingName')">
                    <div ng-click="getSortedBy('elctRmbsCriteria.trainingName')">
                        Nazwa szkolenia
                    </div>
                    <input placeholder="Nazwa szkolenia" type="text"ng-model="elctRmbsCriteria.trainingName">
                </th>
                <th class="sortable grid-15" ng-class="getSortingTypeClass('elctRmbsCriteria.pese')">
                    <div ng-click="getSortedBy('elctRmbsCriteria.pese')">
                        PESEL Uczestnika
                    </div>
                    <input placeholder="PESEL Uczestnika" type="text" ng-model="elctRmbsCriteria.pesel">
                </th>
                <th class="sortable grid-10" ng-class="getSortingTypeClass('elctRmbsCriteria.participantName')">
                    <div ng-click="getSortedBy('elctRmbsCriteria.participantName')">
                        Imię uczestnika
                    </div>
                    <input placeholder="Imię uczestnika" type="text" ng-model="elctRmbsCriteria.participantName">
                </th>
                <th class="sortable grid-10" ng-class="getSortingTypeClass('elctRmbsCriteria.participantSurname')">
                    <div ng-click="getSortedBy('elctRmbsCriteria.participantSurname')">
                        Nazwisko uczestnika
                    </div>
                    <input placeholder="Nazwisko uczestnika" type="text" ng-model="elctRmbsCriteria.participantSurname">
                </th>
                <th class="sortable grid-15"
                    ng-class="getSortingTypeClass('elctRmbsCriteria.rmbsDateFrom')">
                    <div ng-click="getSortedBy('elctRmbsCriteria.rmbsDateFrom')">
                        Data rozliczenia
                    </div>
                    <input type="text"
                           placeholder="Data od"
                           ng-model="elctRmbsCriteria.rmbsDateFrom"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.reimbursementDateFromOpened"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('reimbursementDateFromOpened')"/>
                    <input type="text"
                           placeholder="Data do"
                           ng-model="elctRmbsCriteria.rmbsDateTo"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.reimbursementDateToOpened"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('reimbursementDateToOpened')"/>
                </th>
                <th class="sortable grid-15" ng-class="getSortingTypeClass('elctRmbsCriteria.rmbsStatus')">
                    <div ng-click="getSortedBy('elctRmbsCriteria.rmbsStatus')">
                        Status rozliczenia
                    </div>
                    <select ng-model="elctRmbsCriteria.rmbsStatus"
                            ng-options="v.name as v.name for v in elctRmbsModel.rmbsStatuses"></select>
                </th>
                <th>
                    <a ng-click="find()" class="button button-search">szukaj</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in elctRmbsModel.foundRmbs | limitTo: searchResultOptions.displayLimit">
                <td>{{::item.rmbsNumber}}</td>
                <td>{{::item.trainingName}}</td>
                <td>{{::item.pesel}}</td>
                <td>{{::item.participantName}}</td>
                <td>{{::item.participantSurname}}</td>
                <td>{{::item.rmbsDate | date:'yyyy-MM-dd'}}</td>
                <td>{{::item.rmbsStatus}}</td>
                <td>
                    <ul class="buttons">
                        <li>
                            <a ng-href="#/announce/{{item.rmbsNumber}}"
                               class="button button-go"
                               gryf-privilege="">Obsługa</a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-show="searchResultOptions.overflow" class="centered-ul">
            <ul>
                <li><a ng-href="" ng-click="loadMore()"
                       class="button button-infinity">
                    wczytaj więcej wyników</a>
                </li>
            </ul>
        </div>
        <div class="" ng-show="model.zipCodesArray.length===0">
            Brak wyników
        </div>
        <div class="msg msg-error" ng-show="searchResultOptions.badQuery">
            <p>Błąd kryteriów zapytania - niepoprawny format</p>
        </div>
    </section>

</div>