<header id="header">
    <h1>Lista rozliczeń elektronicznych</h1>
    <ul>
        <li><a ng-click="clear()" class="button button-refresh">wyczyść</a></li>
    </ul>
</header>
<div class="one-column">
    <section class="overflow-x-auto">
        <table class="table table-condensed">
            <thead>
            <tr class="grid-100">
                <th class="sortable grid-10" ng-class="getSortingTypeClass('rmbsNumber')">
                    <div ng-click="getSortedBy('rmbsNumber')">
                        Numer rozliczenia
                    </div>
                    <input placeholder="Numer rozliczenia" type="text"
                           force-digits ng-model="elctRmbsCriteria.rmbsNumber">
                </th>
                <th class="sortable grid-10" ng-class="getSortingTypeClass('grantProgramName')">
                    <div ng-click="getSortedBy('grantProgramName')">
                        Program dofinansowania
                    </div>
                    <select
                            ng-options="v.id as v.name for v in grantPrograms"
                            ng-model="elctRmbsCriteria.grantProgramId">
                        <option label="-wybierz-"></option>
                    </select>
                </th>
                <th class="sortable grid-10" ng-class="getSortingTypeClass('rmbsType')">
                    <div ng-click="getSortedBy('rmbsType')">
                        Typ rozliczenia
                    </div>
                    <select ng-model="elctRmbsCriteria.rmbsType"
                            ng-options="v.name as v.name for v in dictionaries.rmbsTypes">
                        <option label="-wybierz-"></option>
                    </select>
                </th>
                <th class="sortable grid-20" ng-class="getSortingTypeClass('trainingName')">
                    <div ng-click="getSortedBy('trainingName')">
                        Nazwa usługi
                    </div>
                    <input placeholder="Nazwa usługi" type="text"ng-model="elctRmbsCriteria.trainingName">
                </th>
                <th class="sortable grid-10" ng-class="getSortingTypeClass('trainingExternalId')">
                    <div ng-click="getSortedBy('trainingExternalId')">
                        Nr usługi
                    </div>
                    <input placeholder="Nr usługi" type="text"ng-model="elctRmbsCriteria.trainingExternalId">
                </th>
                <th class="sortable grid-15" ng-class="getSortingTypeClass('pesel')">
                    <div ng-click="getSortedBy('pesel')">
                        PESEL Uczestnika
                    </div>
                    <input placeholder="PESEL Uczestnika" type="text" ng-model="elctRmbsCriteria.pesel">
                </th>
                <th class="sortable grid-10" ng-class="getSortingTypeClass('participantName')">
                    <div ng-click="getSortedBy('participantName')">
                        Imię uczestnika
                    </div>
                    <input placeholder="Imię uczestnika" type="text" ng-model="elctRmbsCriteria.participantName">
                </th>
                <th class="sortable grid-10" ng-class="getSortingTypeClass('participantSurname')">
                    <div ng-click="getSortedBy('participantSurname')">
                        Nazwisko uczestnika
                    </div>
                    <input placeholder="Nazwisko uczestnika" type="text" ng-model="elctRmbsCriteria.participantSurname">
                </th>
                <th class="sortable grid-15" ng-class="getSortingTypeClass('rmbsDate')">
                    <div ng-click="getSortedBy('rmbsDate')">
                        Data rozliczenia
                    </div>
                    <input type="text"
                           placeholder="Data od"
                           ng-model="elctRmbsCriteria.rmbsDateFrom"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.reimbursementDateFromOpened"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('reimbursementDateFromOpened')"/>
                    <input type="text"
                           placeholder="Data do"
                           ng-model="elctRmbsCriteria.rmbsDateTo"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="datepicker.reimbursementDateToOpened"
                           close-text="Zamknij"
                           clear-text="Czyść"
                           current-text="Dziś"
                           ng-click="openDatepicker('reimbursementDateToOpened')"/>
                </th>
                <th class="sortable grid-15" ng-class="getSortingTypeClass('rmbsStatus')">
                    <div ng-click="getSortedBy('rmbsStatus')">
                        Status rozliczenia
                    </div>
                    <select ng-model="elctRmbsCriteria.rmbsStatus"
                            ng-options="v.name as v.name for v in dictionaries.rmbsStatuses">
                        <option label="-wybierz-"></option>
                    </select>
                </th>
                <th class="sortable grid-15" ng-class="getSortingTypeClass('noteNumber')">
                    <div ng-click="getSortedBy('noteNumber')">
                        Numer noty rozliczeniowej
                    </div>
                    <input placeholder="Numer noty" type="text" ng-model="elctRmbsCriteria.noteNumber">
                </th>
                <th>
                    <a ng-click="find()" class="button button-search">szukaj</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in elctRmbsModel.foundRmbs | limitTo: searchResultOptions.displayLimit">
                <td>{{::item.rmbsNumber}}</td>
                <td>{{::item.grantProgramName}}</td>
                <td>{{::item.rmbsType}}</td>
                <td>{{::item.trainingName}}</td>
                <td>{{::item.trainingExternalId}}</td>
                <td>{{::item.pesel}}</td>
                <td>{{::item.participantName}}</td>
                <td>{{::item.participantSurname}}</td>
                <td>{{::item.rmbsDate | date:'yyyy-MM-dd'}}</td>
                <td>{{::item.rmbsStatus}}</td>
                <td>{{::item.noteNumber}}</td>
                <td>
                    <ul class="buttons">
                        <li>
                            <a ng-href="{{getEreimbursementDetailsLink(item)}}"
                               class="button button-go"
                               gryf-privilege="">Obsługa</a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-show="searchResultOptions.overflow" class="centered-ul">
            <ul>
                <li><a ng-href="" ng-click="loadMore()"
                       class="button button-infinity">
                    wczytaj więcej wyników</a>
                </li>
            </ul>
        </div>
        <div class="" ng-show="model.zipCodesArray.length===0">
            Brak wyników
        </div>
        <div class="msg msg-error" ng-show="searchResultOptions.badQuery">
            <p>Błąd kryteriów zapytania - niepoprawny format</p>
        </div>
    </section>

</div>