<div class="grid-100">
    <table>
        <thead>
        <tr class="grid-100 tableHeader-names">
            <th class=grid-20">
                <div>Rodzaj załącznika</div>
            </th>
            <th class="grid-20">
                <div>Numer dokumentu (np. FV) lub opis</div>
            </th>
            <th class="grid-20">
                <div>Opis dodatkowy</div>
            </th>
            <th class="grid-20">
            </th>
            <th class="grid-20">
            </th>
        </tr>
        </thead>
        <tbody class="tableData">
        <tr ng-repeat="item in model.attachments" ng-class="{'row-even': $even, 'row-odd': $odd}">
            <td>
                <select ng-model="item.code" data-ng-disabled="item.required">
                    <option data-ng-repeat="t in modelTypes.types" data-ng-show="!t.required" ng-selected="{{t.code == item.code}}" value="{{t.code}}">{{t.name}}</option>
                </select>
            </td>
            <td><input type="text" data-ng-model="item.documentNumber"/></td>
            <td><input type="text" data-ng-model="item.additionalDescription"/></td>
            <td><a>{{item.file.name}}</a></td>
            <td>
                <ul class="buttons">
                    <!--TODO:przywileje-->
                    <li>
                        <!--TODO: dodać zmienną definiującą maksymalny rozmiar pliku, gdy nie został zdefiniowany per typ-->
                        <button class="standardButton" ng-model="item.file" ngf-select ngf-max-size="{{item.maxFileSize ? item.maxFileSize : '2MB'}}" ngf-model-invalid="item.errorFile">
                            {{!item.file.name ? "Wgraj plik" : "Zmień plik"}}
                        </button>
                        <i ng-show="item.errorFile.$errorMessages.maxSize">Załącznik przekracza maksymalny rozmiar pliku: {{item.maxFileSize ? item.maxFileSize / 1024 / 1024 : '2'}}MB</i>
                    </li>
                    <li>
                        <button class="standardButton" data-ng-if="!item.required" ng-click="deleteAtt(item)">
                            Usuń
                        </button>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <button class="standardButton" ng-click="addNew()">Dodaj plik</button>
    </div>
</div>