<div class="grid-100">
    <strong>Załączniki do rozliczenia</strong>
</div>
<div class="grid-100 redLabel" ng-hide="isDisabled">
    Maksymalny rozmiar załączonych plików to {{getMaxAttachmentSizeInMB()}} MB. W systemie można załączać jedynie dokumenty z następującymi rozszerzeniami: PDF,DOC,DOCX,XLS,XLSX,PNG,JPG,GIF.
</div>
<div style="padding-left:20px">
    <table>
        <thead>
        <tr class="grid-100 tableHeader-names">
            <th class=grid-20">
                <div>Rodzaj załącznika</div>
            </th>
            <th class="grid-20">
                <div>Numer dokumentu (np. FV) lub opis</div>
            </th>
            <th class="grid-20">
                <div>Data dokumentu</div>
            </th>
            <th class="grid-20">
                <div>Opis dodatkowy</div>
            </th>
            <th class="grid-20">
            </th>
            <th class="grid-20">
            </th>
        </tr>
        </thead>
        <tbody class="tableData">
        <tr ng-repeat="item in model.attachments" ng-class="{'row-even': $even, 'row-odd': $odd}" data-ng-hide="item.markToDelete">
            <td>
                <select ng-model="item.code" data-ng-disabled="item.required">
                    <option data-ng-repeat="t in modelTypes.types" data-ng-show="!t.required" ng-selected="{{t.code == item.code}}" value="{{t.code}}">{{t.name}}</option>
                </select>
            </td>
            <td>
                <input type="text" data-ng-model="item.documentNumber"/>
                <gryf-validation-msg style="position: absolute;" path="attachments[{{$index}}].documentNumber"></gryf-validation-msg>
            </td>
            <td>
                <input type="text"  ng-model="item.documentDate"
                       datepicker-popup="yyyy-MM-dd" is-open="datepicker.isDocumentDateOpened"
                       close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                       ng-click="openDatepicker('isDocumentDateOpened')"/>
            </td>
            <td>
                <input type="text" data-ng-model="item.additionalDescription"/>
            </td>
            <td>
                <a ng-href="{{getDownloadAttachmentLink(item)}}" ng-if="item.originalFileName && !item.changed">{{item.originalFileName}}</a>
                <a ng-if="item.file.name">{{item.file.name}}</a>
            </td>
            <td ng-hide="isDisabled">
                <button class="standardButton grid-70" ng-model="item.file" ngf-select ngf-max-size="{{item.maxFileSize ? item.maxFileSize : getMaxAttachmentSizeInMB() + 'MB'}}" ngf-model-invalid="item.errorFile" ngf-change="onItemClick(item, $index)"
                        ngf-pattern=".pdf,.doc,.docx,.xls,.xlsx,.png,.jpg,.gif">
                    {{(!item.file.name && !item.originalFileName) ? "Wgraj plik" : "Zmień plik"}}
                </button>
                <span class="msg msg-error" ng-show="item.errorFile.$errorMessages.maxSize">Załącznik przekracza maksymalny rozmiar pliku: {{item.maxFileSize ? item.maxFileSize / 1024 / 1024 : '2'}}MB</span>
                <span class="msg msg-error" ng-show="item.errorFile.$errorMessages.pattern">Niepoprawne rozszerzenie pliku</span>
                <gryf-validation-msg path="attachments[{{$index}}].file"></gryf-validation-msg>
                <button class="cancelButton grid-70" data-ng-if="!item.required" ng-click="deleteAtt(item)">
                    Usuń
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <button ng-hide="isDisabled" class="standardButton grid-10" ng-click="addNew()">Dodaj plik</button>
    </div>
</div>