<div id="modal-confirm">
    <div class="modal-header">
        <h3 class="modal-title">Potwierdzenie obecności uczestnika</h3>
    </div>
    <div class="modal-body text">
        <p>Zamierzasz potwierdzić obecność Uczestnika na wskazanym poniżej szkoleniu - czy potwierdzasz operację?</p>
    </div>
    <div class="grid-100">
        <div class="grid-40 centered">
            <strong class="label">Nowa ilość bonów</strong>
            <input type="text" ng-model="trainingInstanceModel.entity.newReservationNum">
            <gryf-validation-msg path="newReservationNum"></gryf-validation-msg>
        </div>
    </div>
    <table>
        <thead>
        <tr class="grid-100 tableHeader-names">
            <th class="grid-20">Nazwa szkolenia</th>
            <th class="grid-10">PESEL</th>
            <th class="grid-10">Imię</th>
            <th class="grid-10">Nazwisko</th>
            <th class="grid-10">Liczba potwierdzonych bonów</th>
            <th class="grid-15">Data rozpoczęcia</th>
            <th class="grid-15">Data zakończenia</th>
        </tr>
        </thead>
        <tbody class="tableData">
        <tr>
            <td>{{trainingInstanceModel.entity.trainingName}}</td>
            <td>{{trainingInstanceModel.entity.participantPesel}}</td>
            <td>{{trainingInstanceModel.entity.participantName}}</td>
            <td>{{trainingInstanceModel.entity.participantSurname}}</td>
            <td>{{trainingInstanceModel.entity.productAssignedNum}}</td>
            <td>{{trainingInstanceModel.entity.startDate  | date:'yyyy-MM-dd'}}</td>
            <td>{{trainingInstanceModel.entity.endDate  | date:'yyyy-MM-dd'}}</td>
        </tr>
        </tbody>
    </table>
    <div class="modalscop-footer">
        <div class="centered-ul">
            <ul>
                <li><a class="button button-force" ng-click="confirmReservationPIN()">Zatwierdź</a></li>
                <li><a class="button button-cancel button-gray" ng-click="$dismiss()">Anuluj</a></li>
            </ul>
        </div>
    </div>
</div>
