<div id="modal-error">
    <div class="modal-header">
        <h3 class="modal-title">! Wystąpił błąd</h3>
    </div>
    <div class="modal-body text" style="white-space: pre-wrap;">
        <p>{{message}}</p>
    </div>
    <div ng-show="isStacktraceVisible" style="overflow-y: scroll; height: 700px">
        <pre style="white-space: pre-wrap;" data-ng-click="selectTextOnClick($event)">{{stacktrace}}</pre>
    </div>
    <div class="modal-footer">
        <button class="button button-ok" ng-click="$dismiss()">Ok</button>
        <button class="button button-show" style="margin-left: 10px;" ng-init="isStacktraceVisible = false;" ng-click="isStacktraceVisible = !isStacktraceVisible">Opis błędu</button>
    </div>
</div>