<div>
    <div class="modal-header">
        <h3 class="modal-title">Wyszukaj i wybierz usługa</h3>
    </div>
    <div class="modal-body text">
        <div>
            <a ng-click="find()" class="button button-search">szukaj</a>
        </div>
        <table class="table">
            <thead>
            <tr class="inputs">
                <th><input placeholder="ID usługi" type="text" ng-model="model.entity.trainingId"></th>
                <th><input placeholder="ID usługodawcy" ng-model="model.entity.institutionId"></th>
                <th><input placeholder="Nazwa usługodawcy" ng-model="model.entity.institutionName"></th>
                <th><input placeholder="Nazwa usługi" ng-model="model.entity.name"></th>
                <th class="grid-10">
                    <input placeholder="Cena od" ng-model="model.entity.priceFrom">
                    <input placeholder="Cena do" ng-model="model.entity.priceTo">
                </th>
                <th>
                    <input placeholder="Data rozpoczęcia od" ng-model="model.entity.startDateFrom">
                    <input placeholder="Data rozpoczęcia do" ng-model="model.entity.startDateTo">
                </th>
                <th>
                    <input placeholder="Data zakończenia od" ng-model="model.entity.endDateFrom">
                    <input placeholder="Data zakończenia do" ng-model="model.entity.endDateTo">
                </th>
                <th><input placeholder="Miejsce" ng-model="model.entity.place"></th>
                <th>
                    <input placeholder="Liczba godzin od" ng-model="model.entity.hoursNumberFrom">
                    <input placeholder="Liczba godzin do" ng-model="model.entity.hoursNumberTo">
                </th>
                <th>
                    <input placeholder="Cena za 1h od" ng-model="model.entity.hourPriceFrom">
                    <input placeholder="Cena za 1h do" ng-model="model.entity.hourPriceTo">
                </th>
                <th><input placeholder="Kategoria" ng-model="model.entity.categoryCodes"></th>
            </tr>
            </thead>
            <tr ng-repeat="item in list | limitTo: searchResultOptions.displayLimit" ng-click="$close(item)" class="mouseover">
                <td>{{item.trainingId}}</td>
                <td>{{item.institutionId}}</td>
                <td>{{item.institutionName}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.startDate  | date:'yyyy-MM-dd'}}</td>
                <td>{{item.endDate  | date:'yyyy-MM-dd'}}</td>
                <td>{{item.place}}</td>
                <td>{{item.hoursNumber}}</td>
                <td>{{item.hourPrice}}</td>
                <td>{{item.category}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="searchResultOptions.overflow" class="centered-ul">
        <ul>
            <li><a href="" ng-click="loadMore()" class="button button-infinity">wczytaj więcej wyników</a></li>
        </ul>
    </div>
    <div class="" ng-show="model.searchResultList.length===0">
        Brak wyników
    </div>
    <div class="msg msg-error" ng-show="searchResultOptions.badQuery">
        <p>Błąd kryteriów zapytania - niepoprawny format</p>
    </div>
    <div class="modal-footer">
        <div class="centered-ul">
            <ul>
                <li><button class="button button-cancel" ng-click="$dismiss()">Anuluj</button></li>
            </ul>
        </div>
    </div>
</div>