<section ng-hide="userTrainingReservationData.data">
   <div class="block borderTop green">
      <div class="multiSection">
         <div class="grid-50">
            <br/>
            <strong class="label">Prosimy podać PESEL oraz kod weryfikacyjny Uczestnika</strong>
         </div>
         <div class="grid-50 multiSection">
            <div class="grid-50">
               <strong class="label">PESEL Uczestnika</strong>
               <input type="text" ng-model="individualUser.data.pesel" name="pesel">
               <gryf-validation-msg path="pesel"></gryf-validation-msg>
            </div>
            <div class="grid-50">
               <strong class="label">Kod weryfikacyjny Uczestnika</strong>
               <input type="text" ng-model="individualUser.data.verificationCode">
               <gryf-validation-msg path="verificationCode"></gryf-validation-msg>
            </div>
         </div>
      </div>
      <div class="grid-100 text-right">
         <button class="standardButton" data-ng-click="loadUserTrainingReservationData()">Rezerwuj nowe usługa</button>
      </div>
   </div>
</section>

<section ng-show="userTrainingReservationData.data">
   <strong class="label">Dane Uczestnika i liczba bonów</strong>
   <div class="block borderTop green">
      <div class="multiSection">
         <div class="grid-20">
            <strong class="label">Imię i nazwisko uczestnika</strong>
            <div>{{userTrainingReservationData.data.firstName + " " + userTrainingReservationData.data.lastName}}</div>
         </div>
         <div class="grid-10">
            <strong class="label">PESEL</strong>
            <div>{{userTrainingReservationData.data.pesel}}</div>
         </div>
         <div class="grid-30">
            <table>
               <thead class="text-left">
                  <th class="grid-10">
                     <strong class="label">Liczba dostępnych bonów</strong>
                  </th>
                  <th class="grid-10">
                     <strong class="label">Data ważności</strong>
                  </th>
               </thead>
               <tbody class="tableData">
                  <tr ng-repeat="pool in userTrainingReservationData.data.productInstancePools" ng-class="{'row-even': $even, 'row-odd': $odd}">
                     <td>{{::pool.availableNum}}</td>
                     <td>{{::pool.expiryDate  | date:'yyyy-MM-dd'}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="grid-20">
            <strong class="label">Program dofinansowania</strong>
            <div ng-repeat="contract in userTrainingReservationData.data.contracts">{{contract.grantProgram.name}}</div>
         </div>
         <div class="grid-20 text-right">
               <button class="standardButton" data-ng-click="reserveTrainingForAnotherUser()">Rezerwuj usługa dla innego uczestnika</button>
         </div>
      </div>
   </div>
</section>
<div class="row-30"></div>
<section ng-show="userTrainingReservationData.data">
   <table>
      <thead>
      <tr class="grid-100 tableHeader-names">
         <th class="sortable grid-20" ng-class="getSortingTypeClass('name')">
            <div ng-click="getSortedBy('name')">Nazwa usługi</div>
         </th>
         <th class="sortable grid-10" ng-class="getSortingTypeClass('price')">
            <div ng-click="getSortedBy('price')">Cena usługi (PLN)</div>
         </th>
         <th class="sortable grid-10" ng-class="getSortingTypeClass('hoursNumber')">
            <div ng-click="getSortedBy('hoursNumber')">Liczba godzin szkoleniowych</div>
         </th>
         <th class="sortable grid-10" ng-class="getSortingTypeClass('startDate')">
            <div ng-click="getSortedBy('startDate')">Data rozpoczęcia</div>
         </th>
         <th class="sortable grid-10" ng-class="getSortingTypeClass('endDate')">
            <div ng-click="getSortedBy('endDate')">Data zakończenia</div>
         </th>
         <th class="sortable grid-10" ng-class="getSortingTypeClass('place')">
            <div ng-click="getSortedBy('place')">Miejsce</div>
         </th>
         <th class="sortable grid-25" ng-class="getSortingTypeClass('category')">
            <div ng-click="getSortedBy('category')">Kategoria</div>
         </th>
      </tr>
      <tr class="grid-100 tableHeader-options">
         <th class="grid-20">
            <input type="text" ng-model="searchDTO.entity.name">
         </th>
         <th class="grid-10">
            <input type="text" placeholder="Min" ng-model="searchDTO.entity.priceFrom"
                   force-digits pattern-type="float" maxlength="10"/>
            <input type="text" placeholder="Max" ng-model="searchDTO.entity.priceTo"
                   force-digits pattern-type="float" maxlength="10"/>
         </th>
         <th class="grid-10">
            <input type="text" placeholder="Min" ng-model="searchDTO.entity.hoursNumberFrom"
                   force-digits pattern-type="float" maxlength="10">
            <input type="text" placeholder="Max" ng-model="searchDTO.entity.hoursNumberTo"
                   force-digits pattern-type="float" maxlength="10">
         </th>
         <th class="grid-10">
            <input type="text" ng-model="searchDTO.entity.startDateFrom"
                   datepicker-popup="yyyy-MM-dd" is-open="datepicker.isTrainingStartDateFromOpened"
                   close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                   ng-click="openDatepicker('isTrainingStartDateFromOpened')"/>
            <input type="text" ng-model="searchDTO.entity.startDateTo"
                   datepicker-popup="yyyy-MM-dd" is-open="datepicker.isTrainingStartDateToOpened"
                   close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                   ng-click="openDatepicker('isTrainingStartDateToOpened')"/>
         </th>
         <th class="grid-10">
            <input type="text" ng-model="searchDTO.entity.endDateFrom"
                   datepicker-popup="yyyy-MM-dd" is-open="datepicker.isTrainingEndDateFromOpened"
                   close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                   ng-click="openDatepicker('isTrainingEndDateFromOpened')"/>
            <input type="text" ng-model="searchDTO.entity.endDateTo"
                   datepicker-popup="yyyy-MM-dd" is-open="datepicker.isTrainingEndDateToOpened"
                   close-text="Zamknij" clear-text="Czyść" current-text="Dziś"
                   ng-click="openDatepicker('isTrainingEndDateToOpened')"/>
         </th>
         <th class="grid-10">
            <input ng-model="searchDTO.entity.place">
         </th>
         <th class="grid-25">
            <select ng-options="v.id as v.name for v in dictionaries.trainingCategories | orderBy:'ordinal'" ng-model="searchDTO.entity.categoryCodes" multiple>
               <option value="">-wybierz-</option>
            </select>
         </th>
         <th class="grid-5">
            <button class="standardButton" ng-click="findToReserve()">Wyszukaj</button>
         </th>
      </tr>
      </thead>
      <tbody class="tableData">
      <tr ng-repeat="item in searchDTO.searchResultList | limitTo: searchResultOptions.displayLimit" ng-class="{'row-even': $even, 'row-odd': $odd}">
         <td>{{::item.name}}</td>
         <td>{{::item.price}}</td>
         <td>{{::item.hoursNumber}}</td>
         <td>{{::item.startDate  | date:'yyyy-MM-dd'}}</td>
         <td>{{::item.endDate  | date:'yyyy-MM-dd'}}</td>
         <td>{{::item.place}}</td>
         <td>{{::item.category}}</td>
         <td>
            <ul class="text-center no-margin-padding">
               <li class="textButton green"
                   ui-sref="trainingReservation.trainingDetails({trainingId: item.trainingId})">SZCZEGÓŁY</li>
               <li class="textButton green" ng-click="reserveTraining(item)">REZERWUJ</li>
            </ul>
         </td>
      </tr>
      </tbody>
   </table>
   <div ng-show="searchResultOptions.overflow" class="text-center">
      <ul>
         <li>
            <button ng-click="loadMore()" class="standardButton">Wczytaj więcej wyników</button>
         </li>
      </ul>
   </div>
   <div class="emptyResult" ng-show="searchDTO.searchResultList.length == 0">
      Brak wyników
   </div>
</section>