<div id="content">
    <div class="grid">
        <article itemprop="text" class="text centered">
            <h1 itemprop="headline name" class="headline name">Panel Zmiany Hasła</h1>

            <p itemprop="description" class="description">Prosimy, wprowadź dane uwierzytelniające. Następnie nowe hasło i dla bezpieczeństwa ponownie nowe hasło.</p>

            <section class="form form-login">
                <fieldset>
                    <div class="field input input-short required">
                        <div class="label">
                            <label for="current-password">Hasło</label>
                        </div>
                        <div class="control">
                            <input id="current-password" ng-model="passwordModel.currentPassword" type="password" name="password" tabindex="1" autocomplete="off">
                        </div>
                    </div>
                    <div class="field input input-short required">
                        <div class="label">
                            <label for="new-password">Nowe Hasło</label>
                        </div>
                        <div class="control">
                            <input id="new-password" ng-model="passwordModel.newPassword" type="password" name="newpassword" tabindex="2" autocomplete="off">
                        </div>
                    </div>
                    <div class="field input input-short required">
                        <div class="label">
                            <label for="confirm-password">Potwierdź Hasło</label>
                        </div>
                        <div class="control">
                            <input id="confirm-password" ng-model="passwordModel.confirmPassword" type="password" name=confirm"password" tabindex="3" autocomplete="off">
                        </div>
                    </div>
                </fieldset>
                <div class="submit submit-left">
                    <button ng-click="changePassword()" tabindex="4">Zmień hasło</button>
                </div>
            </section>

        </article>
    </div>
</div>
